<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0"><a style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Updating the wrong entry?</a>
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>
                </div>
            </th>
        </tr>
    </thead>


    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('encounter', null, match_diff.encounter)" ng-class="{selected: selectedItems.encounter, disabled: match_diff.encounter}" ng-show="new_entry.encounter">

                <span ng-hide='match_diff.encounter || selectedItems.encounter' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.encounter || selectedItems.encounter'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div coded-entry input-value="new_entry.encounter" input-title="Encounter" select-field="selectedItems.encounter"></div>
            </div>
             <div ng-hide="new_entry.encounter" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('encounter', null, match_diff.encounter)" ng-class="{selected: selectedItems.encounter, disabled: match_diff.encounter}" ng-show="update_entry.encounter">

                <span ng-show='selectedItems.encounter' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.encounter || selectedItems.encounter'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div coded-entry input-value="update_entry.encounter" input-title="Encounter" select-field="selectedItems.encounter"></div>
            </div>
             <div ng-hide="update_entry.encounter" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">

                <span ng-hide='match_diff.date_time || selectedItems.date_time' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.date_time || selectedItems.date_time'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
            </div>
             <div ng-hide="new_entry.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="update_entry.date_time">

                <span ng-show='selectedItems.date_time' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.date_time || selectedItems.date_time'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div date-entry input-value="update_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
            </div>
             <div ng-hide="update_entry.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('performers', null, match_diff.performers)" ng-class="{selected: selectedItems.performers, disabled: match_diff.performers}" ng-show="new_entry.performers">

                <span ng-hide='match_diff.performers || selectedItems.performers' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.performers || selectedItems.performers'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div performers-entry input-value="new_entry.performers" input-title="Performers" select-field="selectedItems.performers"></div>
            </div>
             <div ng-hide="new_entry.performers" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('performers', null, match_diff.performers)" ng-class="{selected: selectedItems.performers, disabled: match_diff.performers}" ng-show="update_entry.performers">

                <span ng-show='selectedItems.performers' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.performers || selectedItems.performers'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div performers-entry input-value="update_entry.performers" input-title="Performers" select-field="selectedItems.performers"></div>
            </div>
             <div ng-hide="update_entry.performers" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('locations', null, match_diff.locations)" ng-class="{selected: selectedItems.locations, disabled: match_diff.locations}" ng-show="new_entry.locations">

                <span ng-hide='match_diff.locations || selectedItems.locations' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.locations || selectedItems.locations'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div encounterlocations-entry input-value="new_entry.locations" input-title="locations" select-field="selectedItems.locations"></div>
            </div>
             <div ng-hide="new_entry.locations" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('locations', null, match_diff.locations)" ng-class="{selected: selectedItems.locations, disabled: match_diff.locations}" ng-show="update_entry.locations">

                <span ng-show='selectedItems.locations' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.locations || selectedItems.locations'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div encounterlocations-entry input-value="update_entry.locations" input-title="locations" select-field="selectedItems.locations"></div>
            </div>
             <div ng-hide="update_entry.locations" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" valign="top">
            <div class="list-group-item merge-item" ng-repeat="(el_id, el_entry) in new_entry.findings" ng-click="selectField('findings', el_id, match_diff.findings.src[el_id])" ng-class="{selected: selectedItems.findings[el_id], disabled: match_diff.findings.src[el_id]}">

                <span ng-hide='match_diff.findings || selectedItems.findings' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.findings || selectedItems.findings'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div finding-entry input-value="el_entry" input-title="Findings" input-additional="el_entry" select-field="selectedItems.finding[el_id]"></div>
            </div>
             <div ng-hide="new_entry.findings" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>

        <td class="match" valign="top">
            <div class="list-group-item  merge-item" ng-repeat="(el_id, el_entry) in update_entry.findings" ng-click="removeField('findings', el_id, match_diff.findings.src[el_id])" ng-class="{selected: selectedItems.findings[el_id], disabled: match_diff.findings.dest[el_id]}">

                <span ng-show='selectedItems.findings' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.findings || selectedItems.findings'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                <div finding-entry input-value="el_entry" input-title="Findings" input-additional="el_entry" select-field="selectedItems.Findings[el_id]"></div>
            </div>
             <div ng-hide="update_entry.findings" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>

   



    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" class="btn btn-warning ng-scope" ng-click="createMatch()" ng-if="section !== 'demographics'">
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>
                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button ng-show="changed" type="button" class="btn btn-primary btn-block" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary btn-block" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--pre>{{ selectedItems|json}}</pre>
    <pre>{{ changed }}</pre-->
</table>
