<table class="col-md-12">
    <thead>
        <tr>
            <th class='col-md-6'>
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-leaf fa-2x"></i>
                            </td>
                            <td class="col-md-10 pull-right text-right">
                                <h4>Entry Update</h4>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-leaf fa-2x"></i>
                            </td>
                            <td class="col-md-10 pull-right text-right">
                                <h4>{{match_percent}}% Match</h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0"><a style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Updating the wrong entry?</a>
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>
                </div>
            </th>
        </tr>
    </thead>

    <tr>
        <td>
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="discardMatch()">Discard this Update</a>
                            </li>
                            <li ng-if="section !== 'demographics'"><a href="#" ng-click="createMatch()">Make Update a New Entry</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
        <td>


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" ng-click="saveMatch()">Save Changes</button>
                </div>
            </div>
        </td>
    </tr>



    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('encounter', null, match_diff.encounter)" ng-class="{selected: selectedItems.encounter, disabled: match_diff.encounter}" ng-show="new_entry.encounter">
                <div coded-entry input-value="new_entry.encounter" input-title="Encounter" select-field="selectedItems.encounter"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('encounter', null, match_diff.encounter)" ng-class="{selected: selectedItems.encounter, disabled: match_diff.encounter}" ng-show="update_entry.encounter">
                <div coded-entry input-value="update_entry.encounter" input-title="Encounter" select-field="selectedItems.encounter"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">
                <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="update_entry.date_time">
                <div date-entry input-value="update_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('performers', null, match_diff.performers)" ng-class="{selected: selectedItems.performers, disabled: match_diff.performers}" ng-show="new_entry.performers">
                <div performers-entry input-value="new_entry.performers" input-title="Performers" select-field="selectedItems.performers"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('performers', null, match_diff.performers)" ng-class="{selected: selectedItems.performers, disabled: match_diff.performers}" ng-show="update_entry.performers">
                <div performers-entry input-value="update_entry.performers" input-title="Performers" select-field="selectedItems.performers"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('locations', null, match_diff.locations)" ng-class="{selected: selectedItems.locations, disabled: match_diff.locations}" ng-show="new_entry.locations">
                <div encounterlocations-entry input-value="new_entry.locations" input-title="locations" select-field="selectedItems.locations"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('locations', null, match_diff.locations)" ng-class="{selected: selectedItems.locations, disabled: match_diff.locations}" ng-show="update_entry.locations">
                <div encounterlocations-entry input-value="update_entry.locations" input-title="locations" select-field="selectedItems.locations"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('finding', null, match_diff.finding)" ng-class="{selected: selectedItems.finding, disabled: match_diff.finding}" ng-show="new_entry.finding">
                <div finding-entry input-value="new_entry.finding" input-title="Findings" select-field="selectedItems.finding"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('finding', null, match_diff.finding)" ng-class="{selected: selectedItems.finding, disabled: match_diff.finding}" ng-show="update_entry.finding">
                <div finding-entry input-value="update_entry.finding" input-title="Findings" select-field="selectedItems.finding"></div>
            </div>

        </td>
    </tr>
   


    <tr>
        <td>
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="discardMatch()">Discard this Update</a>
                            </li>
                            <li ng-if="section !== 'demographics'"><a href="#" ng-click="createMatch()">Make Update a New Entry</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
        <td>


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" ng-click="saveMatch()">Save Changes</button>
                </div>
            </div>
        </td>
    </tr>
</table>