<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>OAuth Access</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Add your site or application content here -->
    <div class="wrapper" id="index-wrapper">
        <!--Site Header.-->
        <div class="navbar navbar-default" role="navigation">
            <!--Logged Out Navbar-->
            <div class="container-fluid">
                <div style="margin: 0px 20px;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#logout-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="../#/"><img class="img-navbar-logo" src="../images/bb-logo-vector.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- view goes here-->
        <div class="blur-background col-sm-12 body-left" style="min-height:575px">
            <div class="col-sm-4 col-sm-offset-4">
                <h4 class="text-center text-white">Authorize Access?</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <h2>Hi <%= user.name %>!</h2>
                        </div>
                        <div class="row">
                            <h3><span class="text-danger"><%= client.name %></span> is requesting access to your account.  Do you want to allow this?</h3>
                        </div>
                        <div class="row">
                            <form action="/oauth2/decision" method="post">
                                <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                                <button class="btn btn-danger col-sm-5" type="submit" value="Deny" name="cancel" id="deny">NO</button>
                                <button class="btn btn-success col-sm-5 col-sm-offset-2" type="submit" value="Allow" id="allow">Yes, Allow</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end view-->
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
</body>

</html>
