<div class="container-fluid body-content">
    <!--Profile-->
    <div class="col-sm-3 body-left">
        <div profile></div>
    </div>
    <div class="col-sm-9 body-right">
        <!--Header-->
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <h4>Review Procedure Updates</h4>
                                <p>Entries to the left are possible updates to a current entry in your record, displayed to the right.</p>
                                <p>Use the checkboxes to select updates you wish to apply.</p>
                                <h6>Note:  Only differences between the entries are displayed.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Implementation-->
        <div ng-repeat="(matchIndex, matchEntry) in match">
            <h4 class="text-center text-white">Update #{{matchIndex + 1}}</h4>
            <div class="panel col-sm-12">
                <div class="panel-body">
                    <!--Labels-->
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h5 class="text-center">Record Updates</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="text-center">Current Record</h5>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table class="table col-sm-12 table-hover">
                            <thead>
                                <tr>
                                    <td class="col-sm-6" style="border: 1px solid #ccc;">
                                        <div class="col-sm-11">
                                            <h4 class="text-left">{{matchEntry.newMatch.procedure.name}}</h4>
                                            <h5 class="text-left">{{matchEntry.newMatch.status}}</h5>
                                            <h5 class="text-left">{{matchEntry.newMatch.date_time.displayDate}}</h5>
                                        </div>
                                    </td>
                                    <td class="text-center update-spacer">
                                        <svg height="40" width="20" style="position: relative; left: -9px; top: 20px;">
                                        <polygon points="0,0 20,20 0,40 -10,40" style="fill:#fff;stroke:#ddd;stroke-width:1"></polygon>
                                        </svg>
                                    </td>
                                    <td class="col-sm-6" style="border: 1px solid #ccc;">
                                        <div class="col-sm-11">
                                            <h4 class="text-left">{{matchEntry.srcMatch.data.procedure.name}}</h4>
                                            <h5 class="text-left">{{matchEntry.srcMatch.data.status}}</h5>
                                            <h5 class="text-left">{{matchEntry.srcMatch.data.date_time.displayDate}}</h5>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Performer-->
                                <tr ng-if="matchEntry.diff.performer">
                                    <td style="border: 1px solid #ccc;" ng-class="{'update-selected': selected.performer}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>

                                                    <td class="col-sm-3">
                                                        <label>
                                                            <input type="checkbox" ng-model="selected.performer" ng-change="selectEntry(matchIndex)">
                                                        </label>
                                                        Performer:
                                                        <div class="pull-right" ng-if="matchEntry.diff.performer === 'diff'">
                                                            <span class="label label-info">Different</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div ng-repeat="performer in matchEntry.newMatch.performer" class="panel" ng-class="{'update-selected': selected.performer}">
                                                            <table class="table sub-table">
                                                                <tr>
                                                                    <td>Address:</td>
                                                                    <td>
                                                                        <div ng-repeat="perfAddr in performer.address">
                                                                            <div ng-repeat="addrLine in perfAddr.displayAddress">
                                                                                {{addrLine}}
                                                                            </div>
                                                                        </div>

																	</td>

                                                                </tr>
                                                                <tr>
                                                                    <td>Phone:</td>
                                                                    <td>
                                                                        <div ng-repeat="perfPhone in performer.phone">
                                                                            {{perfPhone.number}}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>

                                                                    <td>Organization:</td>
                                                                    <td>
                                                                        <div ng-repeat="perfOrg in performer.organization" class="panel" ng-class="{'update-selected': selected.performer}">
                                                                            <table class="table sub-table">
                                                                                <tr>
                                                                                    <td>Name:</td>
                                                                                    <td>
                                                                                        <div ng-repeat="orgName in perfOrg.name">
                                                                                            {{orgName}}
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Address:</td>
                                                                                    <td ng-repeat="orgAddr in perfOrg.address">
                                                                                        <div ng-repeat="perfOrgAddrLine in orgAddr.displayAddress">
                                                                                            {{perfOrgAddrLine}}
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Phone:</td>
                                                                                    <td>
                                                                                        <div ng-repeat="orgPhone in perfOrg.phone">
                                                                                            {{orgPhone.number}}
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td class="text-center update-spacer"></td>
                                    <td style="border: 1px solid #ccc;" ng-class="{'update-selected': selected.performer}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">

                                                        Performer:
                                                        <div class="pull-right" ng-show="selected.performer">
                                                            <span class="label label-warning">Updated</span>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-9">
                                                        <div ng-repeat="performer in matchEntry.srcMatch.data.performer" class="panel" ng-class="{'update-selected': selected.performer}">
                                                            <table class="table sub-table">
                                                                <tr>
                                                                    <td>Address:</td>
                                                                    <td>
                                                                        <div ng-repeat="perfAddr in performer.address">
                                                                            <div ng-repeat="addrLine in perfAddr.displayAddress">
                                                                                {{addrLine}}
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Phone:</td>
                                                                    <td>
                                                                        <div ng-repeat="perfPhone in performer.phone">
                                                                            {{perfPhone.number}}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Organization:</td>
                                                                    <td>
                                                                        <div ng-repeat="perfOrg in performer.organization" class="panel" ng-class="{'update-selected': selected.performer}">
                                                                            <table class="table sub-table">
                                                                                <tr>
                                                                                    <td>Name:</td>
                                                                                    <td>
                                                                                        <div ng-repeat="orgName in perfOrg.name">
                                                                                            {{orgName}}
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Address:</td>
                                                                                    <td>
                                                                                        <div ng-repeat="orgAddr in perfOrg.address">
                                                                                            <div ng-repeat="perfOrgAddrLine in orgAddr.displayAddress">
                                                                                                {{perfOrgAddrLine}}
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Phone:</td>
                                                                                    <td>
                                                                                        <div ng-repeat="orgPhone in perfOrg.phone">
                                                                                            {{orgPhone.number}}
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-default btn-block" ng-click="saveUpdate(matchIndex)">Ignore Updates</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary btn-block" ng-click="saveUpdate(matchIndex)">Save Updates</button>
                                    <button class="btn btn-link btn-block" ng-click="clearAll(matchIndex)"><i class="fa fa-undo" style="margin-right: 10px;"></i>Undo All</button>
                                </div>
                            </div>
                        </div>
                        <!-- col-sm-12 -->
                    </div>
                    <!-- panel body -->
                </div>
                <!-- panel col-sm-12 -->
            </div>
            <!-- ng-repeat in match -->
        </div>
        <!-- col-sm-9 -->
    </div>
    <!-- container -->
</div>