<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <img class="img-header" ng-if="medication.metadata.image.imageUrl" ng-src="{{medication.metadata.image.imageUrl}}">
    <h3 class="modal-title">Delete {{medication.product.product.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <h3>Are you sure you want to delete {{medication.product.product.name}}?</h3>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <button ng-click="close()" class="btn btn-primary">NO</button>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <button ng-click="deleteConfirm()" class="btn btn-danger">Yes, DELETE IT</button>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>