<div class="modal-inner-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <ul class="nav navbar-nav">
                            <li>
                                <button class="btn btn-link" data-toggle="tab" data-target="#medtype" aria-controls="medtype" ng-click="swapMedTabs('medtype')">
                                    <span>Step 1: Medication Type</span>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-link" data-toggle="tab" data-target="#medinfo" aria-controls="medinfo" ng-click="swapMedTabs('medinfo')">
                                    <span>Step 2: Information</span>
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-link" data-toggle="tab" data-target="#summary" aria-controls="summary" ng-click="swapMedTabs('summary')">
                                    <span>Step 3: Summary</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>Main content</h4>
                <!--Medication Type pane.-->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="medtype">
                        <div class="sub-entry">
                            <h3>Drug Information</h3>
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-default" data-toggle="tab" data-target="#medinfo" aria-controls="medinfo" ng-click="initInfoSearch('prescription')">Prescription</button>
                                <button class="btn btn-default" data-toggle="tab" data-target="#medinfo" aria-controls="medinfo" ng-click="initInfoSearch('otc')">Over the Counter</button>
                                <button class="btn btn-default" data-toggle="tab" data-target="#medinfo" aria-controls="medinfo" ng-click="initInfoSearch('supplement')">Supplement</button>
                            </div>
                        </div>
                    </div>
                    <!--Medication medinfo pane.-->
                    <div role="tabpanel" class="tab-pane" id="medinfo">
                        <div class="sub-entry">
                            <h3>Medication Information</h3>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" ng-model="pDrugName" placeholder="Drug Name">
                            </div>
                            <div class="col-sm-12" ng-if="medSearchType=='prescription'">
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="pFirstName" placeholder="First Name">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" ng-model="pLastName" placeholder="Last Name">
                                </div>
                                <div class="col-sm-4">
                                    <input type="search" class="form-control" ng-model="pZip" placeholder="Zip Code">
                                </div>
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-default" data-toggle="tab" data-target="#summary" aria-controls="summary" ng-click="medInfoSearch({drug:pDrugName,first:pFirstName,last:pLastName,zip:pZip})">Next</button>
                            </div>
                        </div>
                    </div>
                    <!--Medication summary pane.-->
                    <div role="tabpanel" class="tab-pane" id="summary">
                        <div class="sub-entry">
                            <h3>Medication Summary</h3>
                            <div class="col-sm-12" ng-show="rxnormResults">
                                <h4>RxNorm Information</h4>
                                <pre>{{rxnormResults}}</pre>
                            </div>
                            <div class="col-sm-12" ng-show="rximageResults">
                                <h4>RxImage Information</h4>
                                <pre>{{rximageResults}}</pre>
                            </div>
                            <div class="col-sm-12" ng-show="openfdanameResults">
                                <h4>OpenFDA Name Information</h4>
                                <pre>{{openfdanameResults}}</pre>
                            </div>
                            <div class="col-sm-12" ng-show="openfdacodeResults">
                                <h4>OpenFDA Code Information</h4>
                                <pre>{{openfdacodeResults}}</pre>
                            </div>
                            <div class="col-sm-12" ng-show="medlineResults">
                                <h4>Medline Information</h4>
                                <pre>{{medlineResults}}</pre>
                            </div>
                            <div class="col-sm-12" ng-show="prescriberResults" ng-if="medSearchType=='prescription'">
                                <h4>Prescriber Information</h4>
                                <pre>{{prescriberResults}}</pre>
                            </div>
                            <input type="submit" ng-click="saveMedication()" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>