* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 40px; /* .push must be the same height as .footer */
}
.footer {
    background-color: #fff;
}

.body-content {
	margin: 0px;
    overflow: hidden;
}

.body-left {
	padding: 20px;
    background-color: $gray;
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    float: left;

}
.body-right {
    padding: 20px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    float: left;

}
.body-bottom {
	padding-bottom: 20px;
}
.body-footer {
    
}
