* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 40px; /* .push must be the same height as .footer */
}

.body-content {
	margin: 20px;
}

.body-left {
	padding-right: 20px;
}