
// Bootstrap Variable Overrides.


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }
}

h1, .h1 {
  font-family: $headings-font-family;
  color: $headings-color;
}

h2, .h2 {
  font-family: $font-family-impact;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $brand-blue-dark;
}

h3, .h3 {
  font-family: $headings-font-family;
  color: $headings-color;
}

h4, .h4 {
  font-family: $font-family-impact;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $brand-blue-dark;
}

h5, .h5,
h6, .h6 {
  font-family: $headings-font-family;
  color: $headings-color;
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

.capitalize {
  text-transform: capitalize;
}

.fa-inline {
  margin-right: 10px;
}
