.profile {

	//@extend .panel;
	//@extend .panel-default;
	height: 100%;

    .profile-body {
	  @extend .panel-body;
	  @extend .row;

      text-align: center;

    }

	.profile-image {

	    @extend .center-block;
		img {
		  max-width: 100px;
		  max-height: 100px;
		  @extend .img-circle;
		}
		margin-bottom: 20px;

	}

	.profile-content {
	}

}


//Profile page.

.profile-divider {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;	
}
