.table .table {
	background-color: inherit;
	margin-bottom: 0px;
}

.table .update-spacer {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 0px;

	:hover {
		background-color: #fff;
	}
}

.table tbody tr:hover td.update-spacer {
    background-color: transparent;
}

.bordered {
	border: 1px solid #ccc;
}

.table i {
    color: $brand-primary;
}

