
// Bootstrap Variable Overrides.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Roboto Condensed", serif !default;
$font-family-impact:     "Montserrat", serif !default;

$brand-blue-light: #E1EDFF;
$brand-blue: #6AA6FF;
$brand-blue-dark:  #3869B2;
$brand-orange: #FFCD6A;
$brand-orange-dark: #B28426;

$brand-primary:         $brand-blue !default;
$link-color:            $brand-primary !default;
$headings-font-family:    $font-family-serif;
$font-family-base:        $font-family-sans-serif !default;
$brand-primary:         $brand-blue !default;
