$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower


.img-navbar-avatar {
	max-width: 30px;
	max-height: 30px;
	@extend .img-circle;
	margin: 10px;
}

.img-navbar-logo {
	max-width: 30px;
	max-height: 30px;
	margin: -5px 10px;
}
