<!DOCTYPE html>
<html lang="en" ng-app="dre" id="ng-app">

<head>
    <meta charset="utf-8">
    <title>DRE UI Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->

    <link rel="stylesheet" href="DRE-Demo.css">
    <link rel="stylesheet" href="dre.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
    <![endif]-->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body style="padding-top: 50px;">

    <!--div ng-view ng-controller="MainCtrl">
  </div-->

    <div class="fluid-container col-md-12" ng-controller="MainCtrl">
        <div class="navbar navbar-default navbar-fixed-top" style="padding-left: 15px;">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#" ng-click="toggleCollapse(true)">
                        <img src="img/bb-logo-vector.png" width="27px" height="27px" />&nbsp; Data Reconciliation Engine</a>

                </div>
                <div class="navbar-collapse collapse" >
                    <ul class="nav navbar-header  navbar-right" ng-show="isAuthenticated">
                        <li>
                            <a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div ng-show="isAuthenticated">
                <div ng-include="navPath"></div>
            </div>

            <div class="col-md-9" ng-view>
            </div>
        </div>
    </div>

    <!-- Load vendor JS -->
    <script src="jquery.js"></script>
    <script src="moment.js"></script>
    <script src="bootstrap.js"></script>
    <script src="underscore.js"></script>
    <script src="angular.js"></script>

    <script src="DRE-Demo.js"></script>

</body>

</html>
