// =======================================================================
// Copyright 2013 Amida Technology Solutions (http://amida-tech.com)
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// =======================================================================
div(ng-include="'partials/header'")

.container
  .row
    .jumbotron
      h1
          | Next Steps

      p.lead
          | Thank you for enrolling into Blue Button Trust Bundle! 
          <br/>
          | To complete your enrollment follow instructions below for identity validation.        

    .row.marketing
      .col-md-12
          h4 Instructions
          p
            | Double check your submission to make sure that all information submitted matches the information on your proofing documents.  If corrections are needed, please make them before visiting your local branch.
          p
            | Print this page, or write down the verification code, and bring it and all required proofing documents to your local branch during business hours.
          p If you have questions, you can call our 24 hour helpline at 1-800-PHR-5555.

      .col-md-6
          h4 Verification Code
          p Please bring a printout of this form or write down and bring the number below.
          h1 {{token}}

          img(src='https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{personal.token}}')
      .col-md-6
          h4 Nearby Office
          p
            | {{closest.address.address}}
            br
            div(ng-show='closest.address.address2')
              | {{closest.address.address2}}
            | {{closest.address.city}}, {{closest.address.state}} {{closest.address.zipcode}}
          img(src='http://maps.googleapis.com/maps/api/staticmap?center={{closest.lat}},{{closest.lng}}&zoom=17&size=300x300&markers={{closest.lat}},{{closest.lng}}&sensor=false')
          h4 Other locations
          p(ng-repeat='address in nearby.locations')
            | {{address.address}}, {{address.city}}, {{address.state}} {{address.zipcode}}
      .col-md-12
          h4 Documents list
          p
            | U.S. Birth Certificate - certified with an embossed, stamped or raised seal issued by a state or local government. (Hospital-issued birth certificates are not acceptable)
          p Certificate of Citizenship, Naturalization, or Birth Abroad
          p U.S. Passport (valid or expired)
          p Provide your Social Security Number (by presenting your Social Security card)
          p.mbl State issued driver license (not expired)
          
