// =======================================================================
// Copyright 2013 Amida Technology Solutions (http://amida-tech.com)
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// =======================================================================
.container
  .row
    h3 Conflict with an existing record
    h4 Please select the correct record
    .col-md-6
      button.btn.btn-default.btn-larg.btn-block(data-dismiss='modal')
        h3 Allergy
        h4 Penicillin Allergy
        p Recorded Feb 1, 2010
    .col-md-6
      button.btn.btn-default.btn-larg.btn-block(data-dismiss='modal')
        h3 Allergy
        h4 Not Allergic to Penicillin
        p Recorded Feb 1, 2012
      
