// =======================================================================
// Copyright 2013 Amida Technology Solutions (http://amida-tech.com)
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// =======================================================================
.modal.fade(id='requestModal', tabindex='-1',role='dialog')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='!result')
        button.close(type='button',data-dismiss='modal') &times;
        h4 Find Patient
      .modal-body(ng-show='!result')
        ph-person(ng-model="pname")
        .checkbox(ng-repeat="type in checked")
          label
            bt-checkbox(id='{{type.name}}',ng-click="clicked('{{type.name}}')",ng-checked='type.checked',ng-model='type.checked')
            | {{type.name}}
      .modal-footer(ng-show='!result')
        button.btn.btn-primary(type='button',ng-click="request()") Request
      .modal-header(ng-show='result == "notfound"')
        button.close(type='button',data-dismiss='modal') &times;
        h4 Records not available
      .modal-body(ng-show='result == "notfound"')
        p Would you like to request the records?
      .modal-footer(ng-show='result == "notfound"')
        button.btn.btn-primary(type='button',data-dismiss='modal') Yes
        button.btn.btn-danger(type='button',data-dismiss='modal') No
      .modal-header(ng-show='result == "found"')
        button.close(type='button',data-dismiss='modal') &times;
        .modal-title
          h4 Steve Williams
      .modal-body(ng-show='result == "found"')
        ng-include(src='"partials/preview"')
      .modal-footer(ng-show='result == "found"')
        button.btn(type='button',data-dismiss='modal') Close
