// =======================================================================
// Copyright 2013 Amida Technology Solutions (http://amida-tech.com)
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// =======================================================================
div(ng-switch='part.value')
  .form-group(ng-switch-when='loc')
    p {{selection}}
      a(ng-click='part.value = "none"')
        small &nbsp;Change Clinician
    label(for='location') Clinician's Address or Location Name
    input#location.form-control(type='text',ng-model='currentLoc')
    div(ng-class="currentLoc.length > 0 && 'open'")
      ul.dropdown-menu
        li(ng-repeat='location in locations')
          a(ng-click='selectLoc("{{location}}")') {{location}}
  .form-group(ng-switch-default, style='margin-bottom: 10px;')
    label(for='name' ng-hide='clinicianConfig') Clinician's name
    input#name.form-control(type='text',ng-model='search', ng-required='phixConfig', placeholder='John H. Smith, MD', ng-hide='clinicianConfig')
    label(for='name' ng-hide='phixConfig') Patient's Email
    input#name.form-control(type='email', ng-model='outboundMessage.recipient', ng-required='clinicianConfig', placeholder='janedoe@hub.amida-demo.com', ng-hide='phixConfig')
    div(ng-class="search.length > 0 && 'open'", ng-hide='clinicianConfig')
      ul.dropdown-menu
        li(ng-repeat='result in allClinicians')
          a(ng-click='select(result)') {{result.fullname}} &nbsp &nbsp {{result.location}}
  .form-group(ng-switch-when='done')
    p {{selection.fullname}}
      a(ng-click='part.value = "none"')
        small &nbsp;Change Clinician
    p {{selection.direct_email}}
