node_modules
bower_components

typings

.project
.settings
.vagrant
.pem
.idea
.idea/*

server/coverage
client/coverage
protractor-result
coverage
test/coverage
.DS_Store

*/**/.DS_Store

.rdb

npm-debug.log

log

.anvil

#client/app/styles/main.css

.nodemon_find_ref
.sass-cache

*.csv
