dist
node_modules

.project
.settings
.vagrant
.pem

server/coverage
client/coverage
coverage
.DS_Store

client/src/.DS_Store

client/src/app/.DS_Store

server/test/.DS_Store

server/test/artifacts/.DS_Store

server/test/artifacts/demo-r1.0/.DS_Store

client/src/app/record/.DS_Store

client/src/common/.DS_Store

docs/images/.DS_Store

server/.DS_Store

server/lib/.DS_Store

server/lib/dre/.DS_Store

server/lib/record/.DS_Store

server/test/artifacts/cms/.DS_Store

docs/.DS_Store
