<!--Begin Medications-->

<div class="col-md-12">
	<br/>
	<span class="lead">Immunizations</span>
	<br/>
	<br/>
</div>
<div ng-hide="display" class="panel-title">No immunizations are currently in your record.</div>
<div ng-show="display" class="panel-group" id="#accordian-immunizations" ng-repeat="entry in entries | orderBy:sort_predicate">

	<div class="modal fade" id="myImmunizationsModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Record Sources</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr><td><strong>Source Information</strong></td></tr>
						</thead>
						<tbody>
							<tr ng-repeat="attribution in entry.metadata.attribution">
								<td><strong>Source:</strong>  <a ng-click="dismissModal($parent.$index)" data-dismiss="modal" style="cursor: pointer;">{{attribution.record.filename}}</a></td>
								<td><strong>Status:</strong>  <span style="text-transform: capitalize;">{{attribution.merge_reason}}</span></td>
								<td><strong>Merged:</strong>  {{attribution.merged | date: 'short'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">

			<a data-toggle="collapse" data-parent="#accordian-immunizations" data-target="#immunization-{{$index}}">
				<div class="panel-title" style="cursor:pointer;">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					<span style="text-transform:uppercase;">{{entry.name}} - {{entry.status}}</span>
					<span class="pull-right" style="text-transform:uppercase;">{{entry.attribute}}</span>
				</div>
			</a>
		</div>
		<div id="immunization-{{$index}}" class="panel-collapse collapse">
			<div class="panel-body">
				<div id="myTabContent" >
					<div class="col-md-12">
						<h4>Details</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.low.displayDate">
							<div class="pull-left col-md-12"><strong>Started:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.low.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.high.displayDate">
							<div class="pull-left col-md-12"><strong>Ended:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.high.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.point.displayDate">
							<div class="pull-left col-md-12"><strong>Date:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.point.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.product.code">
							<div class="pull-left col-md-12"><strong>Product Code:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.product.code}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.product.code_system_name">
							<div class="pull-left col-md-12"><strong>Product Code System:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.product.code_system_name}}</div>
						</div>
					</div>

					<div class="col-md-12" ng-show="entry.product.product.translations">
						<h4>Other Descriptions</h4>
						<div ng-repeat=" translation in entry.product.product.translations" class="col-md-12">
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.name">
								<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.name}}</div>
							</div>
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.code">
								<div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.code}}</div>
							</div>
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.code_system_name">
								<div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.code_system_name}}</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show = "entry.product">
						<h4>Product</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.product.name">
							<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.product.name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.lot_number">
							<div class="pull-left col-md-12"><strong>Lot Number:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.lot_number}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.manufacturer">
							<div class="pull-left col-md-12"><strong>Manufacturer:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.manufacturer}}</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show ="entry.administration">
						<h4>Administration</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.administration.route.name">
							<div class="pull-left col-md-12"><strong>Route:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.administration.route.name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.administration.dose.displayQuantity">
							<div class="pull-left col-md-12"><strong>Quantity:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.administration.dose.displayQuantity}}</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show="entry.performer">
						<h4>Performer</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-repeat="performer_name in entry.performer.name" ng-show="entry.performer.name">
							<div class="pull-left col-md-12"><strong>Performer:</strong></div><br/>
							<div class="pull-left col-md-12" >{{performer_name.displayName}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-repeat="performer_organization in entry.performer.organization" ng-show="entry.performer.organization">
							<div class="pull-left col-md-12"><strong>Organization:</strong></div><br/>
							<div class="pull-left col-md-12" ng-repeat="performer_organization_name in performer_organization.name">{{performer_organization_name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-repeat="performer_address in entry.performer.address" ng-show="entry.performer.address">
							<div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
							<div class="pull-left col-md-12" ng-repeat="performer_display_address in performer_address.displayAddress">{{performer_display_address}}</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show="entry.instructions">
						<h4>Instructions</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.instructions.free_text">
							<div class="pull-left col-md-12"><strong>Instructions:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.instructions.free_text}}</div>
						</div>
					</div>

					<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myImmunizationsModal{{$index}}">Sources</button>
				</div>

				<!--<pre>{{entry | json}}</pre>-->
			</div>
		</div>
	</div>
</div>
