<!--Begin Medications-->

<div class="col-md-12">
	<br/>
	<span class="lead">Insurance</span>
	<br/>
	<br/>
</div>
<div ng-hide="displayInsurance" class="panel-title">No insurance are currently in your record.</div>
<div ng-show="displayInsurance" class="panel-group" id="#accordian-insurance" ng-repeat="insurance in insurance | orderBy:insurancePredicate">

	<div class="modal fade" id="myInsuranceModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Record Sources</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr><td><strong>Source Information</strong></td></tr>
						</thead>
						<tbody>
							<tr ng-repeat="attribution in insurance.metadata.attribution">
								<td><strong>Source:</strong>  <a ng-click="dismissModal($parent.$index)" data-dismiss="modal" style="cursor: pointer;">{{attribution.record.filename}}</a></td>
								<td><strong>Status:</strong>  <span style="text-transform: capitalize;">{{attribution.merge_reason}}</span></td>
								<td><strong>Merged:</strong>  {{attribution.merged | date: 'short'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordian-insurance" data-target="#insurance-{{$index}}">
				<div class="panel-title" style="cursor:pointer;">
					<span style="text-transform:uppercase;">{{insurance.name}} </span>
					<span class="pull-right" style="text-transform:uppercase;">{{insurance.participant.date_time.low.displayDate}}</span>
				</div>
			</a>
		</div>
		<div id="insurance-{{$index}}" class="panel-collapse collapse">
			<div class="panel-body">
				<div id="myTabContent" >
					<div class="col-md-12" ng-show="insurance.participant">
						<h4>Insured</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.participant.date_time.low">
							<div class="pull-left col-md-12"><strong>Started:</strong></div><br/>
							<div class="pull-left col-md-12">{{insurance.participant.date_time.low.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.participant.date_time.high">
							<div class="pull-left col-md-12"><strong>Ended:</strong></div><br/>
							<div class="pull-left col-md-12">{{insurance.participant.date_time.high.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.participant.performer.identifiers" ng-repeat="each_identifier in insurance.participant.performer.identifiers">
							<div class="pull-left col-md-12"><strong>Plan ID:</strong></div><br/>
							<div class="pull-left col-md-12" ng-show="each_identifier.extension">{{each_identifier.extension}}</div>
							<div class="pull-left col-md-12" ng-hide="each_identifier.extension">{{each_identifier.identifier}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.participant.name" ng-repeat="each_name in insurance.participant.name">
							<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
							<div class="pull-left col-md-12">{{each_name.displayName}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.participant.performer.address" ng-repeat="each_address in insurance.participant.performer.address">
							<div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
							<div class="pull-left col-md-12" ng-repeat="each_line in each_address.displayAddress">{{each_line}}</div>
						</div>
					</div>

					<div class="col-md-12" ng-show="insurance.policy">
						<h4>Insurance</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.policy.identifiers" ng-repeat="each_identifier in insurance.policy.identifiers">
							<div class="pull-left col-md-12"><strong>Group ID:</strong></div><br/>
							<div class="pull-left col-md-12" ng-show="each_identifier.extension">{{each_identifier.extension}}</div>
							<div class="pull-left col-md-12" ng-hide="each_identifier.extension">{{each_identifier.identifier}}</div>
						</div>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-repeat="(ins_number, insurance_name) in insurance.policy.insurance.performer.organization[0].name">
							<div class="pull-left col-md-12" ng-show="ins_number === 0"><strong>Title:</strong></div>
							<div class="pull-left col-md-12" ng-hide="ins_number === 0"><strong>Detail {{ins_number}}:</strong></div><br/>
							<div class="pull-left col-md-12">{{insurance_name}}</div>
						</div>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.policy.insurance.performer.organization[0].address" ng-repeat="each_address in insurance.policy.insurance.performer.organization[0].address">
							<div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
							<div class="pull-left col-md-12" ng-repeat="each_line in each_address.displayAddress">{{each_line}}</div>
						</div>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.policy.insurance.performer.organization[0].phone" ng-repeat="each_phone in insurance.policy.insurance.performer.organization[0].phone">
							<div class="pull-left col-md-12"><strong>Phone:</strong></div><br/>
							<div class="pull-left col-md-12">{{each_phone.number}}</div>
						</div>
					</div>

					<div class="col-md-12" ng-show="insurance.guarantor">
						<h4>Guarantor</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.guarantor.name" ng-repeat="each_name in insurance.guarantor.name">
							<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
							<div class="pull-left col-md-12">{{each_name.displayName}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.guarantor.address" ng-repeat="each_address in insurance.guarantor.address">
							<div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
							<div class="pull-left col-md-12" ng-repeat="each_line in each_address.displayAddress">{{each_line}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.guarantor.phone" ng-repeat="each_phone in insurance.guarantor.phone">
							<div class="pull-left col-md-12"><strong>Phone:</strong></div><br/>
							<div class="pull-left col-md-12">{{each_phone.number}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.guarantor.identifiers" ng-repeat="each_identifier in insurance.guarantor.identifiers">
							<div class="pull-left col-md-12"><strong>Identifier:</strong></div><br/>
							<div class="pull-left col-md-12" ng-show="each_identifier.extension">{{each_identifier.extension}}</div>
							<div class="pull-left col-md-12" ng-hide="each_identifier.extension">{{each_identifier.identifier}}</div>
						</div>
					</div>
					
					<div class="col-md-12" ng-show="insurance.policy_holder.performer">
						<h4>Policy Holder</h4>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.policy_holder.performer.address" ng-repeat="each_address in insurance.policy_holder.performer.address">
							<div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
							<div class="pull-left col-md-12" ng-repeat="each_line in each_address.displayAddress">{{each_line}}</div>
						</div>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.policy_holder.performer.identifiers" ng-repeat="each_identifier in insurance.policy_holder.performer.identifiers">
							<div class="pull-left col-md-12"><strong>Plan ID:</strong></div><br/>
							<div class="pull-left col-md-12" ng-show="each_identifier.extension">{{each_identifier.extension}}</div>
							<div class="pull-left col-md-12" ng-hide="each_identifier.extension">{{each_identifier.identifier}}</div>
						</div>
					</div>

					<div class="col-md-12" ng-show="insurance.authorization.procedure.code">
						<h4>Authorization</h4>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.authorization.procedure.code.name">
							<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
							<div class="pull-left col-md-12">{{insurance.authorization.procedure.code.name}}</div>
						</div>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.authorization.procedure.code.code">
							<div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
							<div class="pull-left col-md-12">{{insurance.authorization.procedure.code.code}}</div>
						</div>

						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="insurance.authorization.procedure.code.code_system_name">
							<div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
							<div class="pull-left col-md-12">{{insurance.authorization.procedure.code.code_system_name}}</div>
						</div>

					</div>

					
					<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myInsuranceModal{{$index}}">Sources</button>
				</div>

				<!--<pre>{{insurance | json}}</pre>-->

			</div>
		</div>
	</div>
</div>
