<!--Begin Medications-->

<div class="col-md-12">
	<br/>
	<span class="lead">Medications</span>
	<br/>
	<br/>
</div>
<div ng-hide="display" class="panel-title">No medications are currently in your record.</div>
<div ng-show="display" class="panel-group" id="#accordian-medications" ng-repeat="entry in entries | orderBy:sort_predicate">

	<div class="modal fade" id="myMedModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Record Sources</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr><td><strong>Source Information</strong></td></tr>
						</thead>
						<tbody>
							<tr ng-repeat="attribution in entry.metadata.attribution">
								<td><strong>Source:</strong>  <a ng-click="dismissModal($parent.$index)" data-dismiss="modal" style="cursor: pointer;">{{attribution.record.filename}}</a></td>
								<td><strong>Status:</strong>  <span style="text-transform: capitalize;">{{attribution.merge_reason}}</span></td>
								<td><strong>Merged:</strong>  {{attribution.merged | date: 'short'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">

			<a data-toggle="collapse" data-parent="#accordian-medications" data-target="#medication-{{$index}}">
				<div class="panel-title" style="cursor:pointer;">
					<span style="text-transform:uppercase;">{{entry.name}}</span>
					<span class="pull-right" style="text-transform:uppercase;">{{entry.attribute}}</span>
				</div>
			</a>
		</div>
		<div id="medication-{{$index}}" class="panel-collapse collapse">
			<div class="panel-body">
				<div id="myTabContent" >
					<div class="col-md-12">
						<h4>Details</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.low.displayDate">
							<div class="pull-left col-md-12"><strong>Started:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.low.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.high.displayDate">
							<div class="pull-left col-md-12"><strong>Ended:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.high.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.sig">
							<div class="pull-left col-md-12"><strong>Sig:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.sig}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.product.code">
							<div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.product.code}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.product.product.code_system_name">
							<div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.product.product.code_system_name}}</div>
						</div>
					</div>

					<div class="col-md-12" ng-show="entry.product.product.translations">
						<h4>Other Descriptions</h4>
						<div ng-repeat=" translation in entry.product.product.translations" class="col-md-12">
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.name">
								<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.name}}</div>
							</div>
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.code">
								<div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.code}}</div>
							</div>
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.code_system_name">
								<div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.code_system_name}}</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show="entry.administration">
						<h4>Administration</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.administration.route.name">
							<div class="pull-left col-md-12"><strong>Route:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.administration.route.name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.administration.form.name">
							<div class="pull-left col-md-12"><strong>Form:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.administration.form.name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.administration.dose.value">
							<div class="pull-left col-md-12"><strong>Dose:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.administration.dose.value}} {{medication.administration.dose.unit}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.administration.rate.value">
							<div class="pull-left col-md-12"><strong>Rate:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.administration.rate.value}} {{medication.administration.rate.unit}}</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show="entry.supply">
						<h4>Supply</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.supply.date_time.point">
							<div class="pull-left col-md-12"><strong>Date:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.supply.date_time.point.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.supply.quantity">
							<div class="pull-left col-md-12"><strong>Quantity:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.supply.quantity}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.supply.repeatNumber >= 0">
							<div class="pull-left col-md-12"><strong>Repeat:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.supply.repeatNumber}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.supply.author.organization.name" ng-repeat="org_name in entry.supply.author.organization.name">
							<div class="pull-left col-md-12"><strong>Organization:</strong></div><br/>
							<div class="pull-left col-md-12">{{org_name}}</div>
						</div>
					</div>

					<div class="col-md-12 pull-left" ng-show="entry.precondition">
						<h4>Precondition</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.precondition.code.code">
							<div class="pull-left col-md-12"><strong>Type:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.precondition.code.code}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.precondition.value.name">
							<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.precondition.value.name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.precondition.value.code">
							<div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.precondition.value.code}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.precondition.value.code_system_name">
							<div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.precondition.value.code_system_name}}</div>
						</div>
					</div>
					
					<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myMedModal{{$index}}">Sources</button>
				</div>

				<!--<pre>{{ entry | json}}</pre>-->
			</div>
		</div>
	</div>
</div>
