<!--Begin Medications-->

<div class="col-md-12">
	<br/>
	<span class="lead">Problem List</span>
	<br/>
	<br/>
</div>
<div ng-hide="display" class="panel-title">No problems are currently in your record.</div>
<div ng-show="display" class="panel-group" id="#accordian-problems" ng-repeat="entry in entries | orderBy:sort_predicate">

	<div class="modal fade" id="myProblemModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Record Sources</h4>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<tr><td><strong>Source Information</strong></td></tr>
						</thead>
						<tbody>
							<tr ng-repeat="attribution in entry.metadata.attribution">
								<td><strong>Source:</strong>  <a ng-click="dismissModal($parent.$index)" data-dismiss="modal" style="cursor: pointer;">{{attribution.record.filename}}</a></td>
								<td><strong>Status:</strong>  <span style="text-transform: capitalize;">{{attribution.merge_reason}}</span></td>
								<td><strong>Merged:</strong>  {{attribution.merged | date: 'short'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">

			<a data-toggle="collapse" data-parent="#accordian-problems" data-target="#problem-{{$index}}">
				<div class="panel-title" style="cursor:pointer;">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					<span style="text-transform:uppercase;" ng-show="entry.negation_indicator">NO </span>
					<span style="text-transform:uppercase;">{{entry.name}}</span>
					<span style="text-transform:uppercase;" ng-show="entry.negation_indicator">FOUND</span>
					<span style="text-transform:uppercase;" ng-show="entry.status">- {{entry.status.name}}</span>
					<span class="pull-right" style="text-transform:uppercase;" >{{entry.attribute}}</span>
				</div>
			</a>
		</div>
		<div id="problem-{{$index}}" class="panel-collapse collapse">
			<div class="panel-body">
				<div id="myTabContent" >
					<div class="col-md-12">
						<h4>Details</h4>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.low.displayDate">
							<div class="pull-left col-md-12"><strong>Started:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.low.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.date_time.high.displayDate">
							<div class="pull-left col-md-12"><strong>Ended:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.date_time.high.displayDate}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.onsetAgeDisplay">
							<div class="pull-left col-md-12"><strong>Onset Age:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.onsetAgeDisplay}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.problem.code.code">
							<div class="pull-left col-md-12"><strong>Problem Code:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.problem.code.code}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.problem.code.code_system_name">
							<div class="pull-left col-md-12"><strong>Problem Code System:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.problem.code.code_system_name}}</div>
						</div>
						<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="entry.patient_status">
							<div class="pull-left col-md-12"><strong>Reported Status:</strong></div><br/>
							<div class="pull-left col-md-12">{{entry.patient_status}}</div>
						</div>
					</div>

					<div class="col-md-12" ng-show="problem.problem.translations">
						<h4>Other Descriptions</h4>
						<div ng-repeat=" translation in problem.problem.translations" class="col-md-12">
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.name">
								<div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.name}}</div>
							</div>
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.code">
								<div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.code}}</div>
							</div>
							<div class="col-md-2 pull-left" style="margin-bottom: 10px;" ng-show="translation.code_system_name">
								<div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
								<div class="pull-left col-md-12">{{translation.code_system_name}}</div>
							</div>
						</div>
					</div>

					<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myProblemModal{{$index}}">Sources</button>
				</div>

				<!--<pre>{{entry | json}}</pre>-->
			</div>
		</div>
	</div>
</div>
