
<table class="col-md-12 table">
	<tbody>
		<tr>
			<td class="info" style="text-align: center;"><h4>New Entry</h4>
			</td>
			<td class="active" style="text-align: center;"><h4>Master Record</h4>
			</td>
		</tr>
		<tr><td class="col-md-6">


			<table class="table col-md-6">
				<thead><tr><td colspan="2"><span style="text-transform:uppercase;">{{src_el.name}}</span>
					<span class="pull-right"  style="text-transform:uppercase;">{{src_el.severity}}</span>
				</td></tr></thead>
				<tbody>
					<tr>
						<tr><td><strong>Started:</strong></td><td>{{src_el.date[0].date | date: 'mediumDate'}}</td></tr>
						<tr><td><strong>Ended:</strong></td><td>{{src_el.date[1].date | date: 'mediumDate'}}</td></tr>


						<tr><td><strong>Status:</strong></td><td>{{src_el.status}}</td></tr>

						<tr><td><strong>Reactions:</strong></td><td></td></tr>


						<tr ng-repeat="reaction in src_el.reaction">
						<td><strong>Reaction:</strong> {{reaction.name}}</td>
						<td><strong>Severity:</strong> {{reaction.severity}} <span class="label label-primary pull-right">New</span></td></tr>
					</tr>
				</tbody>
			</table>
			{{ src_el | json}}
		</td>
		<td class="col-md-6">
			<table class="table col-md-6 table-hover">
				<thead><tr><td colspan="2"><span style="text-transform:uppercase;">{{dest_el.name}}</span>
					<span class="pull-right"  style="text-transform:uppercase;">{{dest_el.severity}}</span>
				</td></tr></thead>
				<tbody>
					<tr>
						<tr><td><strong>Started:</strong></td><td>{{dest_el.date[0].date | date: 'mediumDate'}}</td></tr>
						<tr><td><strong>Ended:</strong></td><td>{{dest_el.date[1].date | date: 'mediumDate'}}</td></tr>


						<tr><td><strong>Status:</strong></td><td>{{dest_el.status}}</td></tr>

						<tr><td><strong>Reactions:</strong></td><td></td></tr>


						<tr ng-repeat="reaction in dest_el.reaction">
						<td><strong>Reaction:</strong> {{reaction.name}}</td>
						<td><strong>Severity:</strong> {{reaction.severity}}</td></tr>
					</tr>
				</tbody>
			</table>
			{{ dest[section][dest_id] | json }}
		</td></tr>
	</tbody>
</table>