<table class="col-md-12 table  table-condensed table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-md-2" style="text-align: center;">
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>

            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <strong>Allergen:</strong>
            </td>
            <td>{{src_el.name}}
            </td>
            <td>{{dest_el.name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.severity==='new'">Different</span>
                <strong>Severity:</strong>
            </td>
            <td>{{src_el.severity}}
                <a ng-click="merge('severity')" class="pull-right" ng-if="diff.severity==='new'"><i class="glyphicon glyphicon-import"></i></a> 
            </td>
            <td>{{dest_el.severity}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.date==='new'">Different</span>
                <strong>Date:</strong>
            </td>
            <td>{{src_el.date[0] | bb_date }}
                <a ng-click="merge('date')" class="pull-right" ng-if="diff.date==='new'"><i class="glyphicon glyphicon-import"></i></a> 
            </td>
            <td>{{dest_el.date[0] | bb_date }}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.status==='new'">Different</span>
                <strong>Status:</strong>
            </td>
            <td>{{src_el.status}}
                <a ng-click="merge('status')" class="pull-right" ng-if="diff.status==='new'"><i class="glyphicon glyphicon-import"></i></a> 
            </td>
            <td>{{dest_el.status}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.reaction==='new'">Different</span>
                <strong>Reactions:</strong>
            </td>
            <td>
                <div ng-repeat="reaction in src_el.reaction">
                    <div>
                        <strong>Reaction:</strong>{{reaction.name}}
                        <strong>Severity:</strong>{{reaction.severity}}
                        <a ng-click="merge_sub('reaction', $index)" class="pull-right" ng-if="diff.reaction==='new'"><i class="glyphicon glyphicon-import"></i></a> 
                    </div>
                </div>
            </td>
            <td>
                <div ng-repeat="reaction in dest_el.reaction">
                    <div>
                        <strong>Reaction:</strong>{{reaction.name}}
                        <strong>Severity:</strong>{{reaction.severity}}
                        <a ng-click="remove_sub('reaction', $index)" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a>
                    </div>
                </div>
            </td>
        </tr>



    </tbody>
</table>
