<table class="col-md-12 table  table-condensed table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-md-2" style="text-align: center;">
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.name==='new'">Different</span>
                <strong>Name:</strong>
            </td>
            <td>{{src_el.name | bb_name}}
                <a ng-click="merge('name')" class="pull-right" ng-if="diff.name==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.name | bb_name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.dob==='new'">Different</span>
                <strong>Date of Birth:</strong>
            </td>
            <td>{{src_el.dob[0] | bb_date }}
                <a ng-click="merge('dob')" class="pull-right" ng-if="diff.dob==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.dob[0] | bb_date }}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.gender==='new'">Different</span>
                <strong>Gender:</strong>
            </td>
            <td>{{src_el.gender}}
            </td>
            <td>{{dest_el.gender}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.marital_status==='new'">Different</span>
                <strong>Marital Status:</strong>
            </td>
            <td>{{src_el.marital_status}}
            </td>
            <td>{{dest_el.marital_status}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.race_ethnicity==='new'">Different</span>
                <strong>Race/Ethnicity:</strong>
            </td>
            <td>{{src_el.race_ethnicity}}
            </td>
            <td>{{dest_el.race_ethnicity}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.religion==='new'">Different</span>
                <strong>Religion:</strong>
            </td>
            <td>{{src_el.religion}}
            </td>
            <td>{{dest_el.religion}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.birthplace==='new'">Different</span>
                <strong>Birthplace:</strong>
            </td>
            <td>{{src_el.birthplace | bb_address}}
            </td>
            <td>{{dest_el.birthplace | bb_address}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.address==='new'">Different</span>
                <strong>Address:</strong>
            </td>
            <td>{{src_el.addresses[0] | bb_address}}
            </td>
            <td>{{dest_el.addresses[0] | bb_address}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.phone==='new'">Different</span>
                <strong>Phone:</strong>
            </td>
            <td>{{src_el.phone[0].number}}
                <a ng-click="merge('phone')" class="pull-right" ng-if="diff.phone==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.phone[0].number}}
                <a href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.email==='new'">Different</span>
                <strong>Email:</strong>
            </td>
            <td>{{src_el.email[0].number}}
            </td>
            <td>{{dest_el.email[0].number}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.languages==='new'">Different</span>
                <strong>Languages:</strong>
            </td>
            <td>
                {{src_el.languages[0].language}}
                <br/>{{src_el.languages[0].mode}}
                <br/>{{src_el.languages[0].proficiency}}
            </td>
            <td>
                {{dest_el.languages[0].language}}
                <br/>{{dest_el.languages[0].mode}}
                <br/>{{dest_el.languages[0].proficiency}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.guardians==='new'">Different</span>
                <strong>Guardians:</strong>
            </td>
            <td>
                {{src_el.guardians[0].names[0] | bb_name}}
                <br/>{{src_el.guardians[0].relation}}
                <br/>{{src_el.guardians[0].addresses[0] | bb_address}}
                <br/>{{src_el.guardians[0].phone[0].number}}

            </td>
            <td>
                {{dest_el.guardians[0].names[0] | bb_name}}
                <br/>{{dest_el.guardians[0].relation}}
                <br/>{{dest_el.guardians[0].addresses[0] | bb_address}}
                <br/>{{dest_el.guardians[0].phone[0].number}}
            </td>
        </tr>



    </tbody>
</table>



<!--table class="col-md-12 table">
    <tbody>
        <tr>
            <td class="col-md-3"></td>
            <td class="info col-md-3" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class="active col-md-3" style="text-align: center;">
                <h4>Master Record</h4>
            </td>
            <td class="info col-md-3" style="text-align: center;">
                <h4>Updated Record</h4>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Name:</strong>
            </td>
            <td>{{src_el.name.first}} {{src_el.name.middle[0]}} {{src_el.name.last}}   
                <button ng-if="partial_matches[index].diff['name']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('name')"> >> </button>
            </td>
            <td>{{dest_el.name.first}} {{dest_el.name.middle[0]}} {{dest_el.name.last}}</td>
            <td>{{new_el.name.first}} {{new_el.name.middle[0]}} {{new_el.name.last}}</td>
        </tr>
        <tr>
            <td>
                <strong>Date of Birth:</strong>
            </td>
            <td>{{src_el.dob[0].date | date: longDate}}
                <button ng-if="partial_matches[index].diff['dob']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('dob')"> >> </button>
            </td>
            <td>{{dest_el.dob[0].date | date: longDate}}</td>
            <td>{{new_el.dob[0].date | date: longDate}}</td>
        </tr>
        <tr>
            <td>
                <strong>Gender:</strong>
            </td>
            <td>{{src_el.gender}}
                <button ng-if="partial_matches[index].diff['gender']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('gender')"> >> </button>
            </td>
            <td>{{dest_el.gender}}</td>
            <td>{{new_el.gender}}</td>
        </tr>
        <tr>
            <td>
                <strong>Marital Status:</strong>
            </td>
            <td>{{src_el.marital_status}}
                <button ng-if="partial_matches[index].diff['marital_status']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('marital_status')"> >> </button>
            </td>
            <td>{{dest_el.marital_status}}</td>
            <td>{{new_el.marital_status}}</td>
        </tr>
        <tr>
            <td>
                <strong>Race/Ethnicity:</strong>
            </td>
            <td>{{src_el.race_ethnicity}}
                <button ng-if="partial_matches[index].diff['race_ethnicity']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('race_ethnicity')"> >> </button>
            </td>
            <td>{{dest_el.race_ethnicity}}</td>
            <td>{{new_el.race_ethnicity}}</td>
        </tr>
        <tr>
            <td>
                <strong>Religion:</strong>
            </td>
            <td>{{src_el.religion}}
                <button ng-if="partial_matches[index].diff['religion']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('religion')"> >> </button>
            </td>
            <td>{{dest_el.religion}}</td>
            <td>{{new_el.religion}}</td>
        </tr>

        <tr>
            <td>
                <strong>Phone:</strong>
            </td>
            <td>{{src_el.phone[0].number}}
                <button ng-if="partial_matches[index].diff['phone']==='new'" type="button" class="btn btn-xs btn-info" ng-click="merge('phone')"> >> </button>
            </td>
            <td>{{dest_el.phone[0].number}}</td>
            <td>{{new_el.phone[0].number}}</td>
        </tr>

        <tr>
            <td></td>
            <td>{{ src[section] | json }}</td>
            <td>{{ dest[section] | json }}</td>
            <td>{{ new_el | json }}</td>
        </tr>
    </tbody>
</table-->
