<table class="col-md-12 table  table-condensed table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-md-2" style="text-align: center;">
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.name==='new'">Different</span>
                <strong>Name:</strong>
            </td>
            <td>{{src_el.name | bb_name}}
                <a ng-click="merge('name')" class="pull-right" ng-if="diff.name==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.name | bb_name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.dob==='new'">Different</span>
                <strong>Date of Birth:</strong>
            </td>
            <td>{{src_el.dob[0] | bb_date }}
                <a ng-click="merge('dob')" class="pull-right" ng-if="diff.dob==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.dob[0] | bb_date }}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.gender==='new'">Different</span>
                <strong>Gender:</strong>
            </td>
            <td>{{src_el.gender}}
                <a ng-click="merge('gender')" class="pull-right" ng-if="diff.gender==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.gender}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.marital_status==='new'">Different</span>
                <strong>Marital Status:</strong>
            </td>
            <td>{{src_el.marital_status}}
                <a ng-click="merge('marital_status')" class="pull-right" ng-if="diff.marital_status==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.marital_status}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.race_ethnicity==='new'">Different</span>
                <strong>Race/Ethnicity:</strong>
            </td>
            <td>{{src_el.race_ethnicity}}
                <a ng-click="merge('race_ethnicity')" class="pull-right" ng-if="diff.race_ethnicity==='new'"><i class="glyphicon glyphicon-import"></i>           </a> 
            </td>
            <td>{{dest_el.race_ethnicity}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.religion==='new'">Different</span>
                <strong>Religion:</strong>
            </td>
            <td>{{src_el.religion}}
                <a ng-click="merge('religion')" class="pull-right" ng-if="diff.religion==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.religion}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.birthplace==='new'">Different</span>
                <strong>Birthplace:</strong>
            </td>
            <td>{{src_el.birthplace | bb_address}}
                <a ng-click="merge('birthplace')" class="pull-right" ng-if="diff.birthplace==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.birthplace | bb_address}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.address==='new'">Different</span>
                <strong>Address:</strong>
            </td>
            <td>{{src_el.addresses[0] | bb_address}}
                <a ng-click="merge('addresses')" class="pull-right" ng-if="diff.addresses==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.addresses[0] | bb_address}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.phone==='new'">Different</span>
                <strong>Phone:</strong>
            </td>
            <td>{{src_el.phone[0].number}}
                <a ng-click="merge('phone')" class="pull-right" ng-if="diff.phone==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.phone[0].number}}
                <a href="" class="pull-right"><i class="glyphicon glyphicon-remove-circle"></i></a>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.email==='new'">Different</span>
                <strong>Email:</strong>
            </td>
            <td>{{src_el.email[0].number}}
                <a ng-click="merge('email')" class="pull-right" ng-if="diff.email==='new'"><i class="glyphicon glyphicon-import"></i></a> 
            </td>
            <td>{{dest_el.email[0].number}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.languages==='new'">Different</span>
                <strong>Languages:</strong>
            </td>
            <td>
                {{src_el.languages[0].language}}
                <br/>{{src_el.languages[0].mode}}
                <br/>{{src_el.languages[0].proficiency}}
                <a ng-click="merge('languages')" class="pull-right" ng-if="diff.languages==='new'"><i class="glyphicon glyphicon-import"></i>           </a> 
            </td>
            <td>
                {{dest_el.languages[0].language}}
                <br/>{{dest_el.languages[0].mode}}
                <br/>{{dest_el.languages[0].proficiency}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.guardians==='new'">Different</span>
                <strong>Guardians:</strong>
            </td>
            <td>
                {{src_el.guardians[0].names[0] | bb_name}}
                <br/>{{src_el.guardians[0].relation}}
                <br/>{{src_el.guardians[0].addresses[0] | bb_address}}
                <br/>{{src_el.guardians[0].phone[0].number}}
                <a ng-click="merge('guardians')" class="pull-right" ng-if="diff.guardians==='new'"><i class="glyphicon glyphicon-import"></i>
            </a>
            </td>
            <td>
                {{dest_el.guardians[0].names[0] | bb_name}}
                <br/>{{dest_el.guardians[0].relation}}
                <br/>{{dest_el.guardians[0].addresses[0] | bb_address}}
                <br/>{{dest_el.guardians[0].phone[0].number}}
            </td>
        </tr>



    </tbody>
</table>


