<table class="col-md-12 table">
    <tbody>
        <tr>
            <td class="info" style="text-align: center;">
                <h4>New Entry</h4>
                {{ src[section][src_id] | json }}
            </td>
            <td class="active" style="text-align: center;">
                <h4>Master Entry</h4>
                {{ dest[section][dest_id] | json }}
            </td>
        </tr>
        <tr>
            <td>


                <table class="table col-md-6">
                    <thead>
                        <tr>
                            <td>
                                <h4>Encounter</h4>
                            </td>
                        </tr>
                    </thead>

                </table>

        <div class="panel-heading">

            <a >
                <div class="panel-title" style="cursor:pointer;">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span style="text-transform:uppercase;">{{encounter.name}}</span>
                    <span class="pull-right" style="text-transform:uppercase;">{{encounter.date[0].displayDate}}</span>
                </div>
            </a>
        </div>
        <div id="encounter-{{$index}}" >
            <div class="panel-body">
                <div id="myTabContent" >
                    <div class="col-md-12">
                        <h4>Details</h4>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Started:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.date[0].displayDate}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Ended:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.date[1].displayDate}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.code}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.code_system_name}}</div>
                        </div>
                    </div>

                    <div class="col-md-12 pull-left well" ng-repeat="finding in encounter.findings">
                        <h4>Findings</h4>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
                            <div class="pull-left col-md-12">{{finding.name}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
                            <div class="pull-left col-md-12">{{finding.code}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
                            <div class="pull-left col-md-12">{{finding.code_system_name}}</div>
                        </div>
                    </div>

                    <div class="col-md-12 pull-left" ng-repeat="location in encounter.locations">
                        <h4>Location</h4>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
                            <div class="pull-left col-md-12">{{location.name}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Type:</strong></div><br/>
                            <div class="pull-left col-md-12">{{location.loc_type.name}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
                            <div class="pull-left col-md-12" ng-repeat="location_address in location.addresses[0].displayAddress">{{location_address}}</div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

            </td>
            <td>
                <table class="table col-md-6 table-hover">
                    <thead>
                        <tr>
                            <td>
                                <h4>Encounter 2</h4>
                            </td>
                        </tr>
                    </thead>

                </table>

        <div class="panel-heading">

            <a >
                <div class="panel-title" style="cursor:pointer;">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span style="text-transform:uppercase;">{{encounter.name}}</span>
                    <span class="pull-right" style="text-transform:uppercase;">{{encounter.date[0].displayDate}}</span>
                </div>
            </a>
        </div>
        <div id="encounter-{{$index}}" >
            <div class="panel-body">
                <div id="myTabContent" >
                    <div class="col-md-12">
                        <h4>Details</h4>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Started:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.date[0].displayDate}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Ended:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.date[1].displayDate}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.code}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
                            <div class="pull-left col-md-12">{{encounter.code_system_name}}</div>
                        </div>
                    </div>

                    <div class="col-md-12 pull-left well" ng-repeat="finding in encounter.findings">
                        <h4>Findings</h4>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
                            <div class="pull-left col-md-12">{{finding.name}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code:</strong></div><br/>
                            <div class="pull-left col-md-12">{{finding.code}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Code System:</strong></div><br/>
                            <div class="pull-left col-md-12">{{finding.code_system_name}}</div>
                        </div>
                    </div>

                    <div class="col-md-12 pull-left" ng-repeat="location in encounter.locations">
                        <h4>Location</h4>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Name:</strong></div><br/>
                            <div class="pull-left col-md-12">{{location.name}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Type:</strong></div><br/>
                            <div class="pull-left col-md-12">{{location.loc_type.name}}</div>
                        </div>
                        <div class="col-md-2 pull-left" style="margin-bottom: 10px;">
                            <div class="pull-left col-md-12"><strong>Address:</strong></div><br/>
                            <div class="pull-left col-md-12" ng-repeat="location_address in location.addresses[0].streetLines ">{{location_address}}</div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

            </td>
        </tr>
    </tbody>
</table>
