<table class="col-md-12 table">
    <tbody>
        <tr>
            <td class="info" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class="active" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>
            </td>
        </tr>
        <tr>
            <td>


                <table class="table col-md-6">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <span style="text-transform:uppercase;">{{src_el.product.name}}</span>
                                <span class="pull-right" style="text-transform:uppercase;">{{src_el.status}}</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr>
                                <td>
                                    <strong>Started:</strong>
                                </td>
                                <td>{{src_el.date[0].date | date: 'mediumDate'}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Ended:</strong>
                                </td>
                                <td>{{src_el.date[1].date | date: 'mediumDate'}}</td>
                            </tr>


                            <tr>
                                <td>
                                    <strong>Sig:</strong>
                                </td>
                                <td>{{src_el.sig}}
                                    <span class="label label-primary pull-right">New</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Route:</strong>
                                </td>
                                <td>{{src_el.administration.route.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Form:</strong>
                                </td>
                                <td>{{src_el.administration.form.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Dose:</strong>
                                </td>
                                <td>{{src_el.administration.dose.value}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Rate:</strong>
                                </td>
                                <td>{{src_el.administration.rate.value}}</td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Precondition:</strong>
                                </td>
                                <td>{{src_el.precondition.value.name}}</td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
                {{ src[section][src_id] | json }}
            </td>
            <td>
                <table class="table col-md-6 table-hover">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <span style="text-transform:uppercase;">{{dest_el.product.name}}</span>
                                <span class="pull-right" style="text-transform:uppercase;">{{dest_el.status}}</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr>
                                <td>
                                    <strong>Started:</strong>
                                </td>
                                <td>{{dest_el.date[0].date | date: 'mediumDate'}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Ended:</strong>
                                </td>
                                <td>{{dest_el.date[1].date | date: 'mediumDate'}}</td>
                            </tr>


                            <tr>
                                <td>
                                    <strong>Sig:</strong>
                                </td>
                                <td>{{dest_el.sig}}</td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Route:</strong>
                                </td>
                                <td>{{dest_el.administration.route.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Form:</strong>
                                </td>
                                <td>{{dest_el.administration.form.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Dose:</strong>
                                </td>
                                <td>{{dest_el.administration.dose.value}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Rate:</strong>
                                </td>
                                <td>{{dest_el.administration.rate.value}}</td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Precondition:</strong>
                                </td>
                                <td>{{dest_el.precondition.value.name}}</td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
                {{ dest[section][dest_id] | json }}
            </td>
        </tr>
    </tbody>
</table>
