<table class="col-md-12 table  table-condensed table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-md-2" style="text-align: center;">
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <strong>Name:</strong>
            </td>
            <td>{{src_el.product.name }}<br/>
                <strong>Alternative Name:</strong> {{src_el.product.translations[0].name}}
            </td>
            <td>{{dest_el.product.name }}<br/>
                <strong>Alternative Name:</strong> {{dest_el.product.translations[0].name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.date==='new'">Different</span>
                <strong>Date:</strong>
            </td>
            <td>{{src_el.date[0] | bb_date }}
                <a ng-click="merge('date')" class="pull-right" ng-if="diff.date==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.date[0] | bb_date }}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.status==='new'">Different</span>
                <strong>Status:</strong>
            </td>
            <td>{{src_el.status}}
                <a ng-click="merge('status')" class="pull-right" ng-if="diff.status==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.status}}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.product==='new'">Different</span>
                <strong>Product:</strong>
            </td>
            <td>
                <strong>Name:</strong> {{src_el.product.name}}
                <br/>
                <strong>Alternative Name:</strong> {{src_el.product.translations[0].name}}

                <a ng-click="merge('product')" class="pull-right" ng-if="diff.product==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>
                <strong>Name:</strong> {{dest_el.product.name}}
                <br/>
                <strong>Alternative Name:</strong> {{dest_el.product.translations[0].name}}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.administration==='new'">Different</span>
                <strong>Administration:</strong>
            </td>
            <td>
                <strong>Rate:</strong> {{src_el.administration.rate.value}} {{src_el.administration.rate.unit}}
                <br/>
                <strong>Dose:</strong> {{src_el.administration.dose.value}} {{src_el.administration.dose.unit}}
                <br/>
                <strong>Form:</strong> {{src_el.administration.form.name}}
                <br/>
                <strong>Route:</strong> {{src_el.administration.route.name}}

                <a ng-click="merge('administration')" class="pull-right" ng-if="diff.administration==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>
                <strong>Rate:</strong> {{dest_el.administration.rate.value}} {{dest_el.administration.rate.unit}}
                <br/>
                <strong>Dose:</strong> {{dest_el.administration.dose.value}} {{dest_el.administration.dose.unit}}
                <br/>
                <strong>Form:</strong> {{dest_el.administration.form.name}}
                <br/>
                <strong>Route:</strong> {{dest_el.administration.route.name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.precondition==='new'">Different</span>
                <strong>Precondition:</strong>
            </td>
            <td>{{src_el.precondition.value.name}}
                <a ng-click="merge('precondition')" class="pull-right" ng-if="diff.precondition==='new'"><i class="glyphicon glyphicon-import"></i>          </a> 
            </td>
            <td>{{dest_el.precondition.value.name}}
            </td>
        </tr>
    </tbody>
</table>

