<table class="col-md-12 table  table-condensed table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-md-2" style="text-align: center;">
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <strong>Name:</strong>
            </td>
            <td>{{src_el.name }}</td>
            </td>
            <td>{{dest_el.name}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.proc_type==='new'">Different</span>
                <strong>Type:</strong>
            </td>
            <td>{{src_el.proc_type }}
                <a ng-click="merge('proc_type')" class="pull-right" ng-if="diff.proc_type==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.proc_type}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.value==='new'">Different</span>
                <strong>Status:</strong>
            </td>
            <td>{{src_el.status }}
                <a ng-click="merge('status')" class="pull-right" ng-if="diff.status==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.status}}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.date==='new'">Different</span>
                <strong>Date:</strong>
            </td>
            <td>{{src_el.date[0] | bb_date }}
                <a ng-click="merge_date('date',0)" class="pull-right" ng-if="diff.date==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.date[0] | bb_date }}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.bodysite==='new'">Different</span>
                <strong>Body Site:</strong>
            </td>
            <td>{{src_el.bodysite[0].name }}
                <a ng-click="merge('bodysite')" class="pull-right" ng-if="diff.bodysite==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.bodysite[0].name}}
            </td>
        </tr>


        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.providers==='new'">Different</span>
                <strong>Provider:</strong>
            </td>
            <td>
                {{src_el.providers[0].organization.name }}
                <br/>
                {{src_el.providers[0].address |bb_address }}
                <br/>
                {{src_el.providers[0].telecom.value }}
                <a ng-click="merge('providers')" class="pull-right" ng-if="diff.providers==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>
                {{dest_el.providers[0].organization.name }}
                <br/>
                {{dest_el.providers[0].address |bb_address }}
                <br/>
                {{dest_el.providers[0].telecom.value }}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.locations==='new'">Different</span>
                <strong>Location:</strong>
            </td>
            <td>
                {{src_el.locations[0].name }}
                <br/>
                {{src_el.locations[0].addresses[0] |bb_address }}
                <br/>
                {{src_el.locations[0].telecom.value }}
                <a ng-click="merge('locations')" class="pull-right" ng-if="diff.locations==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>
                {{dest_el.locations[0].name }}
                <br/>
                {{dest_el.locations[0].addresses[0] |bb_address }}
                <br/>
                {{dest_el.locations[0].telecom.value }}
            </td>
        </tr>

    </tbody>
</table>

