<table class="col-md-12 table  table-condensed table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-md-2" style="text-align: center;">
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>New Entry</h4>
            </td>
            <td class=" col-md-5" style="text-align: center;">
                <h4>Master Record <a ng-click="reset()" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </h4>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.value==='new'">Different</span>
                <strong>Value:</strong>
            </td>
            <td>{{src_el.value }}
                <a ng-click="merge('value')" class="pull-right" ng-if="diff.value==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.value}}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.dateRange==='new'">Different</span>
                <strong>Start Date:</strong>
            </td>
            <td>{{src_el.dateRange[0] | bb_date }}
                <a ng-click="merge_date('dateRange',0)" class="pull-right" ng-if="diff.dateRange==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.dateRange[0] | bb_date }}
            </td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <span class="label label-info" ng-if="diff.dateRange==='new'">Different</span>
                <strong>End Date:</strong>
            </td>
            <td>{{src_el.dateRange[1] | bb_date }}
                <a ng-click="merge_date('dateRange',1)" class="pull-right" ng-if="diff.dateRange==='new'"><i class="glyphicon glyphicon-import"></i></a>
            </td>
            <td>{{dest_el.dateRange[1] | bb_date }}
            </td>
        </tr>


    </tbody>
</table>


