.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.nav-tabs {
    margin-bottom: 0;
}