{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Data Reconciliation Engine API",
        "description": "Handles data services for DRE UI"
    },
    "tags": [{
        "name": "history",
        "description": "DRE account history methods"
    }],

    "host": "dre.amida-demo.com:3000",
    "basePath": "/api/v1",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/account_history": {
            "post": {
                "summary": "Add an event to a user's account history",
                "description": "Save event for register, log in/out, up/download file, lab results, password change, personal information changed",
                "operationId": "addEvent",
                "produces": [
                    "application/json"
                ],
                "tags": ["history"],
                "parameters":{
                    "name": "event",
                    "description": "Event to be added",
                    "in":"body",
                    "schema":{
                        "$ref":"#/definitions/eventSchema"
                    },
                    "required":true
                },
                "responses": {
                    "201": {
                        "description": "event succesfully created and added",
                        "schema": {
                            "$ref": "#/definitions/eventSchema"
                        }
                    }
                }
            }
        },
        "/account_history/all": {
            "get": {
                "summary": "Returns all events in a user's account history",
                "description": "Shows registered, logged in/out, file up/downloaded, lab results received, password changed, info updated",
                "operationId": "allEventsInOrder",
                "tags": ["history"],
                "responses": {
                    "200": {
                        "description": "event history returned",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/eventSchema"
                            }
                        }
                    }
                }
            }
        },
    },

    "definitions": {
        "eventSchema": {
            "required": [
                "userID",
                "event_type"
            ],
            "properties": {
                "userID": {
                    "type": "string"
                },
                "event_type": {
                    "type": "string",
                    "enum": [
                        "initAccount",
                        "loggedIn",
                        "loggedOut",
                        "fileUploaded",
                        "fileDownloaded",
                        "labResults",
                        "passwordChange",
                        "infoUpdate"
                    ]
                },
                "note": {
                    "type": "string"
                },
                "fileRef": {
                    "type": "string"
                },
                "time":{
                    "type":"string",
                    "format": "date-time"
                }
            }
        }
    }
}
