<div class="col-md-12" ng-controller="dashboardCtrl">
    <!-- Button trigger modal -->
    <div class="row">

        <h5 class="lead col-md-12">Home</h5>

        <br/>
        <div class="alert alert-info col-md-12">Upload a Blue Button file to update your Master Health Record
            <button type="button" class="btn btn-info pull-right col-sm-2" data-target="#uploadModal" data-toggle="modal">
                <span class="glyphicon glyphicon-cloud-upload"></span>Upload</button>
        </div>

        <div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title">Upload Record</div>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input class="form-control" type="file" id="uploadFile" file-model="myFile" />
                            </div>
                        </form>

                        <button class="btn btn-primary" type="submit" ng-click="uploadRecord()" data-dismiss="modal" aria-hidden="true">Upload</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info col-md-12" ng-hide="notifications.file_count===0">Save a copy of your Master Health Record
            <a ng-href="/api/v1/master_health_record/xml">
                <button type="button" class="btn btn-info pull-right col-sm-2">
                    <span class="glyphicon glyphicon-cloud-download"></span>Download</button>
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Hi there!</h4>
                    </div>
                    <div class="modal-body">
                        *Introductory Tour*
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No Thanks</button>
                        <button type="button" class="btn btn-primary">Yes!</button>
                    </div>
                </div>
            </div>
        </div>


        <h5 class="lead col-md-12" ng-show="displayMerges">Completed Updates</h5>

        <div class="alert alert-success col-md-12" ng-show="notifications.file_count===0">Welcome to the Data Reconciliation Engine! You currently have no files in storage.
            <button class="btn btn-primary pull-right col-sm-2" data-toggle="modal" data-target="#myModal">Take a Tour
            </button>
        </div>

        <div class="panel-group" ng-show="displayMerges">
            <div class="panel panel-default">
                <div class="panel-heading" style="min-height:45px;">
                    <div class="panel-title">
                        <span style="cursor:pointer;" ng-click="updateSort();" class="col-md-4" style="display:block;"><i class="fa fa-sort pull-left" style="margin-right: 10px; line-height: 1.6em;"></i>Update</span>
                        <span style="cursor:pointer;" ng-click="elementSort();" class="col-md-4"><i class="fa fa-sort pull-left" style="margin-right: 10px; line-height: 1.6em;"></i>Element</span>
                        <span style="cursor:pointer;" ng-click="dateSort();" class="pull-right"><i class="fa fa-sort pull-right" style="margin-right: 10px; line-height: 1.6em;"></i>Date</span>
                    </div>
                </div>

                <div class="panel-body">
                    <ul class="list-group" ng-repeat="new_merge in new_merges | orderBy:predicate">
                        <li class="list-group-item" style="text-transform:capitalize;">
                            <span class="col-md-4">{{new_merge.merge_reason}} {{new_merge.section_singular}}</span>
                            <span style="text-transform:uppercase;">{{new_merge.entry.name}}</span>
                            <span class="pull-right" style="text-transform:lowercase;">{{new_merge.merged | date: 'short'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>
