<!-- Login page with login form and for authentication request -->

<div class="panel panel-default col-md-8 col-md-offset-4" style="margin-top: 10px" ng-controller="homeCtrl">
    <div class="panel-body">
        <form novalidate role="form" class="form-horizontal" ng-submit="submitInput()">
            <div class="form-group">
                <label for="inputUsername" class="col-md-2 control-label">
                    Username:
                </label>
                <div class="col-md-offset-3">
                    <input type="text" class="form-control" ng-model="inputUsername" name="inUser" placeholder="Username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">
                    Password:
                </label>
                <div class="col-md-offset-3">
                    <input type="password" class="form-control" ng-model="inputPassword" name="inPass" placeholder="Password" required>
                </div>
            </div>
            <div class="pull-right">
                <a href="#/register" class="btn btn-success" role="button">New User?</a>
                <button class="btn btn-primary" type="submit" name="submit" required>Login</button>
            </div>
        </form>
    </div>
</div>
