
<div class="container-fluid body-content">
	<!--Profile-->
	<div class="col-sm-3 body-left" >
		<div profile></div>
		<div record-navigation></div>
	</div>

	
	<div class="col-sm-9">

		<!--Header-->	
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="row col-sm-12" breadcrumb></div>
					<div class="col-sm-12">
						<div class="col-sm-8">
							<div class="pull-left">
								<h1>Suzie's <span style="text-transform: capitalize;">{{entryType}}</span></h1>
								<p>Last Updated:  {{updateDate}}</p>
							</div>
						</div>
						<div class="text-right col-sm-3 ">
							<label>
								<input type="checkbox" ng-model="inactiveFlag"> Show Inactive
							</label>
						</div>	
					</div>
				</div>	

				<!--Alert-->
				<div class="col-sm-10 col-sm-offset-1 text-center" ng-show="alertShow">
					<span><button class="btn btn-link" style="margin-right: 20px;"><i class="fa fa-flag-o"></i></span> There is 1 update to your allergies requiring review.</button>
				</div>
			</div>
		</div>


		<!--Timeline View-->
		<h4 class="text-center">{{entryType}}</h4>
		<div class="panel">
			<div class="panel-body">
				<div>
					<p>Timeline</p>
				</div>
				<div timeline chart-data="entries" class="timeline-graph" inactive-flag="{{inactiveFlag}}"></div>

				<div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

					<div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

						<!--Timeline Icon-->
						<div class="col-sm-2">
							<a class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{entryType}}" timeline-index="{{recordIndex}}"></a>
						</div>


						<div class="col-sm-10">
							<div class="panel timeline-entry">
								<div class="panel-body" id="accordian">

									<div class="timeline-entry-header col-sm-12">
										<div class="col-sm-6">
											<h4 class="text-left">{{recordEntry.observation.allergen.name}}</h4>
											<h5 class="text-left">{{recordEntry.observation.severity.code.name}}</h5>
											<h5 class="text-left">{{recordEntry.date_time.displayDate}}</h5>
										</div>

										<div class="col-sm-6 text-right">

											<a  href="#/record/allergies/review"><button class="btn btn-link"><i class="fa fa-flag-o" style="margin-right: 10px;"></i> Review 1 Update</button></a>
										</div>
									</div>

									
									<div class="col-sm-12 tabpanel">

										<!--Tab nav-->
										<ul class="nav" role="tablist">
										<li role="presentation" class="pull-right">
												<button class="btn btn-link pull-right" data-toggle="tab" data-target="#history{{recordIndex}}" aria-expanded="false" aria-controls="history{{recordIndex}}">
													<span><i class="fa fa-clock-o"></i> History</span>
												</button>
											</li>
											<li role="presentation" class="pull-right">
												<button class="btn btn-link pull-right" data-toggle="tab" data-target="#comments{{recordIndex}}" aria-expanded="false" aria-controls="comments{{recordIndex}}">
													<span><i class="fa fa-comment"></i> Comments</span>
												</button>
											</li>
											<li role="presentation" class="pull-right">
												<button class="btn btn-link pull-right" data-toggle="tab" data-target="#details{{recordIndex}}" aria-expanded="false" aria-controls="details{{recordIndex}}">
													<span><i class="fa fa-ellipsis-h"></i> Details</span>
												</button>
											</li>
										</ul>

										<!--Tab panes-->
										<div class="tab-content">

											<!--Record detail pane.-->
											<div role="tabpanel" class="tab-pane collapse" id="details{{recordIndex}}">
												<p>Details</p>
											</div>

											<!--Record history pane.-->
											<div role="tabpanel" class="tab-pane collapse in" id="history{{recordIndex}}">
												<p>History</p>
											</div>

											<!--Record comments pane.-->
											<div role="tabpanel" class="tab-pane collapse" id="comments{{recordIndex}}">
												<p>Comments</p>
											</div>
											
										</div>

									</div>















									<div id="collapse{{recordIndex}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
										<table class="table table-hover">
											<tr>
												<td>Code:</td>
												<td>{{recordEntry.observation.allergen.code}}</td>
											</tr>
											<tr>
												<td>Code System:</td>
												<td>{{recordEntry.observation.allergen.code_system_name}}</td>
											</tr>
											<tr ng-repeat="(reactionIndex, reactionEntry) in recordEntry.observation.reactions">
												<td>Reactions:</td>
												<td>

													<div class="panel">
														<table class="table sub-table">
															<thead>
																<tr>
																	<td>Reaction:</td>
																	<td>{{reactionEntry.reaction.name}}</td>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Severity:</td>
																	<td>{{reactionEntry.severity.code.name}}</td>
																</tr>
																<tr>
																	<td>Code:</td>
																	<td>{{reactionEntry.reaction.code}}</td>
																</tr>
																<tr>
																	<td>Code System:</td>
																	<td>{{reactionEntry.reaction.code_system_name}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-2 center-block text-center timeline-footer">
					<svg width="30" height="30">
						<circle cx="15" cy="15" r="15"></circle>
					</svg>
				</div>
			</div>
		</div>
		<!--<pre>{{masterEntries | json}}</pre>-->
	</div>
</div>