
<div class="row" style="margin: 20px;">
	<!--Profile-->
	<div class="col-sm-3" style="padding-right: 20px; height: 100%;">
		<div profile></div>
		<div record-navigation></div>
	</div>

	<!--Body Header-->
	<div class="col-sm-9">
		<div class="panel">
			<div class="panel-body">

				<!--Header Items-->
				<div class="col-sm-12">
					<div class="row col-sm-12" breadcrumb></div>
					<div class="col-sm-12">
						
						<div class="col-sm-8">
							<div class="pull-left">
								<h1 style="text-transform: Capitalize;">Suzie's {{entryType}}</h1>
								<p>Last Updated:  {{updateDate}}</p>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>


		<!--Timeline View-->
		<h4 class="text-center">{{entryType}}</h4>
		<div class="panel">
			<div class="panel-body">
				<div>
					<p>Timeline</p>
				</div>
				<div timeline chart-data="entries" class="timeline-graph"></div>

				<div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

					<div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

						<!--Timeline Icon-->
						<div class="col-sm-2">
							<a class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{entryType}}" timeline-index="{{recordIndex}}"></a>
						</div>

						<div class="col-sm-10">
							<div class="panel timeline-entry">
								<div class="panel-body" id="accordian">
									<div class="timeline-entry-header col-sm-12">
										<div class="col-sm-6">
											<h4 class="text-left">{{recordEntry.product.product.name}}</h4>
											<h5 class="text-left">{{recordEntry.administration.route.name}}</h5>
											<h5 class="text-left">{{recordEntry.date_time.displayDate}}</h5>
										</div>
										<div class="col-sm-6 text-right">
										</div>
										<div style="position: absolute; bottom: 0px; right: 0px;">
											<button class=" btn btn-primary btn-link pull-right" data-toggle="collapse" data-target="#collapse{{recordIndex}}" aria-expanded="false" aria-controls="collapse{{recordIndex}}">
												<i class="fa fa-chevron-down"></i> More
											</button>		
										</div>
									</div>

									<div id="collapse{{recordIndex}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
										<table class="table table-hover">
											<tr>
												<td>Status:</td>
												<td>{{recordEntry.status}}</td>
											</tr>
											<tr>
												<td>Sig:</td>
												<td>{{recordEntry.sig}}</td>
											</tr>
											<tr ng-show="recordEntry.administration.dose">
												<td>Dose:</td>
												<td>{{recordEntry.administration.dose.displayQuantity}}</td>
											</tr>
											<tr ng-show="recordEntry.administration.rate">
												<td>Rate:</td>
												<td>{{recordEntry.administration.rate.displayQuantity}}</td>
											</tr>
											<tr ng-show="recordEntry.administration.interval">
												<td>Interval:</td>
												<td>{{recordEntry.administration.interval.displayInterval}}</td>
											</tr>
											<tr>
												<td>Manufacturer:</td>
												<td>{{recordEntry.product.manufacturer}}</td>
											</tr>
											<tr>
												<td>Product Code:</td>
												<td>{{recordEntry.product.product.code}}</td>
											</tr>
											<tr>
												<td>Product Code System:</td>
												<td>{{recordEntry.product.product.code_system_name}}</td>
											</tr>
											<tr>
												<td>Unencoded Name:</td>
												<td>{{recordEntry.product.unencoded_name}}</td>
											</tr>
											<tr ng-show="recordEntry.product.product.translations">
												<td>Other Descriptions:</td>
												<td>
													<div class="panel" ng-repeat="(itemIndex, itemEntry) in recordEntry.product.product.translations">
														<table class="table sub-table">
															<thead>
																<tr>
																	<td>Name:</td>
																	<td>{{itemEntry.name}}</td>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Code:</td>
																	<td>{{itemEntry.code}}</td>
																</tr>
																<tr>
																	<td>Code System:</td>
																	<td>{{itemEntry.code_system_name}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
											<tr ng-show="recordEntry.supply">
												<td>Supply:</td>
												<td>
													<div class="panel">
														<table class="table sub-table">
															<tr>
																<td>Date:</td>
																<td>{{recordEntry.supply.date_time.displayDate}}</td>
															</tr>
															<tr>
																<td>Repeat Number:</td>
																<td>
																	<div>
																		{{recordEntry.supply.repeatNumber}}
																	</div>
																</td>
															</tr>
															<tr>
																<td>Quantity:</td>
																<td>{{recordEntry.supply.quantity}}</td>
															</tr>
															<tr>
																<td>Author:</td>
																<td>{{recordEntry.supply.author.name.displayName}}</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											<tr ng-show="recordEntry.administration.route">
												<td>Route:</td>
												<td>
													<div class="panel">
														<table class="table sub-table">
															<tr>
																<td>Name:</td>
																<td>{{recordEntry.administration.route.name}}</td>
															</tr>
															<tr>
																<td>Code:</td>
																<td>{{recordEntry.administration.route.code}}</td>
															</tr>
															<tr>
																<td>Code System:</td>
																<td>{{recordEntry.administration.route.code_system_name}}</td>
															</tr>
															
														</table>
													</div>
												</td>
											</tr>
											<tr ng-show="recordEntry.administration.form">
												<td>Form:</td>
												<td>
													<div class="panel">
														<table class="table sub-table">
															<tr>
																<td>Name:</td>
																<td>{{recordEntry.administration.form.name}}</td>
															</tr>
															<tr>
																<td>Code:</td>
																<td>{{recordEntry.administration.form.code}}</td>
															</tr>
															<tr>
																<td>Code System:</td>
																<td>{{recordEntry.administration.form.code_system_name}}</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											<tr ng-show="recordEntry.drug_vehicle">
												<td>Drug Vehicle:</td>
												<td>
													<div class="panel">
														<table class="table sub-table">
															<tr>
																<td>Name:</td>
																<td>{{recordEntry.drug_vehicle.name}}</td>
															</tr>
															<tr>
																<td>Code:</td>
																<td>{{recordEntry.drug_vehicle.code}}</td>
															</tr>
															<tr>
																<td>Code System:</td>
																<td>{{recordEntry.drug_vehicle.code_system_name}}</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											<tr ng-show="recordEntry.precondition">
												<td>Precondition:</td>
												<td>
													<div class="panel">
														<table class="table sub-table">
															<tr>
																<td>Name:</td>
																<td>{{recordEntry.precondition.value.name}}</td>
															</tr>
															<tr>
																<td>Code:</td>
																<td>{{recordEntry.precondition.value.code}}</td>
															</tr>
															<tr>
																<td>Code System:</td>
																<td>{{recordEntry.precondition.value.code_system_name}}</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
											<tr ng-show="recordEntry.indication">
												<td>Indication:</td>
												<td>
													<div class="panel">
														<table class="table sub-table">
															<tr>
																<td>Name:</td>
																<td>{{recordEntry.indication.value.name}}</td>
															</tr>
															<tr>
																<td>Code:</td>
																<td>{{recordEntry.indication.value.code}}</td>
															</tr>
															<tr>
																<td>Code System:</td>
																<td>{{recordEntry.indication.value.code_system_name}}</td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</div>

				<!--<pre>{{recordEntry | json}}</pre>-->
			</div>

		</div>
		
	</div>
	<div class="col-sm-2 center-block text-center timeline-footer">
		<svg width="30" height="30">
			<circle cx="15" cy="15" r="15"></circle>
		</svg>
	</div>




</div>
</div>



</div>


</div>

<!--<pre>{{entries | json}}</pre>-->

</div>