<div class="row" style="margin: 20px;">
    <!--Profile-->
    <div class="col-sm-3" style="padding-right: 20px; height: 100%;">
        <div profile></div>
        <div billingnavigation></div>
    </div>

    <!--Body Header-->
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">

                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">

                        <div class="col-sm-8">
                            <div class="pull-left">
                                <h1 style="text-transform: Capitalize;">Suzie's {{entryType}}</h1>
                                <p>Last Updated: {{updateDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Timeline View-->
        <h4 class="text-center">{{entryType}}</h4>
        <div class="panel">
            <div class="panel-body">
                <div>
                    <p>Timeline</p>
                </div>
                <div timeline chart-data="entries" class="timeline-graph"></div>

                <div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

                    <div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

                        <div class="col-sm-2">
                            <a class="timeline-entry-icon text-center center-block">

                                <i ng-if="recordEntry.type === 'download'" class="fa fa-download fa-2x" id="entry{{recordIndex}}"></i>
                                <i ng-if="recordEntry.type === 'upload'" class="fa fa-upload fa-2x" id="entry{{recordIndex}}"></i>
                                <i ng-if="entryType === 'claims'" class="fa fa-check-square-o fa-2x" id="entry{{recordIndex}}"></i>

                            </a>
                        </div>

                        <div class="col-sm-10">
                            <div class="panel timeline-entry">
                                <div class="panel-body" id="accordian">
                                    <div class="timeline-entry-header col-sm-12">
                                        <div class="col-sm-6">
                                            <h4 class="text-left" ng-repeat="payer_name in recordEntry.payer">{{payer_name}}</h4>
                                            <h5 class="text-left">{{recordEntry.date_time.displayDate}}</h5>
                                        </div>
                                        <div style="position: absolute; bottom: 0px; right: 0px;">
                                            <button class=" btn btn-primary btn-link pull-right" data-toggle="collapse" data-target="#collapse{{recordIndex}}" aria-expanded="false" aria-controls="collapse{{recordIndex}}">
                                                <i class="fa fa-chevron-down"></i> More
                                            </button>
                                        </div>
                                    </div>

                                    <div id="collapse{{recordIndex}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <table class="table table-hover">
                                            <tr>
                                                <td>Claim number:</td>
                                                <td>{{recordEntry.number}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.name">
                                                <td>Name:</td>
                                                <td>{{recordEntry.name}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.service">
                                                <td>Service:</td>
                                                <td>{{recordEntry.service}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.type">
                                                <td>Type:</td>
                                                <td style="text-transform: Capitalize" ng-repeat="entryType in recordEntry.type">{{entryType}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.charges">
                                                <td>Charges:</td>
                                                <td>
                                                    <div class="panel">
                                                        <table class="table sub-table">
                                                            <tr ng-show="recordEntry.charges.price_billed">
                                                                <td>Billed:</td>
                                                                <td>{{recordEntry.charges.price_billed}}</td>
                                                            </tr>
                                                            <tr ng-show="recordEntry.charges.negotiated_price">
                                                                <td>Negotiated Price:</td>
                                                                <td>{{recordEntry.charges.negotiated_price}}</td>
                                                            </tr>
                                                            <tr ng-show="recordEntry.charges.provider_paid">
                                                                <td>Provider Paid:</td>
                                                                <td>{{recordEntry.charges.provider_paid}}</td>
                                                            </tr>
                                                            <tr ng-show="recordEntry.charges.insurance_paid">
                                                                <td>Insurance Paid:</td>
                                                                <td>{{recordEntry.charges.insurance_paid}}</td>
                                                            </tr>
                                                            <tr ng-show="recordEntry.charges.patient_responsibility">
                                                                <td>Patient Responsibility:</td>
                                                                <td>{{recordEntry.charges.patient_responsibility}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="recordEntry.provider">
                                                <td>Provider:</td>
                                                <td>
                                                    <div class="panel">
                                                        <table class="table sub-table">
                                                            <tr>
                                                                <td>Provider Name:</td>
                                                                <td>{{recordEntry.provider.name}}</td>
                                                            </tr>
                                                            <tr ng-show="recordEntry.provider.type">
                                                                <td>Type:</td>
                                                                <td>{{recordEntry.provider.type}}</td>
                                                            </tr>
                                                            <tr ng-show="recordEntry.provider.provider_billing_address">
                                                                <td>Provider Billing Address:</td>
                                                                <td>{{recordEntry.provider.provider_billing_address}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="recordEntry.diagnoses">
                                                <td>Diagnoses:</td>
                                                <td>
                                                    <div class="panel">
                                                        <table class="table sub-table">
                                                            <tr ng-repeat="(itemIndex, itemEntry) in recordEntry.diagnoses">
                                                                <td>Code:</td>
                                                                <td>{{itemEntry.code}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="recordEntry.lines">
                                                <td>Lines:</td>
                                                <td>
                                                    <div class="panel" ng-repeat="claimLine in recordEntry.lines">
                                                        <table class="table sub-table">
                                                            <tr ng-show="claimLine.line">
                                                                <td>Line {{claimLine.line}}</td>
                                                            </tr>
                                                            <tr ng-show="claimLine.date_time.displayDate">
                                                                <td>Date:</td>
                                                                <td>{{claimLine.date_time.displayDate}}</td>
                                                            </tr>
                                                            <tr ng-show="claimLine.charges">
                                                                <td>Charges:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table">
                                                                            <tr ng-show="claimLine.charges.price_billed">
                                                                                <td>Billed:</td>
                                                                                <td>{{claimLine.charges.price_billed}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.charges.negotiated_price">
                                                                                <td>Negotiated Price:</td>
                                                                                <td>{{claimLine.charges.negotiated_price}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.charges.provider_paid">
                                                                                <td>Provider Paid:</td>
                                                                                <td>{{claimLine.charges.provider_paid}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.charges.insurance_paid">
                                                                                <td>Insurance Paid:</td>
                                                                                <td>{{claimLine.charges.insurance_paid}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.charges.patient_responsibility">
                                                                                <td>Patient Responsibility:</td>
                                                                                <td>{{claimLine.charges.patient_responsibility}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="claimLine.number">
                                                                <td>Number:</td>
                                                                <td>{{claimLine.number}}</td>
                                                            </tr>
                                                            <tr ng-show="claimLine.drug">
                                                                <td>Drug:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table">
                                                                            <tr ng-show="claimLine.drug.code">
                                                                                <td>Code:</td>
                                                                                <td>{{claimLine.drug.code}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.drug.name">
                                                                                <td>Name:</td>
                                                                                <td>{{claimLine.drug.name}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.drug.description">
                                                                                <td>Description:</td>
                                                                                <td>{{claimLine.drug.description}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="claimLine.procedure">
                                                                <td>Procedure:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table">
                                                                            <tr ng-show="claimLine.procedure.code">
                                                                                <td>Code:</td>
                                                                                <td>{{claimLine.procedure.code}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.procedure.name">
                                                                                <td>Name:</td>
                                                                                <td>{{claimLine.procedure.name}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.procedure.description">
                                                                                <td>Description:</td>
                                                                                <td>{{claimLine.procedure.description}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="claimLine.modifiers">
                                                                <td>Modifiers:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table" ng-repeat="modifier in claimLine.modifiers">
                                                                            <tr ng-show="modifier.code">
                                                                                <td>Code:</td>
                                                                                <td>{{modifier.code}}</td>
                                                                            </tr>
                                                                            <tr ng-show="modifier.name">
                                                                                <td>Name:</td>
                                                                                <td>{{modifier.name}</td>
                                                                            </tr>
                                                                            <tr ng-show="modifier.description">
                                                                                <td>Description:</td>
                                                                                <td>{{modifier.description}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="claimLine.place_of_service">
                                                                <td>Place of Service:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table">
                                                                            <tr ng-show="claimLine.place_of_service.code">
                                                                                <td>Code:</td>
                                                                                <td>{{claimLine.place_of_service.code}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.place_of_service.name">
                                                                                <td>Name:</td>
                                                                                <td>{{claimLine.place_of_service.name}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.place_of_service.description">
                                                                                <td>Description:</td>
                                                                                <td>{{claimLine.place_of_service.description}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="claimLine.prescriber">
                                                                <td>Prescriber:</td>
                                                                <td>{{claimLine.prescriber.name}}</td>
                                                            </tr>
                                                            <tr ng-show="claimLine.rendering_provider">
                                                                <td>Rendering Provider:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table">
                                                                            <tr ng-show="claimLine.rendering_provider.npi">
                                                                                <td>NPI:</td>
                                                                                <td>{{claimLine.rendering_provider.npi}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.rendering_provider.number">
                                                                                <td>Number:</td>
                                                                                <td>{{claimLine.rendering_provider.number}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr ng-show="claimLine.revenue">
                                                                <td>Revenue:</td>
                                                                <td>
                                                                    <div class="panel">
                                                                        <table class="table sub-table">
                                                                            <tr ng-show="claimLine.revenue.code">
                                                                                <td>Code:</td>
                                                                                <td>{{claimLine.revenue.code}}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.revenue.name">
                                                                                <td>Name:</td>
                                                                                <td>{{claimLine.revenue.name}</td>
                                                                            </tr>
                                                                            <tr ng-show="claimLine.revenue.description">
                                                                                <td>Description:</td>
                                                                                <td>{{claimLine.revenue.description}}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!--<pre>{{recordEntry | json}}</pre>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 center-block text-center timeline-footer">
                        <svg width="30" height="30">
                            <circle cx="15" cy="15" r="15"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <pre>{{entries | json}}</pre> -->

</div>
