<div class="row" style="margin: 20px;">
    <!--Profile-->
    <div class="col-sm-3" style="padding-right: 20px; height: 100%;">
        <div profile></div>
        <div billingnavigation></div>
    </div>

    <!--Body Header-->
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">

                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">

                        <div class="col-sm-8">
                            <div class="pull-left">
                                <h1 style="text-transform: Capitalize;">Suzie's {{entryType}}</h1>
                                <p>Last Updated: {{updateDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Timeline View-->
        <h4 class="text-center">{{entryType}}</h4>
        <div class="panel">
            <div class="panel-body">
                <div timeline chart-data="entries" class="timeline-graph"></div>

                <div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

                    <div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

                        <div class="col-sm-2">
                            <a class="timeline-entry-icon text-center center-block">

                                <i ng-if="recordEntry.type === 'download'" class="fa fa-download fa-2x" id="entry{{recordIndex}}"></i>
                                <i ng-if="recordEntry.type === 'upload'" class="fa fa-upload fa-2x" id="entry{{recordIndex}}"></i>
                                <i ng-if="entryType === 'insurance'" class="fa fa-institution fa-2x" id="entry{{recordIndex}}"></i>

                            </a>
                        </div>

                        <div class="col-sm-10">
                            <div class="panel timeline-entry">
                                <div class="panel-body" id="accordian">
                                    <div class="timeline-entry-header col-sm-12">
                                        <div class="col-sm-6">
                                            <h4 class="text-left">{{recordEntry.name}}</h4>
                                            <h5 class="text-left">{{recordEntry.date_time.displayDate}}</h5>
                                        </div>
                                        <div style="position: absolute; bottom: 0px; right: 0px;">
                                            <button class=" btn btn-primary btn-link pull-right" data-toggle="collapse" data-target="#collapse{{recordIndex}}" aria-expanded="false" aria-controls="collapse{{recordIndex}}">
                                                <i class="fa fa-chevron-down"></i> More
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <div id="collapse{{recordIndex}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <table class="table table-hover">
                                            <tr ng-show="recordEntry.address">
                                                <td>Address:</td>
                                                <td>{{recordEntry.address}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.phone">
                                                <td>Phone:</td>
                                                <td>{{recordEntry.phone}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.assigned_person">
                                                <td>Assigned Person:</td>
                                                <td>{{recordEntry.assigned_person}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.email">
                                                <td>Email:</td>
                                                <td>{{recordEntry.email}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.group_name">
                                                <td>Group Name:</td>
                                                <td>{{recordEntry.group_name}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.group_number">
                                                <td>Group Number:</td>
                                                <td>{{recordEntry.group_number}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.member_name">
                                                <td>Member Name:</td>
                                                <td>{{recordEntry.member_name}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.payer_name">
                                                <td>Payer Name:</td>
                                                <td>{{recordEntry.payer_name}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.payer_id">
                                                <td>Payer ID:</td>
                                                <td>{{recordEntry.payer_id}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.payer_id_type">
                                                <td>Payer ID Type:</td>
                                                <td>{{recordEntry.payer_id_type}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.plan_name">
                                                <td>Plan Name:</td>
                                                <td>{{recordEntry.plan_name}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.plan_id">
                                                <td>Plan ID:</td>
                                                <td>{{recordEntry.plan_id}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.plan_information">
                                                <td>Plan Information:</td>
                                                <td>{{recordEntry.plan_information}}</td>
                                            </tr>
                                            <tr ng-show="recordEntry.type">
                                                <td>Plan Type:</td>
                                                <td>
                                                    <div class="panel">
                                                        <table class="table sub-table">
                                                            <tr ng-repeat="planType in recordEntry.type">
                                                                <td style="text-transform: Capitalize;">{{planType}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-show="recordEntry.policy_number">
                                                <td>Policy Number:</td>
                                                <td>{{recordEntry.policy_number}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!--<pre>{{recordEntry | json}}</pre>-->
                            </div>
                        </div>
                    </div>                    
                </div>
                    <div class="col-sm-2 center-block text-center timeline-footer">
                        <svg width="30" height="30">
                            <circle cx="15" cy="15" r="15"></circle>
                        </svg>
                    </div>
            </div>
        </div>
    </div>

    <!-- <pre>{{entries | json}}</pre> -->

</div>
