<div class="row" style="margin: 20px;">
    <!--Profile-->
    <div class="col-sm-3" style="padding-right: 20px; height: 100%;">
        <div profile></div>
        <div record-navigation></div>
    </div>

    <!--Body Header-->
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">

                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">

                        <div class="col-sm-8">
                            <div class="pull-left">
                                <h1 style="text-transform: Capitalize;">Suzie's {{entryType}}</h1>
                                <p>Last Updated: {{updateDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Timeline View-->
        <h4 class="text-center">{{entryType}}</h4>
        <div class="panel">
            <div class="panel-body">
                <div>
                    <p>Timeline</p>
                </div>
                <div timeline chart-data="entries" class="timeline-graph"></div>

                <div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

                    <div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

                        <div class="col-sm-2">
                            <a class="timeline-entry-icon text-center center-block">

                                <i ng-if="recordEntry.type === 'download'" class="fa fa-download fa-2x" id="entry{{recordIndex}}"></i>
                                <i ng-if="recordEntry.type === 'upload'" class="fa fa-upload fa-2x" id="entry{{recordIndex}}"></i>
                                <i ng-if="entryType === 'insurance'" class="fa fa-institution fa-2x" id="entry{{recordIndex}}"></i>

                            </a>
                        </div>

                        <div class="col-sm-10">
                            <div class="panel timeline-entry">
                                <div class="panel-body" id="accordian">
                                    <div class="timeline-entry-header col-sm-12">
                                        <div class="col-sm-6">
                                            <h4 class="text-left">{{recordEntry.name}}</h4>
                                        </div>
                                        <div style="position: absolute; bottom: 0px; right: 0px;">
                                            <button class=" btn btn-primary btn-link pull-right" data-toggle="collapse" data-target="#collapse{{recordIndex}}" aria-expanded="false" aria-controls="collapse{{recordIndex}}">
                                                <i class="fa fa-chevron-down"></i> More
                                            </button>
                                        </div>
                                    </div>

                                </div>

                                <!--<pre>{{recordEntry | json}}</pre>-->
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2 center-block text-center timeline-footer">
                        <svg width="30" height="30">
                            <circle cx="15" cy="15" r="15"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pre>{{entries | json}}</pre>

</div>
