<div class="row" style="margin: 20px;">
    <!--Profile-->
    <div class="col-sm-3" style="padding-right: 20px; height: 100%;">
        <div profile></div>
        <div billingnavigation></div>
    </div>

    <!--Body Header-->
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">

                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">

                        <div class="col-sm-8">
                            <div class="pull-left">
                                <h1 style="text-transform: Capitalize;">Suzie's {{entryType}}</h1>
                                <p>Last Updated: {{updateDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Timeline View-->
        <h4 class="text-center">{{entryType}}</h4>
        <div class="panel">
            <div class="panel-body">
                <div timeline chart-data="entries" class="timeline-graph"></div>

                <div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

                    <div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

                        
                            <entry entry-type="{{entryType}}" entry-index="{{recordIndex}}"></entry>
                        


                    </div>                    
                </div>
                    <div class="col-sm-2 center-block text-center timeline-footer">
                        <svg width="30" height="30">
                            <circle cx="15" cy="15" r="15"></circle>
                        </svg>
                    </div>
            </div>
        </div>
    </div>

    <!--<pre>{{entries | json}}</pre>-->

</div>
