// Image formatting.

.img-navbar-avatar {
  max-width: 30px;
  max-height: 30px;
  @extend .img-circle;
  margin: 10px;
}

.img-navbar-logo {
  max-width: 30px;
  max-height: 30px;
  margin: -5px 10px;
}
