
.modal-dialog {
  width: 80%;
}

.modal-content {
    text-align: left;
}

.modal-open {
    overflow: scroll;
}

.modal-body .navbar {
  background-color: white;
}

.modal-body li {
  width: 100%;
}

.modal-body span {
  font-size: 14px;  
}
