
.modal-dialog {
  width: 80%;
}

.modal-content {
    text-align: left;  	
    background-color: #eee;

}

.modal-open {
    overflow: scroll;
}

.modal-body .table {
  	background-color: #eee;
}

.modal-body .navbar {
  background-color: #eee;
}

.modal-body .navbar .btn {
  color: #6aa6ff;
}

.modal-body li {
  width: 100%;

}

.modal-body span {
  font-size: 14px;  
}

.modal-body .control-label {
  padding-right: 11px;
}
