.panel {
	border-color: #ddd;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.75);
}
.panel.panel-transparent {
	background-color: transparent;
}

.print-record {
	td {
		padding: 5px;
		vertical-align: top;
	}
	table {
		margin: 0px;
	}
	margin: 0px;
	border-style: none;
	font-size: 10px;
	h5, h4 {
		font-size: 12px !important;
	}
	.panel {
		margin: 0px;
	}
	.profile-content {
		> h4, p {
			color: #000 !important;
		}
		
	}
	
}
