.table .table {
	background-color: transparent;
	margin-bottom: 0px;
}

.table .update-spacer {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 0px;

	
}

.table tbody tr:hover td.update-spacer {
    background-color: transparent;
}

.bordered {
	border: 1px solid #ccc;
}

.table i {
    color: $brand-primary;
}
.table.panel {
	padding:0px; 
}





