<div class="navbar navbar-default" role="navigation">
    <!--Logged In Navbar-->
    <div class="container-fluid">
        <!--div ng-if="false" class="container-fluid"-->
        <div style="margin: 0px 20px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#logout-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img class="img-navbar-logo" src="images/bb-logo-vector.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="logout-menu">
                <ul class="nav navbar-nav navbar-right ">
                    <li><a ng-click="vm.devLogout()">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="panel">
<h3 class="text-center"> CLIENT LIST ({{vm.clientsList.length}}): </h3>

<div class="panel col-sm-offset-3 col-sm-6" ng-repeat="client in vm.clientsList">
    <table class="table table-hover">
        <th ng-click="vm.showClient(client.name)">{{client.name}}</th>
        <tbody>
            <tr>
                <td>Client ID</td>
                <td>{{client.clientId}}</td>
            </tr>
            <tr>
                <td>Created</td>
                <td>{{client.created | date:'medium'}}</td>
            </tr>
            <tr>
                <td>Launch Uri</td>
                <td>{{client.launchUri}}</td>
            </tr>
            <tr>
                <td>Logo Uri</td>
                <td>{{client.logoUri}}</td>
            </tr>
            <tr>
                <td>Redirect Uri</td>
                <td>{{client.redirectUri}}</td>
            </tr>
            <tr>
                <td>Token Endpoing Auth Method</td>
                <td>{{client.tokenEndpointAuthMethod}}</td>
            </tr>
            <tr>
                <td>Added by</td>
                <td>{{client.ownerEmail}}</td>
            </tr>
            <tr>
                <td>Grant Types</td>
                <td>{{client.grantTypes}}</td>
            </tr>
            <tr>
                <td>Scope</td>
                <td>{{client.scope}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>