<div class="col-sm-12 dev-landing-panel">
    <h1 class="col-sm-offset-1 col-sm-4">Welcome to the DRE Developers Portal.</h1>
    <div class="col-sm-4 col-sm-offset-3">
        <div class="panel panel-default landing-login">
            <div class="panel-body">
                <form novalidate role="form" name="vm.loginForm" ng-submit="vm.mainLogin()">
                    <div class="form-group">
                        <label for="inputLogin">User ID:</label>
                        <input type="text" class="form-control" name="inputLogin" ng-model="vm.inputLogin" required ng-required="true" ng-minLength="1" focus="true">
                        <p ng-show="vm.loginForm.inputLogin.$invalid && !vm.loginForm.inputLogin.$pristine" class="help-block">Username or email is required.</p>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password:</label>
                        <input type="password" class="form-control" name="inputPassword" ng-model="vm.inputPassword" required ng-required="true" ng-minLength="1">
                        <p ng-show="vm.loginForm.inputPassword.$invalid && !vm.loginForm.inputPassword.$pristine" class="help-block">Password is required.</p>
                    </div>


                    <button type="submit" class="btn btn-block btn-primary" ng-disabled="vm.loginForm.$invalid">Log In</button>
                    <div ng-if="vm.error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{vm.error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>