<!-- Register users -->

<div class="panel panel-default col-md-6 col-md-offset-2" style="margin-top: 10px" ng-controller="registerCtrl">
    <div>
        <h4>Register a new account</h4>
    </div>
    <div class="panel-body">
        <form novalidate, name="registration" ng-submit="submitReg()">
            
            <div class="form-group">
                <label for="inputEmail" class="col-md-2 control-label">
                    Email:
                </label>
                <div class="col-md-offset-3">
                    <input type="text" class="form-control" ng-model="inputEmail" name="inEmail" placeholder="Your Email" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputUsername" class="col-md-2 control-label">
                    Username:
                </label>
                <div class="col-md-offset-3">
                    <input type="text" class="form-control" ng-model="inputUsername" placeholder="Choose a Username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-2 control-label">
                    Password:
                </label>
                <div class="col-md-offset-3">
                    <input type="password" class="form-control" ng-model="inputPassword" placeholder="Password" required>
                </div>
            </div>
            <div class="pull-right">
                <a href="#/login" class="btn btn-default" role="button">Cancel</a>
                <button class="btn btn-success" type="submit" name="submit" required>Register</button>
            </div>
        </form>
    </div>
</div>
