// =======================================================================
// Copyright 2013 Amida Technology Solutions (http://amida-tech.com)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//  http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// =======================================================================
//- modal window for records merge, currently unused
.modal.fade(id='myModal',tabindex='-1',role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-title
          h4 {{modal.record.details}}
      .modal-body
        table.table
          thead
            tr
              th
              th Name
              th Date
              th Type
              th Source
          tbody
            tr
              td
                //- a.file-download(ng-click="download(modal.record.identifier)")
                a.file-download(href="/storage/record/{{modal.record.identifier}}")
                  span.glyphicon.glyphicon-circle-arrow-down
              td {{modal.record.fileName}}
              td {{modal.record.uploadDate | date: "MMMM dd, yyyy"}}
              td {{contentType(modal.record.contentType)}}
              td {{modal.record.source}}
        //- ng-include(src='"partials/preview"')
        p(ng-show='modal.record.parsedFlag') This record is already added to you master health record
        //- {{modal.record | json}}
        table {{previewVisible}}
          .row
            .col-md-4
              ul.nav.nav-list(ng-hide='previewHidden')
                li(ng-class="tab == 'allergies' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "allergies"') allergies
                li(ng-class="tab == 'demographics' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "demographics"') demographics
                li(ng-class="tab == 'encounters' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "encounters"') encounters
                li(ng-class="tab == 'immunizations' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "immunizations"') immunizations
                li(ng-class="tab == 'labs' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "labs"') labs
                li(ng-class="tab == 'medications' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "medications"') medications
                li(ng-class="tab == 'problems' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "problems"') problems
                li(ng-class="tab == 'vitals' && 'active'", style='cursor:pointer;')
                  a(ng-click='tab = "vitals"') vitals
            .col-md-8(ng-show='tab == "encounters"')
              ng-include(src='"partials/preview/encounter"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "demographics"')
              ng-include(src='"partials/preview/demographics"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "vitals"')
              ng-include(src='"partials/preview/vitals"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "labs"')
              ng-include(src='"partials/preview/labs"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "medications"')
              ng-include(src='"partials/preview/medications"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "immunizations"')
              ng-include(src='"partials/preview/immunizations"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "allergies"')
              ng-include(src='"partials/preview/allergies"', ng-hide='previewHidden')
            .col-md-8(ng-show='tab == "problems"')
              ng-include(src='"partials/preview/problems"', ng-hide='previewHidden')
      .modal-footer

        button.btn(type='button', ng-click='loadPreview(modal.record.identifier)', ng-show='previewHidden && modal.record.contentType==="CCDA"') Preview
        button.btn(type='button', ng-click='hidePreview(modal.record.identifier)', ng-hide='previewHidden') Hide Preview
        button.btn.btn-success(type='button' data-dismiss='modal' ng-show='!modal.record.parsedFlag && modal.record.contentType==="CCDA" && modal.record.source!="outbox"' ng-click="merge(modal.record.identifier)") Add to master record
        button.btn.btn-danger(type='button' data-dismiss='modal' ng-click="delete(modal.record.identifier)") Delete
        button.btn.btn-primary(type='button' data-dismiss='modal') Close



