// =======================================================================
// Copyright 2013 Amida Technology Solutions (http://amida-tech.com)
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//  http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// =======================================================================
ng-include(src="'partials/header'")

.container
  .row
    .col-md-12
      h3 Access Rules
      p The following healthcare providers may access your shared records as needed.
      //button#access.btn.btn-primary(data-target='#accessModal',role='button',data-toggle='modal') Grant Access
      #accessModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='accessModalLabel',aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
              .modal-title
                h4 Grant Access
            .modal-body
              ng-include(src='"partials/rules/access-modal"')
              button.btn.btn-primary(type='submit',data-dismiss='modal') Grant Access
      #grantAccessModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='accessModalLabel',aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
              .modal-title
                h6 Grant Access?
              .modal-body
                p You have recieved a request for record access from one of your providers.
                p If you wish to grant this person access, click the 'Allow Access' button.
                p If you do not know this requestor, or do not wish to grant them access, click 'Deny Access.'
                button.btn.btn-success(type='submit',data-dismiss='modal',style='margin-right: 10px;',ng-click='grantPendingAuthorization()') Grant Access
                button.btn.btn-danger(type='submit',data-dismiss='modal',style='margin-right: 10px;',ng-click='denyPendingAuthorization()') Deny Access
                button.btn(type='submit',data-dismiss='modal',style='margin-right: 10px;') Cancel
      table.table.table-hover
        thead
          h6 Access Requests
          tr(ng-show='pendingAuthorizations.length === 0')
            th No outstanding requests at this time.
          tr(ng-show='pendingAuthorizations')
            th Requestor Name
            th Requested Access
        tbody(style='cursor: pointer;', ng-repeat='pendingAuthorization in pendingAuthorizations')
          tr(data-target='#grantAccessModal',role='button',data-toggle='modal' ng-click="setCurrentPendingAuthorization(pendingAuthorization.clinician)")
            td {{pendingAuthorization.clinician.clinicianName}}
            td {{pendingAuthorization.authorizationString}}
      table.table.table-hover
        thead
          h6 Granted Access
          tr(ng-show='authorizations.length === 0')
            th No authorized providers at this time.
          tr(ng-show='authorizations')
            th Authorized Name
            th Authorized Access
        tbody(style='cursor: pointer;')
          tr(data-target='#updateAccessModal', ng-repeat='authorization in authorizations' role='button',data-toggle='modal', ng-click="setCurrentAuthorization(authorization.clinician); setCurrentPermissions(authorization.permissions)")
            td {{authorization.clinician.clinicianName}}
            td {{authorization.authorizationString}}
      #updateAccessModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='accessModalLabel',aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
              .modal-title
                h4 Update Access
            .modal-body
              ng-include(src='"partials/rules/access-modal"')
              button.btn.btn-danger(type='submit',data-dismiss='modal',style='margin-right: 10px;', ng-click="removeAuthorization(authorization.clinician)") Remove Access
              button.btn.btn-primary(type='submit',data-dismiss='modal', ng-click="updateAuthorization(currentPermissions)",style='margin-right: 10px;') Update Access
              button.btn(type='submit',data-dismiss='modal',style='margin-right: 10px;') Cancel
      h3 Shared Access
      p The following people can use your account on your behalf. These are generally people closely related (e.g. child, parent).
      p If access has been shared with you, the menu in the top right will allow you to select them.
      button#shared.btn.btn-primary.mbl(data-target='#sharedModal',role='button',data-toggle='modal') Grant Access
      #sharedModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='accessModalLabel',aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button',data-dismiss='modal',aria-hidden='true',ng-click='clearReferenceName()') &times;
              .modal-title
                h4 Grant Access
            .modal-body
              form
                //Removed Directive here.
                .form-group.has-success
                  input#name.form-control(type='text', placeholder="Username", ng-model='referenceName' ng-change='userCheck()')
                  span.input-icon.fui-check-inverted(ng-show="validUser")
                button.btn.btn-primary(type='submit',data-dismiss='modal', ng-click='submitDelegate($scope.referencename)' ng-disabled='!validUser') Grant Access
                span.text-right.mll {{fullname}}
      table.table.table-hover
        thead
          tr(ng-show='delegates')
            th Username
            th Name
            th Granted
          tr(ng-show='delegates.length == 0')
            th No shared access at this time.
        tbody(ng-repeat='delegate in delegates', ng-show='delegates')
          tr
            td {{delegate.username}}
            td {{delegate.firstname}} {{delegate.lastname}}
            td {{delegate.granted | date:"mediumDate"}}
              span.mll.fui-cross(style='cursor: pointer;' role='button',data-target="#confirmationModal",data-toggle="modal" ng-click="setcurrentDelegate(delegate.username)")  
    #confirmationModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='accessModalLabel',aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
              .modal-title
                h6 Revoke Delegation?
              .modal-body
                p Are you sure you want to revoke {{currentDelegate}}'s ability to manage your record?
                p {{delegate}}
                button.btn.btn-danger(type='submit',data-dismiss='modal',style='margin-right: 10px;',ng-click='revokeDelegate()') Remove
                button.btn(type='submit',data-dismiss='modal',style='margin-right: 10px;') Cancel
      #updateSharedModal.modal.fade(tabindex='-1',role='dialog',aria-labelledby='accessModalLabel',aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
              .modal-title
                h4 Update Access
            .modal-body
              form
                ph-person
                button.btn.btn-danger(type='submit',data-dismiss='modal',style='margin-right: 10px;') Remove Access
                button.btn.btn-primary(type='submit',data-dismiss='modal') Update Access