<div class="fluid-container col-md-12">
	<div class="row">
		<div ng-include="navPath"></div>
		<div class="col-md-9" ng-controller="reviewCtrl">
			<br/>
			<h5 class="lead">Review Update</h5>
			<div class="panel-group col-md-12">



				<div class="panel panel-default" style="overflow: visible;">
					<div class="panel-heading ">
						<div class="panel-title">
							<h4 ng-if="partial_matches.entry_type!=='demographics' && partial_matches.entry_type!=='social'">Partial ({{partial_matches.percent}}%) Match</h4>
							<h4 ng-if="partial_matches.entry_type==='demographics' || partial_matches.entry_type==='social'">Updated (Different) Information</h4>
						</div>
					</div>
					<div class="panel-body">
						<!--Header-->
						<ng-include src="dynamicTemplatePath"></ng-include>

							<button type="button" class="btn btn-success" ng-click="saveReview()">Update Master Record with New Entry</button>
							<button type="button" class="btn btn-warning" ng-click="ignoreReview()">New Entry doesn't match Master Record</button>

							<button type="button" class="btn btn-default" ng-click="cancelReview()">Cancel</button>

						<!--
						<div ng-if="partial_matches.percent && !partial_matches.subelements"> 
						
						</div>

						<div ng-if="partial_matches.percent && partial_matches.subelements"> 
							<button type="button" class="btn btn-success" ng-click="saveReview()">Update Master Record with New Entry (and merge subelements)</button>
							<button type="button" class="btn btn-info" ng-click="saveReview()">Keep Master Record (and merge subelements from New Entry)</button>
							<button type="button" class="btn btn-warning" ng-click="saveReview()">New Entry doesn't match Master Record</button>

							<button type="button" class="btn btn-default" ng-click="cancelReview()">Cancel</button>
						</div>

						<div ng-if="partial_matches.diff"> 
							<button type="button" class="btn btn-success" ng-click="saveReview()">Update Master Record</button>
							<button type="button" class="btn btn-warning" ng-click="saveReview()">Add New Entry as separate record</button>

							<button type="button" class="btn btn-default" ng-click="cancelReview()">Cancel</button>
						</div>

						<div ng-if="partial_matches[index].section==='demographics'"> 
							<button type="button" class="btn btn-success" ng-click="saveReview()">Update Master Record</button>

							<button type="button" class="btn btn-default" ng-click="cancelReview()">Cancel</button>
						</div>
						-->


					</div>
				</div>

				<!-- debug JSON output -->
				<table ng-if="debug" class="table col-md-12">
					<tr><td class="col-md-6">{{src_el | json}}</td><td class="col-md-6">{{dest_el |json}}</td></tr>
					<tr><td colspan="2">{{partial_matches |json}}</td></tr>
				</table>
			</div>
		</div>

	</div>
</div>
</div>
</div>
</div>