<div class="col-sm-12 panel">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Date:</td>
                <td>{{entryData.observation.date_time.low.date.substring(0,10)}}</td>
                <td>Date:</td>
                <td>{{matchData.observation.date_time.low.date.substring(0,10)}}</td>
            </tr>
            <tr>
                <td>Allergen:</td>
                <td>
                    <div class="panel">
                        <table class="table sub-table">
                            <tbody>
                                <tr>
                                    <td>Status:</td>
                                    <td>{{entryData.observation.allergen.name}}</td>
                                </tr>
                                <tr>
                                    <td>Code:</td>
                                    <td>{{entryData.observation.allergen.code}}</td>
                                </tr>
                                <tr>
                                    <td>Code System:</td>
                                    <td>{{entryData.observation.allergen.code_system_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>Allergen:</td>
                <td>
                    <div class="panel">
                        <table class="table sub-table">
                            <tbody>
                                <tr>
                                    <td>Status:</td>
                                    <td>{{matchData.observation.allergen.name}}</td>
                                </tr>
                                <tr>
                                    <td>Code:</td>
                                    <td>{{matchData.observation.allergen.code}}</td>
                                </tr>
                                <tr>
                                    <td>Code System:</td>
                                    <td>{{matchData.observation.allergen.code_system_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <div class="panel">
                        <table class="table sub-table">
                            <tbody>
                                <tr>
                                    <td>Status:</td>
                                    <td>{{entryData.observation.status.name}} <span ng-if="flagData.observation.status.name.kind === 'E'" class="label label-warning pull-right">Different</span></td>
                                </tr>
                                <tr>
                                    <td>Code:</td>
                                    <td>{{entryData.observation.status.code}} <span ng-if="flagData.observation.status.code.kind === 'E'" class="label label-warning pull-right">Different</span></td>
                                </tr>
                                <tr>
                                    <td>Code System:</td>
                                    <td>{{entryData.observation.status.code_system_name}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div ng-if="
                        flagData.observation.status.name ||
                        flagData.observation.status.code "
                    class="btn btn-default pull-right" ng-click="updateButton(flagData.observation.status)">Update</div>

                </td>
                <td>Status:</td>
                <td>
                    <div class="panel">
                        <table class="table sub-table">
                            <tbody>
                                <tr>
                                    <td>Status:</td>
                                    <td ng-if="matchData.observation.status.name === finalData.observation.status.name">{{matchData.observation.status.name}}</td>
                                    <td ng-if="matchData.observation.status.name !== finalData.observation.status.name">{{finalData.observation.status.name}} <span class="label label-default pull-right">New</span></td>
                                </tr>
                                <tr>
                                    <td>Code:</td>
                                    <td ng-if="matchData.observation.status.code === finalData.observation.status.code">{{matchData.observation.status.code}}</td>
                                    <td ng-if="matchData.observation.status.code !== finalData.observation.status.code">{{finalData.observation.status.code}} <span class="label label-default pull-right">New</span></td>
                                </tr>
                                <tr>
                                    <td>Code System:</td>
                                    <td>{{matchData.observation.status.code_system_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!areEqual(matchData.observation.status, finalData.observation.status)"
                    class="btn btn-default pull-right" ng-click="undoButton(flagData.observation.status)">Undo</div>
                </td>
            </tr>
            <tr ng-repeat="(reactionIndex, reactionEntry) in entryData.observation.reactions">
                <td>Reactions:</td>
                <td>
                    <div class="panel">
                        <table class="table sub-table">
                            <thead>
                                <tr>
                                    <td>Reaction:</td>
                                    <td>{{reactionEntry.reaction.name}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Severity:</td>
                                    <td>{{reactionEntry.severity.code.name}}</td>
                                </tr>
                                <tr>
                                    <td>Code:</td>
                                    <td>{{reactionEntry.reaction.code}}</td>
                                </tr>
                                <tr>
                                    <td>Code System:</td>
                                    <td>{{reactionEntry.reaction.code_system_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>Reactions:</td>
                <td>
                    <div class="panel">
                        <table class="table sub-table">
                            <thead>
                                <tr>
                                    <td>Reaction:</td>
                                    <td>{{matchData.observation.reactions[reactionIndex].reaction.name}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Severity:</td>
                                    <td>{{matchData.observation.reactions[reactionIndex].severity.code.name}}</td>
                                </tr>
                                <tr>
                                    <td>Code:</td>
                                    <td>{{matchData.observation.reactions[reactionIndex].reaction.code}}</td>
                                </tr>
                                <tr>
                                    <td>Code System:</td>
                                    <td>{{matchData.observation.reactions[reactionIndex].reaction.code_system_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-12">
<div ng-if="!areEqual(matchData, finalData)"
class="btn btn-default pull-right" ng-click="submitButton()">Submit</div>
    <div ng-if="!areEqual(matchData, finalData)"
    class="btn btn-default pull-right" ng-click="undoAllButton()">Undo All</div>

</div>

</div>