<table class="table table-hover">
	
	<tbody>
		<tr>
			<td>Code:</td>
			<td>{{entryData.encounter.code}}</td>
		</tr>
		<tr>
			<td>Code System:</td>
			<td>{{entryData.encounter.code_system_name}}</td>
		</tr>
		<tr ng-show="entryData.encounter.translations">
			<td>Other Descriptions:
			</td>
			<td>
				<div class="panel" ng-repeat="(itemIndex, itemEntry) in entryData.encounter.translations">
					<table class="table sub-table">
						<thead>
							<tr>
								<td>Name:</td>
								<td>{{itemEntry.name}}</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Code:</td>
								<td>{{itemEntry.code}}</td>
							</tr>
							<tr>
								<td>Code System:</td>
								<td>{{itemEntry.code_system_name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr ng-show="entryData.findings">
			<td>Findings:</td>
			<td>
				<div class="panel" ng-repeat="(itemIndex, itemEntry) in entryData.findings">
					<table class="table sub-table">
						<tr>
							<td>Name:</td>
							<td>{{itemEntry.value.name}}</td>
						</tr>
						<tr>
							<td>Code:</td>
							<td>{{itemEntry.value.code}}</td>
						</tr>
						<tr>
							<td>Code System:</td>
							<td>{{itemEntry.value.code_system_name}}</td>
						</tr>
						<tr>
							<td>Date:</td>
							<td>{{itemEntry.date_time.displayDate}}</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr ng-show="entryData.performers">
			<td>Performers:</td>
			<td>
				<div class="panel" ng-repeat="(itemIndex, itemEntry) in entryData.performers">
					<table class="table sub-table" ng-repeat="(codeIndex, codeEntry) in itemEntry.code">
						<thead>
							{{codeEntry}}
							<tr>
								<td>Name:</td>
								<td>{{codeEntry.name}}</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Code:</td>
								<td>{{codeEntry.code}}</td>
							</tr>
							<tr>
								<td>Code System:</td>
								<td>{{codeEntry.code_system_name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr ng-show="entryData.locations">

			<td>Locations:</td>
			<td>
				<div class="panel" ng-repeat="(itemIndex, itemEntry) in entryData.locations">
					<table class="table sub-table">
						<tr>
							<td>Name:</td>
							<td>{{itemEntry.name}}</td>
						</tr>

						<tr ng-show="itemEntry.address">
							<td>Address:</td>

							<td ng-repeat="(addrindex, addrEntry) in itemEntry.address">
								<p ng-repeat="(addrLineIndex, addrLineEntry) in addrEntry.displayAddress">{{addrLineEntry}}</p>
							</td>
						</tr>
						<tr>
						<td>Type:</td>
							<td>
								<div class="panel">
									<table class="table sub-table">
										<tr>
											<td>Name:</td>
											<td>{{itemEntry.location_type.name}}</td>
										</tr>
										<tr>
											<td>Code:</td>
											<td>{{itemEntry.location_type.code}}</td>
										</tr>
										<tr>
											<td>Code System:</td>
											<td>{{itemEntry.location_type.code_system_name}}</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>	