<ul class="list-group">

	<!--Select All Option-->
	<li class="list-group-item" style="border:0px;">
		<table class="table table-condensed table-hover" style="border:0px; margin-bottom:0px;">
			<thead style="border:0px;">
				<tr style="border:0px;">
					<th class="col-md-2" style="border:0px;">
						<input type="checkbox" ng-model="selectAll" ng-change="selectAllClick(selectAll)" value=""> {{selectAll}}
					</th>
					<th style="border:0px;">
						Select All
					</th>
				</tr>
			</thead>
		</table>
	</li>

	<li class="list-group-item">
		<div coded-entry input-value="entry.allergen" input-title="Allergen" select-field="selectedItems.allergen"></div>
	</li>

	<li class="list-group-item">
		<div single-entry input-value="entry.status" input-title="Status" select-field="selectedItems.status"></div>
		
	</li>

	<li class="list-group-item">
		<div single-entry input-value="entry.severity" input-title="Severity" select-field="selectedItems.severity"></div>
	</li>

	<li class="list-group-item">
		<div date-entry input-value="entry.date" input-title="Timeframe" select-field="selectedItems.date"></div>
	</li>

	<li class="list-group-item" ng-repeat="(reaction_id, reaction_entry) in entry.reaction">
		<div coded-entry input-value="reaction_entry.reaction" input-title="Reaction" input-additional="reaction_entry" select-field="selectedItems.reaction[reaction_id]"></div>
	</li>

</ul>