<ul class="list-group list-matching">

	<!--Select All Option-->
	<!--<li class="list-group-item" style="border:0px;">
		<table class="table table-condensed table-hover" style="border:0px; margin-bottom:0px;">
			<thead style="border:0px;">
				<tr style="border:0px;">
					<th class="col-md-2" style="border:0px;">
					</th>
					<th style="border:0px;">
						<h4>Codeine</h4>
					</th>
				</tr>
			</thead>
		</table>
	</li>-->

	<li class="list-group-item" ng-class="{selected: selectedItems.allergen, disabled: match_diff.allergen}">
		<div coded-entry input-value="update_entry.allergen" input-title="{{update_entry.allergen.name}}" select-field="selectedItems.allergen"></div>
	</li>

	<li class="list-group-item" ng-class="{selected: selectedItems.status, disabled: match_diff.status}">
		<div single-entry input-value="update_entry.status" input-title="Status" select-field="selectedItems.status"></div>	
	</li>

	<li class="list-group-item" ng-class="{selected: selectedItems.severity, disabled: match_diff.severity}">
		<div single-entry input-value="update_entry.severity" input-title="Severity" select-field="selectedItems.severity"></div>
	</li>

	<li class="list-group-item" ng-class="{selected: selectedItems.date, disabled: match_diff.date_time}">
		<div date-entry input-value="update_entry.date" input-title="Effective" select-field="selectedItems.date"></div>
	</li>

	<li class="list-group-item" ng-repeat="(reaction_id, reaction_entry) in update_entry.reaction">
		<div coded-entry input-value="reaction_entry.reaction" input-title="Reaction" input-additional="reaction_entry" select-field="selectedItems.reaction[reaction_id]"></div>
	</li>

</ul>