<div class="container-fluid body-content">
    <!--Profile-->
    <div class="col-sm-3 body-left">
        <div profile></div>
    </div>


    <div class="col-sm-9 body-right">

        <!--Header-->
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <h4>Review Medication Updates</h4>
                                <p>Entries to the left are possible updates to a current entry in your record, displayed to the right.</p>
                                <p>Use the checkboxes to select updates you wish to apply.</p>
                                <h6>Note:  Only differences between the entries are displayed.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Implementation-->
        <div ng-repeat="(matchIndex, matchEntry) in match">
            <h4 class="text-center text-white">Update #{{matchIndex + 1}}</h4>
            <div class="panel col-sm-12">
                <div class="panel-body">

                    <!--Labels-->
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4 class="text-center">Record Updates</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="text-center">Current Record</h4>
                        </div>
                    </div>


                    <div class="col-sm-12">

                        <table class="table col-sm-12 table-hover">
                            <thead>
                                <tr>
                                    <td class="col-sm-6 panel" style="border: 1px solid #ccc;">
                                        <div class="col-sm-11">
                                            <h4 class="text-left">{{matchEntry.newMatch.sig}}</h4>
                                            <h5 class="text-left">{{matchEntry.newMatch.administration.route.name}}</h5>
                                            <h5 class="text-left">{{matchEntry.newMatch.date_time.displayDate}}</h5>
                                        </div>
                                    </td>
                                    <td class="text-center update-spacer">
                                        <svg height="40" width="20" style="position: relative; left: -9px; top: 20px;">
                                            <polygon points="0,0 20,20 0,40 -10,40" style="fill:rgba(255,255,255,0.75);stroke:#ddd;stroke-width:1"></polygon>
                                        </svg>
                                    </td>
                                    <td class="col-sm-6 panel" style="border: 1px solid #ccc;">
                                        <div class="col-sm-11">
                                            <h4 class="text-left">{{matchEntry.srcMatch.data.sig}}</h4>
                                            <h5 class="text-left">{{matchEntry.srcMatch.data.administration.route.name}}</h5>
                                            <h5 class="text-left">{{matchEntry.srcMatch.data.date_time.displayDate}}</h5>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                <!--Date Diff.-->
                                <tr ng-if="matchEntry.diff.date_time">
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.date_time}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        <label>
                                                            <input type="checkbox" ng-model="selected.date_time" ng-change="selectEntry(matchIndex)">
                                                        </label>
                                                        Date:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        <div class="pull-right" ng-if="matchEntry.diff.date_time === 'diff'">
                                                            <span class="label label-info">Different</span>
                                                        </div>
                                                        {{matchEntry.newMatch.date_time.displayDate}}
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td class="text-center update-spacer"></td>
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.date_time}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        Date:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        <div class="pull-right" ng-show="selected.date_time">
                                                            <span class="label label-warning">Updated</span>
                                                        </div>
                                                        {{matchEntry.srcMatch.data.date_time.displayDate}}
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>


                                <!--Status Diff.-->
                                <tr ng-if="matchEntry.diff.status">
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.status}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        <label>
                                                            <input type="checkbox" ng-model="selected.status" ng-change="selectEntry(matchIndex)">
                                                        </label>
                                                        Status:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        <div class="pull-right" ng-if="matchEntry.diff.status === 'new'">
                                                            <span class="label label-primary">New</span>
                                                        </div>
                                                        {{matchEntry.newMatch.status}}
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td class="text-center update-spacer"></td>
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.status}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        Status:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        <div class="pull-right" ng-show="selected.status">
                                                            <span class="label label-warning">New</span>
                                                        </div>
                                                        {{matchEntry.srcMatch.data.status}}
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Route Diff -->
                                <tr ng-if="matchEntry.diff.administration.route">
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.administration.route}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        <label>
                                                            <input type="checkbox" ng-model="selected.administration.route" ng-change="selectEntry(matchIndex)">
                                                        </label>
                                                        Administration Route:

                                                        <div class="pull-right" ng-if="matchEntry.diff.administration.route === 'diff'">
                                                            <span class="label label-info">Different</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <div class="panel" ng-class="{'update-selected': selected.administration.route}">
                                                        <table class="table sub-table">
                                                            <tr>
                                                                <td>Name:</td>
                                                                <td>{{matchEntry.newMatch.administration.route.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code:</td>
                                                                <td>{{matchEntry.newMatch.administration.route.code}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code System:</td>
                                                                <td>{{matchEntry.newMatch.administration.route.code_system_name}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td class="text-center update-spacer"></td>
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.administration.route}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        Administration Route:

                                                        <div class="pull-right" ng-show="selected.administration.route">
                                                            <span class="label label-warning">Updated</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <div class="panel" ng-class="{'update-selected': selected.administration.route}">
                                                        <table class="table sub-table">
                                                            <tr>
                                                                <td>Name:</td>
                                                                <td>{{matchEntry.srcMatch.data.administration.route.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code:</td>
                                                                <td>{{matchEntry.srcMatch.data.administration.route.code}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code System:</td>
                                                                <td>{{matchEntry.srcMatch.data.administration.route.code_system_name}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>

                                <!-- Administration Form Diff -->
                                <tr ng-if="matchEntry.diff.administration.form">
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.administration.form}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        <label>
                                                            <input type="checkbox" ng-model="selected.administration.form" ng-change="selectEntry(matchIndex)">
                                                        </label>
                                                        Administration Form:

                                                        <div class="pull-right" ng-if="matchEntry.diff.administration.form=== 'new'">
                                                            <span class="label label-primary">New</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <div class="panel" ng-class="{'update-selected': selected.administration.form}">
                                                        <table class="table sub-table">
                                                            <tr>
                                                                <td>Name:</td>
                                                                <td>{{matchEntry.newMatch.administration.form.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code:</td>
                                                                <td>{{matchEntry.newMatch.administration.form.code}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code System:</td>
                                                                <td>{{matchEntry.newMatch.administration.form.code_system_name}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td class="text-center update-spacer"></td>
                                    <td style="border: 1px solid #ccc;" class="panel table-entry" ng-class="{'update-selected': selected.administration.form}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        Administration Form:

                                                        <div class="pull-right" ng-show="selected.administration.form">
                                                            <span class="label label-warning">New</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                    <div class="panel" ng-show="matchEntry.srcMatch.data.administration.form" ng-class="{'update-selected': selected.administration.form}">
                                                        <table class="table sub-table">
                                                            <tr>
                                                                <td>Name:</td>
                                                                <td>{{matchEntry.srcMatch.data.administration.form.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code:</td>
                                                                <td>{{matchEntry.srcMatch.data.administration.form.code}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Code System:</td>
                                                                <td>{{matchEntry.srcMatch.data.administration.form.code_system_name}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>




                            </tbody>
                        </table>

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-default btn-block" ng-click="saveUpdate(matchIndex)">Ignore Updates</button>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary btn-block" ng-click="saveUpdate(matchIndex)">Save Updates</button>
                                    <button class="btn btn-link btn-block" ng-click="clearAll(matchIndex)"><i class="fa fa-undo" style="margin-right: 10px;"></i>Undo All</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--<pre>{{match[0].origMatch | json}}</pre>-->
