<div class="col-md-3" ng-controller="navCtrl">
    <a href="#/profile" ng-click="toggleCollapse(true)">
        <img src="img/img-demo.png" width="150" height="150" class="img-circle center-block" style="padding: 20px;">
    </a>
    <a href="#/profile" ng-click="toggleCollapse(true)">
        <p class="text-center lead">{{notifications.displayName}}</p>
    </a>
    
    <ul class="nav nav-pills nav-stacked" id="menu">
        <li class="collapse in">
            <a href="#/dashboard" ng-click="toggleCollapse(true)">HOME</a>
        </li>
        <li class="parent">
            <a data-toggle="collapse" data-target="#test" href="#/record">MY RECORD<span class="badge pull-right" ng-show="notifications.displayNotifications">{{notifications.new_count}}</span></a>
            <ul class="collapse children sub-nav" id="test">
                <li>
                <a ng-click="navClick('allergies')">Allergies</a>
                </li>
                <li>
                <a ng-click="navClick('encounters')">Encounters</a>
                </li>
                <li>
                <a ng-click="navClick('immunizations')">Immunizations</a>
                </li>
                <li>
                <a ng-click="navClick('medications')">Medications</a>
                </li>
                <li>
                <a ng-click="navClick('problems')">Problem List</a>
                </li>
                <li>
                <a ng-click="navClick('procedures')">Procedures</a>
                </li>
                <li>
                <a ng-click="navClick('vitals')">Vital Signs</a>
                </li>
                <li>
                <a ng-click="navClick('insurance')">Insurance</a>
                </li>
                <li>
                <a ng-click="navClick('claims')">Claims</a>
                </li>
                <li>
                <a ng-click="navClick('results')">Lab Results</a>
                </li>
                <li>
                <a ng-click="navClick('social_history')">Social History</a>
                </li>
            </ul>
        </li>
        <li><a href="#/match/reconciliation" ng-click="toggleCollapse(true)">MY UPDATES<span class="badge pull-right" ng-show="notifications.unreviewed_merges > 0">{{notifications.unreviewed_merges}}</span></a>
        </li>
        <li><a href="#/storage" ng-click="toggleCollapse(true)">MY FILES</a>
        </li>
    </ul>

    <!-- 
    <div class="panel-group" id="navigation-menu">
        <div class="panel panel-default" -->

</div>
