<div class="container-fluid body-content">
    <div id="profileSidebar" class="col-sm-3 body-left">
        <div profile></div>
        <div class="col-sm-12">
            <div class="btn-group-vertical col-sm-12 sidebar-control" role="group">
                <a ng-click="setEntryType('all')" id="navall" class="btn btn-block btn-info" ng-class="{active: entryType === 'all'}">All</a>
                <a ng-click="setEntryType('insurance')" id="navinsurance" class="btn btn-block btn-info" ng-class="{active: entryType === 'insurance'}">Insurance</a>
                <a ng-click="setEntryType('claims')" id="navclaims" class="btn btn-block btn-info" ng-class="{active: entryType === 'claims'}">Claims</a>

            </div>
        </div>&nbsp;
    </div>

    <!--Body Header-->
    <div class="col-sm-9 body-right">
        <div class="panel">
            <div class="panel-body">

                <!--Header Items-->
                <div class="col-sm-12">
                    <!--div class="row col-sm-12" breadcrumb></div-->
                    <div class="row col-sm-12">
                        <span><span><a href="/#/home">Home</a><span> <i class="fa fa-angle-right"></i> </span></span>
                        <span>My billing</span>
                        </span>
                    </div>                    
                    <div class="col-sm-12">

                        <div class="col-sm-8">
                            <div class="pull-left">
                                <h4>My Billing</h4>
                                <p ng-if="accountHistory.lastUpdate">Last Updated: {{accountHistory.lastUpdate | date: 'short'}}</p>
                                <p ng-if="!accountHistory.lastUpdate">Last Updated: Never</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <!--Timeline View-->
        <h4 class="text-center text-white">{{entryType}}</h4>
        <div class="panel">
            <div class="panel-body">

                <div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

                    <div class="col-sm-12 row timeline-side">
                        <billingentry entry-type="{{recordEntry.category}}" entry-index="{{recordIndex}}">
                            </entry>
                    </div>


                </div>
                <div class="col-sm-2 center-block text-center timeline-footer">
                    <svg width="30" height="30">
                        <circle cx="15" cy="15" r="15"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <!--<pre>{{entries | json}}</pre>-->

</div>
