<div class="row">
	<div class="row">
		<h1 class="text-center">DEMO SCENARIOS</h1>
		<div class="row">
			<button class="btn btn-default col-sm-4 col-sm-offset-4">Scenario 1</button>
		</div>
		<div class="row">
			<button class="btn btn-default col-sm-4 col-sm-offset-4">Scenario 2</button>
		</div>
		<div class="row">
			<button class="btn btn-default col-sm-4 col-sm-offset-4">Scenario 3</button>
		</div>
		<div class="row">
			<button class="btn btn-default col-sm-4 col-sm-offset-4">Scenario 4</button>
		</div>
		<div class="row">
			<button class="btn btn-default col-sm-4 col-sm-offset-4">Scenario 5</button>
		</div>
	</div>
</div>