<div class="row">
    <div class="row">
        <h1 class="text-center">DEMO SCENARIOS</h1>
        <div class="row">
            <button class="btn btn-default col-sm-4 col-sm-offset-4" ng-click="vm.demoClick('files')"><a>Scenario 1: Go to file list</a></button>
        </div>
        <div class="row">
            <button class="btn btn-default col-sm-4 col-sm-offset-4" ng-click="vm.demoClick('medications')">Scenario 2: Go to meds</button>
        </div>
        <div class="row">
            <button class="btn btn-default col-sm-4 col-sm-offset-4" ng-click="vm.demoClick('record')">Get me out of here!</button>
        </div>
    </div>
</div>