<div class="container-fluid body-content">
    <div id="profileSidebar" class="col-sm-3 body-left">
        <div profile></div>
        <div record-navigation class="col-sm-12"></div>&nbsp;
    </div>
    <!--Body-->
    <div class="col-sm-9 body-right">
        <div class="panel">
            <div class="panel-body">
                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                            <h4>My Merges Overview</h4>
                            <p>This page gives an overview of your health record activity.</p>
                            <p>Last updated:  July 31, 2014</p>
                        </div>
                        <div class="col-sm-4">
                            <a href="#/record/download">
                            <button class="btn btn-default" style="color: #6AA6FF; min-width: 175px;">
                            <div class="col-sm-12 text-left" style="text-transform: none;">
                                <div class="pull-left" style="margin-right: 10px; margin-top: 15px;">
                                    <img class="img-navbar-logo img-responsive"src="images/bb-logo-vector.png" style="margin: 0px;">
                                </div>
                                <div class="pull-right">
                                    <h6 style="text-transform: none; margin: 0px;">BlueButton</h6>
                                    <h5 style="margin-top: 0px; margin-bottom: 0px; font-size: 1.5em;">Download</br>my data<span style="font-size: 8px; vertical-align: top;">&reg;</span></h5>
                                </div>
                            </div>
                            </button>
                            </a>
                            <h6 style="max-width: 175px; text-align: center;"><a href="http://healthit.gov/patients-families/your-health-data" target="_blank">Blue Button</a> lets you go online and download your health records.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4 class="text-center text-white">Matches</h4>
            <div class="panel">
                <div class="panel-body">
                    
                    <div entry-details details="masterMatches[3].data" category="allergies"></div>

                </div>
            </div>
        </div>
    </div>
</div>