<div class="container-fluid body-content">
    <div id="profileSidebar" class="col-sm-3 body-left">
        <div profile></div>
        <!-- turn off record navigation (not applicable for matches)
        <div record-navigation class="col-sm-12"></div>&nbsp;
        -->
    </div>
    <!--Body-->
    <div class="col-sm-9 body-right">
        <div class="panel">
            <div class="panel-body">
                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                            <h4>My Merges Overview</h4>
                            <p>This page gives an overview of your health record activity.</p>
                            <p>Last updated:  July 31, 2014</p>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h4 class="text-center text-white">Matches</h4>
            <div class="panel">
                <div class="panel-body">
                    
                    <div entry-details details="masterMatches[2].data" category="allergies"></div>

                </div>
            </div>
        </div>
    </div>
</div>