<div class="container-fluid body-content">
    <div class="col-sm-3 body-left">
        <div profile></div>
        <div>
            <div class="panel-body">
                <div class="btn-toolbar sidebar-control" role="toolbar">
                    <div class="btn-group-vertical col-sm-12" role="group">
                        <button class="btn btn-info btn-block" ng-click="toggleAll()">All </button>
                    </div>
                    <p>&nbsp;</p>
                    <div class="btn-group-vertical col-sm-12" role="group">
                        <button class="btn btn-info btn-block" ng-click="toggleFilter('star')" ng-class="{active: starFilters.indexOf(true)>-1}">Starred
                        </button>
                        <button class="btn btn-info btn-block" ng-click="toggleFilter('unstar')" ng-class="{active: starFilters.indexOf(false)>-1}">Unstarred
                        </button>
                    </div>
                    <p>&nbsp;</p>
                    <div class="btn-group-vertical col-sm-12" role="group">
                        <button class="btn btn-info btn-block" ng-repeat="section in sectionList" ng-click="toggleFilter(section)" ng-class="{active: sectionFilters.indexOf(section)>-1}">{{displaySection(section)}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9  body-right">
        <div class="panel">
            <div class="panel-body">
                <!--Header Items-->
                <div class="col-sm-12 row">
                    <div class="col-sm-12">
                        <div breadcrumb></div>
                        <h4>My Notes</h4>
                        <p>This is consolidated view of all notes across your record.</p>
                        <p>To add a new note, please annotate an entry in either your medical record or billing history</p>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center text-white">Review Notes</h4>
        <div class="panel">
            <div class="panel-body">
                <div ng-if="notesList.length === 0" class="col-sm-12 text-center">
                    <h5>No notes are available for display</h5>
                </div>
                <div ng-show="sectionFilters.length === 0 && starFilters.length === 0" class="col-sm-12 text-center">
                    <h5>No notes matching your selection</h5>
                </div>
                <div>
                    <p>Timeline</p>
                </div>
                <div class="row col-sm-12">
                    <div timeline chart-data="notesList" chart-type="notes" class="timeline-graph"></div>
                </div>
                <p ng-if="notesList.length !== 0" class="row pull-right">Sort by: <a href="" ng-click="dateSort()">Date <span ng-bind-html="sortString"></span></a>
                </p>
                <div ng-repeat="(noteIndex, noteEntry) in notesList | orderBy:['-starred',predicate]">
                    <div class="col-sm-12 row timeline-side" ng-if="recordEntry.entry_type !== 'demographics' ">
                        <!--Timeline Icon-->
                        <div class="col-sm-2">
                            <a ng-if="noteEntry.section === 'medications'" class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{noteEntry.section}}" timeline-index="{{recordIndex}}" timeline-icon-meta="{{entryData.metadata}}"></a>
                            <a ng-if="noteEntry.section !== 'medications'" class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{noteEntry.section}}" timeline-index="{{recordIndex}}" timeline-icon-meta="{{entryData.metadata}}"></a>
                        </div>
                        <div class="col-sm-10">
                            <div class="panel timeline-entry">
                                <div class="panel-body" id="accordian">
                                    <div class="timeline-entry-header col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-1 text-center">
                                                <h5 ng-show="noteEntry.note.starred === true" ng-click="clickStar(true, noteEntry)"><a><i class="fa fa-star"></i></a></h5>
                                                <h5 ng-show="noteEntry.note.starred === false" ng-click="clickStar(false, noteEntry)"><a><i class="fa fa-star-o"></i></a></h5>
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="row">
                                                    <h5>{{noteEntry.note.comment}}</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="pull-left">
                                                        <h6>{{noteEntry.note.date | date:'short'}}</h6>
                                                    </div>
                                                    <button class="pull-right btn btn-link" data-toggle="collapse" data-target="#details{{noteIndex}}" aria-expanded="false" aria-controls="details{{noteIndex}}">
                                                        <span><i class="fa fa-ellipsis-h"></i> Entry</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div role="tabpanel" class="collapse" id="details{{noteIndex}}">
                                                <div class="sub-entry">
                                                    <h3>Entry Details</h3>
                                                    <a ng-hide="noteEntry.section === 'claims' || noteEntry.section === 'insurance'" ng-click="setEntry(noteEntry.section, noteEntry.entry_id)"><h5>{{noteEntry.entryTitle}}</h5></a>
                                                    <a ng-show="noteEntry.section === 'claims' || noteEntry.section === 'insurance'" ng-click="setEntry(noteEntry.section, noteEntry.entry_id)"><h5>{{noteEntry.entryTitle}}</h5></a>
                                                    <h5>{{noteEntry.entrySubTitleOne}}</h5>
                                                    <h5>{{noteEntry.entrySubTitleTwo}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>