<div class="blur-background col-sm-12 body-left" style="min-height:575px">
    <div class="col-sm-4 col-sm-offset-4" ng-hide="vm.loggedin">
        <h4 class="text-center text-white">Log In</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate role="form" name="vm.loginForm" ng-submit="vm.login()">
                    <div class="form-group">
                        <label for="inputLogin">User ID:</label>
                        <input type="text" class="form-control" name="inputLogin" ng-model="vm.inputLogin" required ng-required="true" ng-minLength="1" focus="true">
                        <p ng-show="vm.loginForm.inputLogin.$invalid && !vm.loginForm.inputLogin.$pristine" class="help-block">Username or email is required.</p>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password:</label>
                        <input type="password" class="form-control" name="inputPassword" ng-model="vm.inputPassword" required ng-required="true" ng-minLength="1">
                        <p ng-show="vm.loginForm.inputPassword.$invalid && !vm.loginForm.inputPassword.$pristine" class="help-block">Password is required.</p>
                    </div>
                    <button id="main-login-btn" type="submit" class="btn btn-block btn-primary" ng-disabled="vm.loginForm.$invalid">Log In</button>
                    <div ng-if="vm.error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{vm.error}}</div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3" ng-show="vm.loggedin">
        <h4 class="text-center text-white">Authorize Access?</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div profile-small></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <h2>Hi {{user_first}}!</h2>
                        </div>
                        <div class="row">
                            <h3><span class="text-danger">{{vm.client.name}}</span> is requesting access to your account.  Do you want to allow this?</h3>
                        </div>
                        <div class="row">
                            <pre>{{vm.client}}</pre>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-danger col-sm-5" ng-click="vm.deny()">NO</button><button class="btn btn-success col-sm-5 col-sm-offset-2" ng-click="vm.authorize()" ng-disabled="vm.disableButton">Yes, Allow</button>
                </div>
            </div>
        </div>
    </div>
</div>