<div class="container-fluid body-content" style="background-color:#ddd;">

    <!--Body-->
    <div class="col-sm-12 print-record">


        <div class="col-sm-12" ng-if="vm.sectionOrder">
            <h4 class="text-center">Demographics</h4>
            <div profiledetail demographics="vm.demographics"></div>

        </div>


        <div ng-repeat="section in vm.sectionOrder">
            <!--Timeline View-->
            <div class="col-sm-12" ng-show="section !== 'print'">
                <h4 class="text-center">{{vm.section}}</h4>
                <div class="panel" ng-hide="vm.recordEntries">
                    <div class="panel-body">
                        <h5 class="col-sm-12 text-center">No Record Entries</h5>
                    </div>
                </div>


                <div ng-repeat="(recordIndex, recordEntry) in vm.filterBySection(vm.recordEntries,section)" class="col-sm-12 row" id="record{{recordIndex}}">

                    <printentry type="{{recordEntry.category}}" entry-index="{{recordIndex}}" on-finish-render="ngRepeatFinished"></printentry>

                </div>
                <!--end timeline-->
            </div>
        </div>
    </div>
    <!--<pre>{{masterRecord | json}}</pre>-->
</div>