<div class="container-fluid body-content">
    <!--Profile-->
    <div class="col-sm-3 body-left">
        <div profile></div>
        <div class="btn-group-vertical col-sm-12">
            <button type="button" class="btn btn-info btn-block" ng-click="navClick('profile')">Profile</button>
            <button type="button" class="btn btn-info btn-block" ng-click="navClick('contact')">Contact Info</button>
            <button type="button" class="btn btn-info btn-block" ng-click="navClick('languages')">Languages</button>
        </div>
    </div>
    <div class="col-sm-9  body-right">
        <!--Intro Panel.-->
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div breadcrumb></div>
                    <h4>My Profile</h4>
                    <p>Adjust settings associated with your profile.</p>
                    <p>Providing a detailed profile helps us perform more accurate searches for your records.</p>
                    <p>The information contained here can also be helpful for doctors in emergency situations.</p>
                    <p>Account Settings, such as password changes, can be accessed in <a href="#/account">account settings</a>.</p>
                </div>
            </div>
        </div>
        <h4 class="text-center text-white">Profile</h4>
        <div class="panel">
            <div class="panel-body" id="profile">
                <div class-"row" ng-hide="editProf">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <h5>First Name</h5>
                            <p>{{profile.name.first}}</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <h5>Middle Name</h5>
                            <p>{{profile.name.middle[0]}}</p>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <h5>Last Name</h5>
                            <p>{{profile.name.last}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-7">
                            <h5>Primary Email Address</h5>
                            <p>{{profile.email[0].email}}</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <h5>Date of Birth</h5>
                            <p>{{viewDOB}}</p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-sm-3">
                            <h5>Gender</h5>
                            <p>{{profile.gender}}</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <h5>Race/Ethnicity</h5>
                            <p ng-hide="profile.race_ethnicity">None entered</p>
                            <p>{{profile.race_ethnicity}}</p>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <h5>Marital Status</h5>
                            <p ng-hide="profile.marital_status">None entered</p>
                            <p>{{profile.marital_status}}</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 btn btn-default" ng-click="editProfSection()">
                            <i class="fa fa-edit"> Edit</i>
                        </div>
                    </div>

                </div>


            <div class="row" ng-show="editProf">
                <h5>* Denotes required fields.</h5>
                <form novalidate role="form" name="profileForm">
                <div class = "row">

                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="inputFirst">First Name*</label>
                            <input type="text" class="form-control" name="inputFirst" ng-model="profile.name.first" required ng-required="true" ng-minLength="1" ng-maxLength="80">
                            <p ng-show="profileForm.inputFirst.$invalid && !profileForm.inputFirst.$pristine" class="help-block">First name must be between 1 and 80 characters.</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <label for="inputMiddle">Middle Name</label>
                            <input type="text" class="form-control" name="inputMiddle" ng-model="profile.name.middle" ng-maxLength="80">
                            <p ng-show="profileForm.inputMiddle.$invalid && !profileForm.inputMiddle.$pristine" class="help-block">Middle name must be under 80 characters.</p>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <label for="inputLast">Last Name*</label>
                            <input type="text" class="form-control" name="inputLast" ng-model="profile.name.last" required ng-required="true" ng-minLength="1" ng-maxLength="80">
                            <p ng-show="profileForm.inputLast.$invalid && !profileForm.inputLast.$pristine" class="help-block">Last name must be between 1 and 80 characters.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-7">
                            <label for="inputEmail">Primary Email Address*</label>
                            <input type="email" class="form-control" name="inputEmail" ng-model="profile.email[0].email" required ng-required="true" ng-minLength="1">
                            <p ng-show="profileForm.inputEmail.$invalid && !profileForm.inputEmail.$pristine" class="help-block">Must be a valid email address.</p>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <label for="inputDOB">Date of Birth*</label>
                            <input type="date" class="form-control" name="inputDOB" ng-model="editDOB" required ng-required="true">
                            <p ng-show="profileForm.inputDOB.$invalid && !profileForm.inputDOB.$pristine" class="help-block">Must be a valid date.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="inputGender">Gender*</label>
                            <select class="form-control" name="inputGender" ng-model="profile.gender" required ng-required="true">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Undifferentiated</option>
                            </select>
                            <p ng-show="profileForm.inputGender.$invalid && !profileForm.inputGender.$pristine" class="help-block">Gender is required.</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <label for="inputRace">Race/Ethnicity</label>
                            <select class="form-control" name="inputRace" ng-model="profile.race_ethnicity">
                                <option>White</option>
                                <option>Black</option>
                                <option>Hispanic</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <label for="inputMaritalStatus">Marital Status</label>
                            <select class="form-control" name="inputMaritalStatus" ng-model="profile.marital_status">
                                <option>Never Married</option>
                                <option>Married</option>
                                <option>Divorced</option>
                                <option>Widowed</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class = "row">
                        <a>
                            <button type="submit" class="btn btn-default col-sm-2 col-sm-offset-3" ng-disabled="profileForm.$invalid" ng-click="cancelProf()">Cancel</button>
                        </a>
                        <a>
                            <button type="cancel" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="profileForm.$invalid" ng-click="updateProfile()">Update</button>
                        </a>
                    <div class="text-center">
                        <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
                    </div>
                    </div>
                </form>
            </div>
            </div>
        </div>

        <h4 class="text-center text-white">Contact Information</h4>

        <div class="panel">
            <div class="panel-body" id="contact">

                <div ng-hide="editAddress||editPhone">
                    <div class="row text-center">
                        <!-- Address section -->
                        <div class="col-sm-5">
                            <h4>Address</h4>
                            <div class="col-sm-12" ng-hide="profile.addresses"><h5>No address found in your record.</h5></div>
                            <div class="col-sm-12" ng-repeat="(addrIndex, addr) in profile.addresses">
                                <div id="address{{addressIndex}}">
                                    <h5 class="capitalize">{{addr.use}}</h5>
                                    <p ng-repeat="(addrLineIndex, addrLine) in addr.street_lines">{{addrLine}}</p>
                                    <p>{{addr.city}}, {{addr.state}} {{addr.zip}}</p>
                                </div>
                            </div>
                        </div>
                        <!--Phone section-->
                        <div class="col-sm-5 col-sm-offset-2">
                            <h4>Phone Number</h4>
                            <div class="col-sm-12" ng-hide="profile.phone"><h5>No phone numbers found in your record.</h5></div>
                            <div class="col-sm-12 panel-editable" ng-repeat="(phIndex, ph) in profile.phone">
                                <div id="ph{{phIndex}}">
                                    <h5 class="capitalize">{{ph.type}}</h5>
                                    <p>{{ph.number}}</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-5 text-center">
                        <div class="btn btn-default" ng-click="editAddressSection()">
                            <i class="fa fa-edit"> Edit Address</i>
                        </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-2 text-center">
                        <div class="btn btn-default" ng-click="editPhoneSection()">
                            <i class="fa fa-edit"> Edit Phone Number</i>
                        </div>
                        </div>

                    </div>
                </div>


                <div class = "row" ng-show="editAddress">
                <h5>* Denotes required fields.</h5>
                <form novalidate role="form" name="newaddressForm" ng-hide="profile.addresses">
                
                    <div class="row">
                        <!--Address section-->
                            <h4>Add a New Address</h4>


                                <div id="new_address">
                                <div class="row">
                                    <div class="form-group col-sm-3 capitalize">
                                        <label for="inputNewAddressType">Address Type*</label>
                                        <select class="form-control capitalize" name="inputNewAddressType" ng-model="new_address.use" required ng-required="true">
                                            <option>primary home</option>
                                            <option>Other</option>
                                        </select>
                                        <p ng-show="newaddressForm.inputNewAddressType.$invalid && !newaddressForm.inputNewAddressType.$pristine" class="help-block">Address Type is required.</p>
                                    </div>
                                </div>


                                    <div class="form-group row">
                                        <div class="col-sm-5">
                                            <label for="inputNewAddrLine1">Address Line*</label>
                                            <input type="text" class="form-control" name="inputNewAddressLine1" ng-model="new_address.street_line1" required ng-required="true">
                                            <p ng-show="newaddressForm.inputNewAddressLine1.$invalid && !newaddressForm.inputNewAddressLine1.$pristine" class="help-block">Please enter your street address or P.O. Box.</p>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputNewCity">City*</label>
                                        <input type="text" class="form-control" name="inputNewCity" ng-model="new_address.city" required ng-required="true">
                                        <p ng-show="newaddressForm.inputNewCity.$invalid && !newaddressForm.inputNewCity.$pristine" class="help-block">Please enter a city.</p>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="inputNewState">State*</label>
                                        <input type="text" class="form-control" name="inputNewState" ng-model="new_address.state" ng-minLength="2" required ng-required="true">
                                        <p ng-show="newaddressForm.inputNewState.$invalid && !newaddressForm.inputNewState.$pristine" class="help-block">Please enter a state.</p>
                                    </div>

                                    <div class="form-group col-sm-5 col-sm-offset-1">
                                        <label for="inputNewZip">Zip*</label>
                                        <input type="text" class="form-control" name="inputNewZip" ng-model="new_address.zip" ng-minLength="5" ng-maxLength="11" required ng-required="true">
                                        <p ng-show="newaddressForm.inputNewZip.$invalid && !newaddressForm.inputNewZip.$pristine" class="help-block">Please enter a five-digit zip.</p>
                                    </div>


                                </div>

                                <div class="row">
                                <a>
                                    <button type="cancel" class="btn btn-default col-sm-2 col-sm-offset-3" ng-click="cancelAddressSection()">Cancel</button>
                                </a>
                                <a>
                                    <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="newaddressForm.$invalid" ng-click="updateProfile()">Update</button>
                                </a>
                                <div class="text-center">
                                    <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
                                </div>
                            </div>

</div>
</form>

                <form novalidate role="form" name="addressForm" ng-show="profile.addresses">
                <div class="row">
                <h4>Edit Your Address</h4>

                                <div id="address">
                                    <div class="row">
                                    <div class="form-group col-sm-3 capitalize">
                                        <label for="inputAddressType">Address Type*</label>
                                        <select class="form-control capitalize" name="inputAddressType" ng-model="profile.addresses[0].use" required ng-required="true">
                                            <option>primary home</option>
                                            <option>Other</option>
                                        </select>
                                        <p ng-show="addressForm.inputAddressType.$invalid && !addressForm.inputAddressType.$pristine" class="help-block">Address Type is required.</p>
                                    </div>
                                    </div>


                                    <div class="row">
                                    <div class="form-group col-sm-5">
                                        <label for="inputAddrLine">Address Line*</label>
                                        <input type="text" class="form-control" name="inputAddressLine" ng-model="profile.addresses[0].street_lines[0]" required ng-required="true">
                                        <p ng-show="addressForm.inputAddressLine.$invalid && !addressForm.inputAddressLine.$pristine" class="help-block">Please enter your street address or P.O. Box.</p>
                                    </div>

                                    <div class="form-group col-sm-5 col-sm-offset-1">
                                        <label for="inputCity">City*</label>
                                        <input type="text" class="form-control" name="inputCity" ng-model="profile.addresses[0].city" required ng-required="true">
                                        <p ng-show="addressForm.inputCity.$invalid && !addressForm.inputCity.$pristine" class="help-block">Please enter a city.</p>
                                    </div>
                                    </div>

                                    <div class="row">
                                    <div class="form-group col-sm-5">
                                        <label for="inputState">State*</label>
                                        <input type="text" class="form-control" name="inputState" ng-model="profile.addresses[0].state" required ng-required="true" ng-minLength="2">
                                        <p ng-show="addressForm.inputState.$invalid && !addressForm.inputState.$pristine" class="help-block">Please enter a state.</p>
                                    </div>

                                    <div class="form-group col-sm-5 col-sm-offset-1">
                                        <label for="inputZip">Zip*</label>
                                        <input type="text" class="form-control" name="inputZip" ng-model="profile.addresses[0].zip" required ng-required="true" ng-minLength="5" ng-maxLength="11">
                                        <p ng-show="addressForm.inputZip.$invalid && !addressForm.inputZip.$pristine" class="help-block">Please enter a five-digit zip.</p>
                                    </div>
                                    </div>


                                </div>
                            <div class="row">
                                <a>
                                    <button type="cancel" class="btn btn-default col-sm-2 col-sm-offset-3" ng-click="cancelAddressSection()">Cancel</button>
                                </a>
                                <a>
                                    <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="addressForm.$invalid" ng-click="updateProfile()">Update</button>
                                </a>
                                <div class="text-center">
                                    <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
                                </div>
                            </div>
                    </div>
                    </form>
                    </div>


                <div class="row" ng-show="editPhone">
                    <form novalidate role="form" name="newphoneForm" ng-hide="profile.phone">

                        <!--Phone section-->
                        <div class="row">
                            <h4 class="text-center">Add a New Phone Number</h4>

                                <div class="col-sm-4 col-sm-offset-4" id="new_phone">
                                    <div class="form-group col-sm-12">
                                        <label for="inputnewPhoneType">Add a new phone type</label>
                                        <select class="form-control capitalize" name="inputnewPhoneType" ng-model="new_phone.type" required ng-required="true">
                                            <option>primary home</option>
                                            <option>Other</option>
                                        </select>
                                        <p ng-show="newphoneForm.inputnewPhoneType.$invalid && !newphoneForm.inputNewPhoneType.$pristine" class="help-block">Phone Type is required.</p>
                                    </div>


                                    <div class="form-group row">
                                        <label for="inputnewPhone">Add a new phone number</label>
                                        <input type="text" class="form-control" name="inputnewPhone" ng-model="new_phone.number" ng-minLength="10" ng-maxLength="10" required ng-required="true">
                                        <p ng-show="newphoneForm.inputnewPhone.$invalid && !newphoneForm.inputnewPhone.$pristine" class="help-block">Please enter a 10-digit phone number without spaces or symbols: xxxxxxxxxx.</p>
                                    </div>
                                </div>
                        <div class="row">
                            <a>
                                <button type="cancel" class="btn btn-default col-sm-2 col-sm-offset-3" ng-click="cancelPhoneSection()">Cancel</button>
                            </a>
                            <a>
                                <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="newphoneForm.$invalid" ng-click="updateProfile()">Update</button>
                            </a>
                            <div class="text-center">
                                <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
                            </div>
                        </div>

                        </div>
                    </form>

                    <form novalidate role="form" name="phoneForm" ng-show="profile.phone">

                        <!--Phone section-->
                        <div class="row">
                            <h4>Edit Your Phone Number</h4>
                            <div class="col-sm-4 col-sm-offset-4" id="profile.phone[0]">
                                <div class="form-group col-sm-12 capitalize">
                                    <label for="inputPhoneType">Type*</label>
                                    <select class="form-control capitalize" name="inputPhoneType" ng-model="profile.phone[0].type" required ng-required="true">
                                        <option>primary home</option>
                                        <option>Other</option>
                                    </select>
                                    <p ng-show="phoneForm.inputPhoneType.$invalid && !phoneForm.inputPhoneType.$pristine" class="help-block">Phone Type is required.</p>
                                </div>


                                <div class="form-group row">
                                    <label for="inputPhone">Number*</label>
                                    <input type="text" class="form-control" name="inputPhone" ng-model="profile.phone[0].number" required ng-required="true" ng-minLength="10" ng-maxLength="10">
                                    <p ng-show="phoneForm.inputPhone.$invalid && !phoneForm.inputPhone.$pristine" class="help-block">Please enter a 10-digit phone number without spaces or symbols: xxxxxxxxxx.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <a>
                                <button type="cancel" class="btn btn-default col-sm-2 col-sm-offset-3"ng-click="cancelPhoneSection()">Cancel</button>
                            </a>
                            <a>
                                <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-disabled="phoneForm.$invalid" ng-click="updateProfile()">Update</button>
                            </a>
                            <div class="text-center">
                                <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>


<!--         <h4 class="text-center text-white">Languages</h4>
        <div class="panel">
            <div class="panel-body" id="languages">

                <div class="row" ng-hide="editLangs">

                    <div class="row" ng-show="profile.languages">
                        <div class="col-sm-3"><h5>Language</h5></div>
                        <div class="col-sm-3 col-sm-offset-1"><h5>Mode</h5></div><div class="col-sm-3 col-sm-offset-1"><h5>Proficiency</h5></div>
                    </div>

                    <div class="row text-center" ng-hide="profile.languages"><h5>No languages found in your record.</h5></div>

                    <div class="row" ng-repeat="(langIndex,language) in profile.languages">
                        <div class="form-group col-sm-3">
                            <p class="capitalize">{{user_language[langIndex]}}</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <p>{{language.mode}}</p>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <p>{{language.proficiency}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 btn btn-default" ng-click="editLangsSection()">
                            <i class="fa fa-edit"> Edit</i>
                        </div>
                    </div>
                </div>


                <div class="row" ng-show="editLangs">
                    <form novalidate role="form" name="languageForm">

                        <div class = "row"><h5>Add a new language:</h5>
                        <div class="form-group col-sm-3">
                            <label for="inputLanguage">Language</label>
                            <select class="form-control" name="inputLanguage" ng-model="new_language.language">
                                <option>English</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <label for="inputLanguageModel">Mode</label>
                            <select class="form-control" name="inputLanguageMode" ng-model="new_language.mode">
                                <option>Expressed spoken</option>
                                <option>Signed</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <label for="inputLanguageProficiency">Proficiency</label>
                            <select class="form-control" name="inputLanguageProficiency" ng-model="new_language.proficiency">
                                <option>Good</option>
                                <option>Intermediate</option>
                                <option>Proficient</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-12 profile-divider">
                        </div>
                        </div>

                        <div class = "row" ng-repeat="(langIndex,language) in profile.languages">
                        <div id="language{langIndex}}">
                        <div class="form-group col-sm-3">
                            <label for="inputLanguage">Language</label>
                            <select class="form-control" name="inputLanguage" ng-model="user_language[langIndex]">
                                <option>English</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <label for="inputLanguageModel">Mode</label>
                            <select class="form-control" name="inputLanguageMode" ng-model="language.mode">
                                <option>Expressed spoken</option>
                                <option>Signed</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 col-sm-offset-1">
                            <label for="inputLanguageProficiency">Proficiency</label>
                            <select class="form-control" name="inputLanguageProficiency" ng-model="language.proficiency">
                                <option>Good</option>
                                <option>Intermediate</option>
                                <option>Proficient</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-12 profile-divider">
                        </div>
                        </div>
                        </div>

                        <div class="row">
                        <a>
                            <button type="cancel" class="btn btn-default col-sm-2 col-sm-offset-3" ng-disabled="languageForm.$invalid" ng-click="cancelLangs()">Cancel</button>
                        </a>
                        <a>
                            <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-1" ng-click="updateProfile()">Update</button>
                        </a>
                        <div class="text-center">
                            <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        <!--<pre>{{profile | json}}</pre>-->
    </div> -->
</div>
