<div class="container-fluid body-content">
    <div id="profileSidebar" class="col-sm-3 body-left">
        <div profile></div>
        <div record-navigation class="col-sm-12"></div>&nbsp;
    </div>
    <!--Body-->
    <div class="col-sm-9 body-right">
        <div class="panel">
            <div class="panel-body">
                <!--Header Items-->
                <div class="col-sm-12">
                    <!--div class="row col-sm-12" breadcrumb></div-->
                    <div class="row col-sm-12" ng-if="entryType!=='all'">
                        <span><span><a href="/#/home">Home</a><span> <i class="fa fa-angle-right"></i> </span></span>
                        <span><a href="/#/record">My records</a><span> <i class="fa fa-angle-right"></i> </span></span>
                        <span>My {{entryType}}</span>
                        </span>
                    </div>
                    <div class="row col-sm-12" ng-if="entryType==='all'">
                        <span><span><a href="/#/home">Home</a><span> <i class="fa fa-angle-right"></i> </span></span>
                        <span>My records</span>
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4 ng-if="entryType==='all'">{{user_first}}'s Record Overview</h4>
                            <h4 ng-if="entryType!=='all'">{{user_first}}'s {{entryType}}</h4>
                            <p ng-if="entryType==='all'">This page gives an overview of your health record activity.</p>
                            <p ng-if="accountHistory.lastUpdate">Last Updated: {{accountHistory.lastUpdate | date: 'short'}}</p>
                            <p ng-if="!accountHistory.lastUpdate">Last Updated: Never</p>
                        </div>
                        <div class="col-sm-3" ng-if="entryType==='all'" ng-hide="!accountHistory.lastUpdate">
                            <!--<a href="#/print" target="_blank">-->
                            <a href="" ng-click="printModal()">
                                <button class="btn btn-default btn-responsive" style="color: #6AA6FF">
                                    <div class="col-sm-12 text-left" style="text-transform: none;">
                                        <div class="pull-left" style="margin-top: 15px;">
                                            <i class="fa fa-print fa-2x"></i>
                                        </div>
                                        <div class="pull-right" style="margin-left: 9px">
                                            <h6 style="text-transform: none; margin: 0px;">&nbsp;</h6>
                                            <h5 style="margin-top: 0px; margin-bottom: 0px; font-size: 1.5em;">Print <br/> my record</h5>
                                        </div>
                                    </div>
                                </button>
                            </a>
                            <!--br/>
                            <h6 style="max-width: 175px; text-align: center;"><i class="fa fa-print"></i> <a href="/#/print" target="_blank">Print</a> my health record.</h6-->
                        </div>
                        <div class="col-sm-3 col-sm-offset-3" ng-if="entryType==='medications'">
                            <!--<button class="btn btn-default" style="color: #6AA6FF; min-width: 175px;" data-placement="center" data-title="Medication Entry" data-content-template="views/modals/medicationentry.html" bs-modal="modal">-->
                            <button class="btn btn-default" style="color: #6AA6FF; min-width: 175px;" ng-click="entryModal()">
                                <div class="col-sm-12 text-left" style="text-transform: none;">
                                    <div class="pull-right">
                                        <h5 style="margin-top: 0px; margin-bottom: 0px; font-size: 1.5em;">Add Medication</h5>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col-sm-3" ng-if="entryType==='all'" ng-hide="!accountHistory.lastUpdate">

                            <!--<a href="/api/v1/master_health_record/xml">-->
                            <a href="" ng-click="exportModal()">
                                <button class="btn btn-default btn-responsive" style="color: #6AA6FF">
                                    <div class="col-sm-12 text-left" style="text-transform: none;">
                                        <div class="pull-left" style="margin-top: 12px;">
                                            <img class="img-navbar-logo img-responsive" src="images/bb-logo-vector.png" style="margin: 0px;">
                                        </div>
                                        <div class="pull-right" style="margin-left: 9px">
                                            <h6 style="text-transform: none; margin: 0px;">BlueButton</h6>
                                            <h5 style="margin-top: 0px; margin-bottom: 0px; font-size: 1.5em;">Download</br>my data<span style="font-size: 8px; vertical-align: top;">&reg;</span></h5>
                                        </div>
                                    </div>
                                </button>
                            </a>
                            <h6 class="h6-responsive" style="max-width: 175px; text-align: center;"><a href="http://healthit.gov/patients-families/your-health-data" target="_blank">Blue Button</a> lets you go online and download your health records.</h6>
                        </div>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 text-center" ng-if="entryType!=='all' && masterMatches.count>0">
                        <i class="fa fa-flag-o" style="margin-right: 10px;"></i>{{masterMatches.count}} update<span ng-show="masterMatches.count>1">s</span> to your {{entryType}} requiring review.
                    </div>
                </div>
            </div>
        </div>
        <!--d3. -->
        <div class="panel panel-default" ng-hide="entryListFiltered.length">
            <div class="panel-body">
                <div class="col-sm-12">
                    <h4>No Entries in this Section</h4>
                    <a href="/#/files">Please upload a record...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12" ng-show="entryType==='all' && recordEntries">
            <div ng-if="accountHistory.lastUpdate">
                <measurements dash-metrics="{{dashMetrics}}" graph-type="{{tab.type}}" data="recordEntries"></measurements>
            </div>
        </div>
        <div class="col-sm-12" ng-show="entryListFiltered.length">
            <!--end d3-->
            <div ng-show="entryType==='all'">
                <div class="col-sm-12">
                    <!--end d3-->
                    <!--Timeline View-->
                    <div class="col-sm-12">
                        <h4 class="text-center text-white">Record History</h4>
                        <div class="panel" ng-hide="recordEntries">
                            <div class="panel-body">
                                <h5 class="col-sm-12 text-center">No Record Entries</h5>
                            </div>
                        </div>
                        <div class="panel" ng-if="recordEntries">
                            <div class="panel-body">
                                <div>
                                    <p>Timeline</p>
                                </div>
                                <div class="row col-sm-12">
                                    <div timeline chart-data="mergesList_record" chart-location='all' chart-type="merges" class="timeline-graph"></div>
                                </div>
                                <!--
                                <div ng-if="mergesList_record" timeline chart-data="mergesList_record" chart-type="merges" class="timeline-graph" inactive-flag="{{inactiveFlag}}"></div>
                                -->
                                <div ng-repeat="(recordIndex, recordEntry) in mergesList_record | orderBy:'-merged':reverse" class="col-sm-12 row" id="record{{recordIndex}}">
                                    <div class="col-sm-12 row timeline-side" ng-if="recordEntry.entry_type !== 'demographics' ">
                                        <!--Timeline Icon-->
                                        <div class="col-sm-2">
                                            <a ng-if="recordEntry.entry_type === 'medications'" class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{recordEntry.entry_type}}" timeline-index="{{recordIndex}}" timeline-icon-meta="{{entryData.metadata}}"></a>
                                            <a ng-if="recordEntry.entry_type !== 'medications'" class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{recordEntry.entry_type}}" timeline-index="{{recordIndex}}" timeline-icon-meta="{{entryData.metadata}}"></a>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="panel timeline-entry">
                                                <div class="panel-body" id="accordian">
                                                    <div class="timeline-entry-header col-sm-12">
                                                        <div class="col-sm-6">
                                                            <h4 class="text-left">{{recordEntry.merge_reason}}  {{singularName(recordEntry.entry_type)}} </h4>
                                                            <h5 class="text-left">{{recordEntry.merged | date : 'short'}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 center-block text-center timeline-footer">
                                    <svg width="30" height="30">
                                        <circle cx="15" cy="15" r="15"></circle>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!--end timeline-->
                    </div>
                </div>
                <!--<pre>{{masterRecord | json}}</pre>-->
            </div>
            <!--Timeline View-->
            <div id="category-view" ng-cloak ng-if="entryType!=='all'" class="col-sm-12">
                <h4 class="text-center text-white">{{entryType}}</h4>
                <div class="panel" ng-hide="recordEntries">
                    <div class="panel-body">
                        <h5 class="col-sm-12 text-center">No Record Entries</h5>
                    </div>
                </div>
                <!-- debug stuff -->
                <!--
                <div class="panel">
                    <div class="panel-body">
                        <pre>{{recordEntries}}</pre>
                    </div>
                </div>
                -->
                <div class="panel" ng-if="recordEntries">
                    <div class="panel-body">
                        <div>
                            <p>Timeline</p>
                        </div>
                        <div class="row col-sm-12">
                            <div timeline chart-data="entryListFiltered" class="timeline-graph"></div>
                        </div>
                        <div ng-if="entryType=='medications' || entryType=='social'" class="col-sm-12 row timeline-side">
                            <div class="btn-group">
                                <!-- <label class="btn btn-default">
                                    <input type="checkbox" value="active" ng-checked="activeSelection.indexOf('active') > -1" ng-click="toggleSelection('active')"> Active</label> -->
                                <label class="btn btn-default">
                                    <input type="checkbox" value="inactive" ng-checked="activeSelection.indexOf('inactive') > -1" ng-click="toggleSelection('inactive')"> Show Inactive Meds</label>
                            </div>
                        </div>
                        <div ng-repeat="(recordIndex, recordEntry) in entryListFiltered" class="col-sm-12 row" id="record{{recordIndex}}">
                            <div class="col-sm-12 row timeline-side">
                                <entry id="{{recordEntry.data._id}}" type="{{recordEntry.category}}" entry-index="{{recordIndex}}" on-finish-render="ngRepeatFinished"></entry>
                            </div>
                        </div>
                        <div ng-hide="entryListFiltered" class="timeline-side row col-sm-12">
                            <div class="col-sm-offset-2">Please make a selection using the Active and Inactive buttons to view your medication entries.
                            </div>
                        </div>
                        <div class="col-sm-2 center-block text-center timeline-footer">
                            <svg width="30" height="30">
                                <circle cx="15" cy="15" r="15"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
                <!--end timeline-->
            </div>
        </div>
        <!-- <pre>{{entryListFiltered | json}}</pre> -->
    </div>