<div class="container-fluid body-content">
    <!--Profile-->
    <div class="col-sm-3 body-left">
        <div profile></div>
    </div>


    <div class="col-sm-9 body-right">

        <!--Header-->
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <h1>Review <span style="text-transform: capitalize;">Allergy Updates</span></h1>
                                <p>Entries to the left are possible updates to a current entry in your record, displayed to the right.</p>
                                <p>Use the checkboxes to select updates you wish to apply.</p>
                                <h6>Note:  Only differences between the entries are displayed.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Implementation-->
        <div ng-repeat="(matchIndex, matchEntry) in match">
            <h4 class="text-center">Update #{{matchIndex + 1}}</h4>
            <div class="panel col-sm-12">
                <div class="panel-body">

                    <!--Labels-->
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h5 class="text-center">Record Updates</h5>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="text-center">Current Record</h5>
                        </div>
                    </div>


                    <div class="col-sm-12">

                        <table class="table col-sm-12 table-hover">
                            <thead>
                                <tr>
                                    <td class="col-sm-6" style="border: 1px solid #ccc;">
                                        <div class="col-sm-11">
                                            <h4 class="text-left">{{matchEntry.newMatch.observation.allergen.name}}</h4>
                                            <h5 class="text-left">{{matchEntry.newMatch.observation.severity.code.name}}</h5>
                                            <h5 class="text-left">{{matchEntry.newMatch.date_time.displayDate}}</h5>
                                        </div>
                                    </td>
                                    <td class="text-center update-spacer">
                                        <svg height="40" width="20" style="position: relative; left: -9px; top: 20px;">
                                            <polygon points="0,0 20,20 0,40 -10,40" style="fill:#fff;stroke:#ddd;stroke-width:1"></polygon>
                                        </svg>
                                    </td>
                                    <td class="col-sm-6" style="border: 1px solid #ccc;">
                                        <div class="col-sm-11">
                                            <h4 class="text-left">{{matchEntry.srcMatch.data.observation.allergen.name}}</h4>
                                            <h5 class="text-left">{{matchEntry.srcMatch.data.observation.severity.code.name}}</h5>
                                            <h5 class="text-left">{{matchEntry.srcMatch.data.date_time.displayDate}}</h5>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                                <!--Status Diff.-->
                                <tr ng-if="matchEntry.diff.observation.status">
                                    <td style="border: 1px solid #ccc;" ng-class="{'update-selected': selected.observation.status}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" ng-model="selected.observation.status" ng-change="selectEntry(matchIndex)">
                                                        </label>
                                                    </td>
                                                    <td class="col-sm-3">
                                                        Status:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        <div class="pull-right" ng-if="matchEntry.diff.observation.status === 'diff'">
                                                            <span class="label label-info">Different</span>
                                                        </div>
                                                        {{matchEntry.newMatch.observation.status.name}}
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                    <td class="text-center update-spacer"></td>
                                    <td style="border: 1px solid #ccc;" ng-class="{'update-selected': selected.observation.status}">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        Status:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        {{matchEntry.srcMatch.data.observation.status.name}}
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>

                                <!--Reactions-->
                                <tr ng-if="matchEntry.diff.observation.reactions">
                                    <td style="border: 1px solid #ccc;">
                                        <table class="table table-condensed col-sm-12">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-3">
                                                        Reactions:
                                                    </td>
                                                    <td class="col-sm-9">
                                                        <div class="panel" ng-repeat="(reactionIndex, reactionEntry) in matchEntry.subelements.observation.reactions" ng-class="{'update-selected': selected.observation.reactions[reactionIndex]}">

                                                            <table class="table sub-table">
                                                                <thead>

                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <label>
                                                                                <h5><input type="checkbox" style="margin-right: 10px;" ng-model="selected.observation.reactions[reactionIndex]" ng-change="selectEntry(matchIndex)">{{matchEntry.newMatch.observation.reactions[reactionIndex].reaction.name}}</h5>
                                                                            </label>
                                                                            <div class="pull-right" ng-if="matchEntry.diff.observation.reactions === 'new'">
                                                                                <span class="label label-primary">New</span>
                                                                            </div>
                                                                            </td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Severity:</td>
                                                                        <td>{{matchEntry.newMatch.observation.reactions[reactionIndex].severity.code.name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Code:</td>
                                                                        <td>{{matchEntry.newMatch.observation.reactions[reactionIndex].severity.code.code}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Code System:</td>
                                                                        <td>{{matchEntry.newMatch.observation.reactions[reactionIndex].severity.code.code_system_name}}</td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>
                                                        </div>
                                                        </td>
                                                </tr>
                                            </thead>
                                        </table>
                                        </td>
                                        <td class="text-center update-spacer"></td>
                                        <td style="border: 1px solid #ccc;">
                                            <table class="table table-condensed col-sm-12">
                                                <thead>
                                                    <tr>
                                                        <td class="col-sm-3">
                                                            Reactions:
                                                        </td>
                                                        <td class="col-sm-9">
                                                            <div class="panel" ng-repeat="(reactionIndex, reactionEntry) in matchEntry.srcMatch.data.observation.reactions" ng-class="{'update-selected': selected.observation.reactions[reactionIndex]}">
                                                                <table class="table sub-table">
                                                                    <thead>

                                                                        <tr>
                                                                            <td colspan="2">
                                                                                <h5>{{matchEntry.srcMatch.data.observation.reactions[reactionIndex].reaction.name}}</h5>
                                                                            </td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Severity:</td>
                                                                            <td>{{matchEntry.srcMatch.data.observation.reactions[reactionIndex].severity.code.name}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Code:</td>
                                                                            <td>{{matchEntry.srcMatch.data.observation.reactions[reactionIndex].severity.code.code}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Code System:</td>
                                                                            <td>{{matchEntry.srcMatch.data.observation.reactions[reactionIndex].severity.code.code_system_name}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-default btn-block" ng-click="saveUpdate(matchIndex)">Ignore Updates</button>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary btn-block" ng-click="saveUpdate(matchIndex)">Save Updates</button>
                                    <button class="btn btn-link btn-block" ng-click="clearAll(matchIndex)"><i class="fa fa-undo" style="margin-right: 10px;"></i>Undo All</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--<pre>{{match[0].origMatch | json}}</pre>-->
