<table class="table table-hover">
	<thead>
		<tr>
			<td colspan="2">
				<h3>Entry Details</h3>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-show="entryData.observation.allergen.code">
			<td>Code:</td>
			<td>{{entryData.observation.allergen.code}}</td>
		</tr>
		<tr ng-show="entryData.observation.allergen.code_system_name">
			<td>Code System:</td>
			<td>{{entryData.observation.allergen.code_system_name}}</td>
		</tr>

		<tr ng-show="entryData.observation.status">
			<td>Status:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tbody>
                            <tr ng-show="entryData.observation.status.name">
                                <td>Status:</td>
                                <td>{{entryData.observation.status.name}}</td>
                            </tr>
                            <tr ng-show="entryData.observation.status.code">
                                <td>Code:</td>
                                <td>{{entryData.observation.status.code}}</td>
                            </tr>
                            <tr ng-show="entryData.observation.status.code_system_name">
                                <td>Code System:</td>
                                <td>{{entryData.observation.status.code_system_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

		<tr ng-repeat="(reactionIndex, reactionEntry) in entryData.observation.reactions">
			<td>Reactions:</td>
			<td>

				<div class="panel">
					<table class="table sub-table">
						<thead ng-show="reactionEntry.reaction.name">
							<tr>
								<td>Reaction:</td>
								<td>{{reactionEntry.reaction.name}}</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-show="reactionEntry.severity.code.name">
								<td>Severity:</td>
								<td>{{reactionEntry.severity.code.name}}</td>
							</tr>
							<tr ng-show="reactionEntry.reaction.code">
								<td>Code:</td>
								<td>{{reactionEntry.reaction.code}}</td>
							</tr>
							<tr ng-show="reactionEntry.reaction.code_system_name">
								<td>Code System:</td>
								<td>{{reactionEntry.reaction.code_system_name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>