<table class="table table-hover">
    
    <tbody>
        <tr ng-show="entryData.status">
            <td>Status:</td>
            <td>{{entryData.status}}</td>
        </tr>
        <tr ng-show="entryData.sig">
            <td>Sig:</td>
            <td>{{entryData.sig}}</td>
        </tr>
        <tr ng-show="entryData.administration.dose.value">
            <td>Dose:</td>
            <td>{{entryData.administration.dose.value}}</td>
        </tr>
        <!-- 		<tr ng-show="entryData.administration.rate">
			<td>Rate:</td>
			<td>{{entryData.administration.rate}}</td>
		</tr> -->
        <!-- 		<tr ng-show="entryData.administration.interval">
			<td>Interval:</td>
			<td>{{entryData.administration.interval}}</td>
		</tr> -->
        <tr ng-show="entryData.product.manufacturer">
            <td>Manufacturer:</td>
            <td>{{entryData.product.manufacturer}}</td>
        </tr>
        <tr ng-show="entryData.product.product.code">
            <td>Product Code:</td>
            <td>{{entryData.product.product.code}}</td>
        </tr>
        <tr ng-show="entryData.product.product.code_system_name">
            <td>Product Code System:</td>
            <td>{{entryData.product.product.code_system_name}}</td>
        </tr>
        <tr ng-show="entryData.product.unencoded_name">
            <td>Unencoded Name:</td>
            <td>{{entryData.product.unencoded_name}}</td>
        </tr>
        <tr ng-show="entryData.product.product.translations">
            <td>Other Descriptions:</td>
            <td>
                <div class="panel" ng-repeat="(itemIndex, itemEntry) in entryData.product.product.translations">
                    <table class="table sub-table">
                        <thead ng-show="itemEntry.name">
                            <tr>
                                <td>Name:</td>
                                <td>{{itemEntry.name}}</td>
                            </tr>
                        </thead>
                        <tbody ng-show="itemEntry.code||itemEntry.code_system_name">
                            <tr ng-show="itemEntry.code">
                                <td>Code:</td>
                                <td>{{itemEntry.code}}</td>
                            </tr>
                            <tr ng-show="itemEntry.code_system_name">
                                <td>Code System:</td>
                                <td>{{itemEntry.code_system_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr ng-show="entryData.supply">
            <td>Supply:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tr ng-show="entryData.supply.date_time.displayDate">
                            <td>Date:</td>
                            <td>{{entryData.supply.date_time.displayDate}}</td>
                        </tr>
                        <tr ng-show="entryData.supply.repeatNumber">
                            <td>Repeat Number:</td>
                            <td>
                                <div>
                                    {{entryData.supply.repeatNumber}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="entryData.supply.quantity">
                            <td>Quantity:</td>
                            <td>{{entryData.supply.quantity}}</td>
                        </tr>
                        <tr ng-show="entryData.supply.author.name.displayName">
                            <td>Author:</td>
                            <td>{{entryData.supply.author.name.displayName}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr ng-show="entryData.administration.route">
            <td>Route:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tr ng-show="entryData.administration.route.name">
                            <td>Name:</td>
                            <td>{{entryData.administration.route.name}}</td>
                        </tr>
                        <tr ng-show="entryData.administration.route.code">
                            <td>Code:</td>
                            <td>{{entryData.administration.route.code}}</td>
                        </tr>
                        <tr ng-show="entryData.administration.route.code_system_name">
                            <td>Code System:</td>
                            <td>{{entryData.administration.route.code_system_name}}</td>
                        </tr>

                    </table>
                </div>
            </td>
        </tr>
        <tr ng-show="entryData.administration.form">
            <td>Form:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tr ng-show="entryData.administration.form.name">
                            <td>Name:</td>
                            <td>{{entryData.administration.form.name}}</td>
                        </tr>
                        <tr ng-show="entryData.administration.form.code">
                            <td>Code:</td>
                            <td>{{entryData.administration.form.code}}</td>
                        </tr>
                        <tr ng-show="entryData.administration.form.code_system_name">
                            <td>Code System:</td>
                            <td>{{entryData.administration.form.code_system_name}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr ng-show="entryData.drug_vehicle">
            <td>Drug Vehicle:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tr ng-show="entryData.drug_vehicle.name">
                            <td>Name:</td>
                            <td>{{entryData.drug_vehicle.name}}</td>
                        </tr>
                        <tr ng-show="entryData.drug_vehicle.code">
                            <td>Code:</td>
                            <td>{{entryData.drug_vehicle.code}}</td>
                        </tr>
                        <tr ng-show="entryData.drug_vehicle.code_system_name">
                            <td>Code System:</td>
                            <td>{{entryData.drug_vehicle.code_system_name}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr ng-show="entryData.precondition">
            <td>Precondition:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tr ng-show="entryData.precondition.value.name">
                            <td>Name:</td>
                            <td>{{entryData.precondition.value.name}}</td>
                        </tr>
                        <tr ng-show="entryData.precondition.value.code">
                            <td>Code:</td>
                            <td>{{entryData.precondition.value.code}}</td>
                        </tr>
                        <tr ng-show="entryData.precondition.value.code_system_name">
                            <td>Code System:</td>
                            <td>{{entryData.precondition.value.code_system_name}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr ng-show="entryData.indication">
            <td>Indication:</td>
            <td>
                <div class="panel">
                    <table class="table sub-table">
                        <tr ng-show="entryData.indication.value.name">
                            <td>Name:</td>
                            <td>{{entryData.indication.value.name}}</td>
                        </tr>
                        <tr ng-show="entryData.indication.value.code">
                            <td>Code:</td>
                            <td>{{entryData.indication.value.code}}</td>
                        </tr>
                        <tr ng-show="entryData.indication.value.code_system_name">
                            <td>Code System:</td>
                            <td>{{entryData.indication.value.code_system_name}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>