$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// $fa-font-path: "../fonts" !default;
//@import url(http://fonts.googleapis.com/css?family=Open+Sans);
//@import url(http://fonts.googleapis.com/css?family=Roboto);
//@import url(http://fonts.googleapis.com/css?family=Montserrat);
//Using local fonts for dev, need to configure grunt for CDN pointers.
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Light.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.otf");
    font-weight: 500;
}

// Bootstrap Preprocessing
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
// Bootstrap Postprocessing
//Not migrating yet, cannot preview section.
.img-navbar-logo {
  max-width: 30px;
  max-height: 30px;
  margin: -5px 10px;
}
.container {
    min-height: 300px;
}
