<div class="container-fluid body-content">
	<!--Profile-->
	<div class="col-sm-3 body-left" >
		<div profile></div>
	</div>

	
	<div class="col-sm-9 body-right">
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-12">
					<div class="row col-sm-12" breadcrumb></div>
					<h4>Account Settings</h4>
					<p>Adjust settings associated with your account.</p>
					<p>Account settings are for managing how you log in to the system.</p>
					<p>Profile Settings, such as changes to address information, can be accessed in <a href="#/profile">profile settings</a>.</p>
				</div>
			</div>
		</div>
		<h4 class="text-center text-white">Reset Password</h4>
		<div class="panel col-sm-12">
			<div class="panel-body">
				<h5>* Denotes required fields.</h5>
				<form novalidate role="form" name="resetForm" ng-submit="nextStep()" class="col-sm-12">
					<div class="col-sm-12">
						<div class="form-group col-sm-5">
							<label for="inputOldPassword">Old Password*</label>
							<input type="password" class="form-control" name="inputOldPassword" ng-model="inputOldPassword" required ng-required="true" ng-minLength="8" ng-maxLength="20">
							<p ng-show="resetForm.inputOldPassword.$invalid && !resetForm.inputOldPassword.$pristine" class="help-block">Password must be between 8 and 20 characters.</p>
						</div>
					</div>
					<div class="form-group col-sm-5">
						<label for="inputNewPassword">New Password*</label>
						<input type="password" class="form-control" name="inputNewPassword" ng-model="inputNewPassword" required ng-required="true" ng-minLength="8" ng-maxLength="20">
						<p ng-show="resetForm.inputNewPassword.$invalid && !resetForm.inputNewPassword.$pristine" class="help-block">Password must be between 8 and 20 characters.</p>
					</div>
					<div class="form-group col-sm-5 col-sm-offset-1">
						<label for="inputRepeatPassword"> Repeat New Password*</label>
						<input type="password" class="form-control" name="inputRepeatPassword" ng-model="inputRepeatPassword" required ng-required="true" ng-minLength="8" ng-maxLength="20">
						<p ng-show="resetForm.inputRepeatPassword.$invalid && !resetForm.inputRepeatPassword.$pristine" class="help-block">Password must be between 8 and 20 characters.</p>
					</div>
					<a ng-click="resetPassword()"<button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4" ng-disabled="resetForm.$invalid">Reset Password</button></a>

					<div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
				</form>
				<div class="text-center col-sm-12">
					<h5><a href="#/reset">Forgot Password</a></h5>
				</div>
			</div>
			<!--<pre>{{profile | json}}</pre>-->
		</div>
	</div>