


<div class="row" style="margin:20px;">
	<div class="col-sm-3" style="padding-right: 20px; padding-bottom: 20px;">
		<div class="profile">
			<div class="profile-body">
				<div class="profile-image">
					<img class="img-responsive center-block" src="images/img-demo.png">
				</div>
				<div class="profile-content">
					<h4>Suzie Demo</h4>
					<p>suzie@amida-demo.com</p>
					<p>Born: 6/25/1982</p>
				</div>
			</div>
		</div>

		<div class="btn-group-vertical col-sm-12">
			<button type="button" class="btn btn-default btn-block">My Record</button>
			<button type="button" class="btn btn-default btn-block">My Billing</button>
			<button type="button" class="btn btn-default btn-block">My Files</button>
		</div>

	</div>

	<div class="col-sm-9">


		<!--Intro Panel.-->
		<div class="panel">
			<div class="panel-body">
				<div class="col-sm-7">
					<h1>Hi Suzie!</h1>
					<p>Welcome to your Personal Health Record.</p>
					<p>Last Login: {{accountHistory.lastLogin}}</p>
					<p>Last Updated: {{accountHistory.lastUpdate}}</p>
				</div>
				<div class="col-sm-5">

					<div class="panel"  style="margin-bottom: 0;">
					<div class="panel-body">
					<div class="row alert-row">
						<div class="col-sm-3 success">
							<i class="fa fa-check fa-2x"></i>
						</div>
						<div class="col-sm-9">
							<span>60 Total Entries</span>
						</div>
					</div>

					<div class="row alert-row">
						<div class="col-sm-3 warning">
							<i class="fa fa-flag fa-2x"></i>
						</div>
						<div class="col-sm-9">
							<span>60 Possible Updates</span>
						</div>
					</div>

					<div class="row alert-row">
						<div class="col-sm-3 info">
							<i class="fa fa-folder fa-2x"></i>
						</div>
						<div class="col-sm-9">
							<span>60 Files Saved</span>
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>

		<!--d3.js-->

		<h4 class="text-center">Account History</h4>
		<div class="panel">
			<div class="panel-body">
				<div>
					<p>Timeline</p>
				</div>
				<div timeline chart-data="accountHistory" chart-type="account" style="border-bottom: 1px solid #ccc; width: 100%;"></div>

				<div ng-repeat="(recordIndex, recordEntry) in accountHistory.recordHistory" class="col-sm-12 row" id="record{{recordIndex}}">

					<div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

						<div class="col-sm-2">
							<a class="timeline-entry-icon text-center center-block">
								
									<i ng-if="recordEntry.type === 'download'" class="fa fa-download fa-2x" id="entry{{recordIndex}}"></i>
									<i ng-if="recordEntry.type === 'upload'" class="fa fa-upload fa-2x" id="entry{{recordIndex}}"></i>

							</a>
						</div>


						<div class="col-sm-10">
							<div class="panel timeline-entry">
								<div class="panel-body">
									<div class="timeline-entry-header col-sm-12">
										<div class="col-sm-6">
											<h4 class="text-left">{{recordEntry.displayType}}</h4>
											<h5 class="text-left">{{recordEntry.date}} - <span ng-show="recordEntry.file.name"><a>{{recordEntry.file.name}}</a></span>
										<span ng-hide="recordEntry.file.name">Generated medical history</span></h5>
											
										</div>
										<div class="col-sm-6">
										</div>
									</div>
								</div>
							</div>
						</div>




					</div>
				</div>

				<div class="col-sm-2 center-block text-center timeline-footer">
					<svg width="30" height="30">
						<circle cx="15" cy="15" r="15"></circle>
					</svg>
				</div>


			</div>


		</div>
	</div>





</div>



</div>