


<div class="row" style="margin:20px;">
	<div class="col-sm-3" style="padding-right: 20px;">
	<div class="profile">
		<div class="profile-body">
			<div class="profile-image">
				<img class="img-responsive center-block" src="images/img-demo.png">
			</div>
			<div class="profile-content">
				<h4>Suzie Demo</h4>
				<p>suzie@amida-demo.com</p>
				<p>Born: 6/25/1982</p>
			</div>
		</div>
	</div>
	</div>

	<div class="panel col-sm-9">
	  <div class="panel-body">

	  	<div class="col-sm-7">
			<h2>Home</h2>
			<p>Welcome to your Personal Health Record.</p>
			<p>Last Login: 12/24/2012</p>
			<p>Last Updated: 12/24/2012</p>
		</div>
		<div class="col-sm-5">

			<div class="row alert-row">
				<div class="col-sm-3 success">
					<i class="fa fa-check fa-2x"></i>
				</div>
				<div class="col-sm-9">
					<span>60 Total Entries</span>
				</div>
			</div>

			<div class="row alert-row">
				<div class="col-sm-3 warning">
					<i class="fa fa-flag fa-2x"></i>
				</div>
				<div class="col-sm-9">
					<span>60 Possible Updates</span>
				</div>
			</div>

			<div class="row alert-row">
				<div class="col-sm-3 info">
					<i class="fa fa-folder fa-2x"></i>
				</div>
				<div class="col-sm-9">
					<span>60 Files Saved</span>
				</div>
			</div>

		</div>
	  </div>

	</div>

	<div class="col-sm-9">

	  <!--Slider Element-->
	  <div>

	  	<!--Timeline Row-->
	  	<div class="timeline">

	  	 <div style="width: 100%">

	  	 	<a href="">
			<svg width="500" height="50">
  				<circle cx="40" cy="25" r="5"></circle>
  				<circle cx="80" cy="25" r="5"></circle>
  				<circle cx="320" cy="25" r="5"></circle>
			</svg>
			</a>


	  	</div>
	  	</div>


	  	<!--Label Row-->
	  	<div style="float: left;">1999</div>
	  	<div style="float: right;">2010</div>

	  </div>

	</div>



	
</div>