<div class="col-sm-4 col-sm-offset-4">

  <div class="text-center">
    <h4>Log in</h4>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <form novalidate role="form" name="loginForm" ng-submit="login()">
        <div class="form-group">
          <label for="inputLogin">User ID:</label>
          <input type="text" class="form-control" name="inputLogin" ng-model="inputLogin" required ng-required="true" ng-minLength="1">
          <p ng-show="loginForm.inputLogin.$invalid && !loginForm.inputLogin.$pristine" class="help-block">Username or email is required.</p>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password:</label>
          <input type="password" class="form-control" name="inputPassword" ng-model="inputPassword" required ng-required="true" ng-minLength = "1">
          <p ng-show="loginForm.inputPassword.$invalid && !loginForm.inputPassword.$pristine" class="help-block">Password is required.</p>
        </div>
        <button type="submit" class="btn btn-block btn-primary" ng-disabled="loginForm.$invalid">Log In</button>
        <div ng-if="error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{error}}</div>
        <div class="text-center col-sm-12">
            <div class="col-sm-5 text-right">
            <label for="remember_me">
               <h5><input type="checkbox" name="remember_me" value="true" checked="checked"></input> Remember Me</h5>
            </label>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-5 text-left">
              <h5><a href="#/reset">Forgot Password</a></h5>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>