<div class="col-sm-12 row">
  <h1 class="col-sm-offset-1 col-sm-4">Welcome to your Personal Health Record.</h1>
  <div class="col-sm-5 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">User ID:</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-block btn-primary">Log In</button>
          <div class="text-center">
            <h5><a href="">Forgot Password</a></h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
