<div class="col-sm-12 landing-panel">
  <h1 class="col-sm-offset-1 col-sm-4">Welcome to your Personal Health Record.</h1>
  <div class="col-sm-5 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">User ID:</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-block btn-primary">Log In</button>
          <div class="text-center">
            <h5><a href="">Forgot Password</a></h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Marketing Content-->
<div class="col-sm-12">
  <div class="landing-advertising">
    <div class="col-sm-4">
      <div>
        <div class="icon-circle">
          <i class="fa fa-lock fa-4x"></i>
        </div>
        <div class="text-center">
          <h4>Lorem.</h4>
          <p>Lorem ipsum dolor sit amet, ut per vitae labitur concludaturque. Ut ludus adipiscing nam, sale maiorum in nec, et quas regione efficiendi sit.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <div class="icon-circle">
          <i class="fa fa-group fa-4x"></i>
        </div>
        <div class="text-center">
          <h4>Ipsum.</h4>
          <p>Est labore omnium reformidans eu, qui summo denique no, affert docendi platonem qui te. Harum tibique argumentum eu vis, ex magna facilisi vix.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <div class="icon-circle">
          <i class="fa fa-thumbs-up fa-4x"></i>
        </div>
        <div class="text-center">
          <h4>Lorem.</h4>
          <p>Lorem ipsum dolor sit amet, ut per vitae labitur concludaturque. Ut ludus adipiscing nam, sale maiorum in nec, et quas regione efficiendi sit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
