<div class="container-fluid body-content">
    <div class="col-sm-3 body-left">
        <div profile></div>
        <div>
            <div class="panel-body">
                <div class="btn-toolbar sidebar-control" role="toolbar">
                    <div class="btn-group-vertical col-sm-12" role="group">
                        <button class="btn btn-default btn-block" ng-click="toggleAll()">All </button>
                    </div>
                    <p>&nbsp</p>
                    <div class="btn-group-vertical col-sm-12" role="group">
                        <button class="btn btn-default btn-block" ng-click="toggle('starred')">Starred <i class="fa fa-check" ng-show="filters.starred"></i></button>
                        <button class="btn btn-default btn-block" ng-click="toggle('unStarred')">Unstarred <i class="fa fa-check" ng-show="filters.unStarred"></i></button>
                    </div>
                    <p>&nbsp</p>
                    <div class="btn-group-vertical col-sm-12" role="group">
                        <button class="btn btn-default btn-block" ng-repeat="(name,state) in filters" ng-hide="name === 'starred' || name === 'unStarred'" ng-click="toggle(name)">{{name}} <i class="fa fa-check" ng-show="state"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel">
            <div class="panel-body">
                <!--Header Items-->
                <div class="col-sm-12 row">
                    <div class="col-sm-12">
                        <div breadcrumb></div>
                        <h1>My Notes</h1>
                        <p>This is consolidated view of all notes across your record.</p>
                        <p>To add a new note, please annotate an entry in either your medical record or billing history</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"><h4>Review Notes</h4></div>
        <div class="panel">
            <div class="panel-body">
                <!--Each Entry-->
                <div ng-show="sections.length === 0" class="col-sm-12 text-center"><h5>No notes are available for display</h5></div>
                <div ng-hide="filters.starred || filters.unStarred" class="col-sm-12 text-center"><h5>No notes are available for display</h5></div>
                <div ng-repeat="(sectionIndex, sectionEntry) in sections = (notes | sections:filters)">
                    <div ng-repeat="(noteIndex, noteEntry) in subNotes = (sectionEntry.notes | starred:filters)">
                        <div ng-show="noteIndex === 0">
                            <h4>{{sectionEntry.section}}</h4>
                        </div>
                        <div class="col-sm-1 panel-body text-center">
                            <h5 ng-show="noteEntry.note.starred === true" ng-click="clickStar(true, noteIndex, sectionEntry.section)"><a><i class="fa fa-star"></i></a></h5>
                            <h5 ng-show="noteEntry.note.starred === false" ng-click="clickStar(false, noteIndex, sectionEntry.section)"><a><i class="fa fa-star-o"></i></a></h5>
                        </div>
                        <div class="panel col-sm-11">
                            <div class="panel-body">
                                <div class="col-sm-8">
                                    <h5>{{noteEntry.note.comment}}</h5>
                                </div>
                                <div class="col-sm-12">
                                    <div class="pull-left">
                                        <h6>{{noteEntry.note.date | date:'short'}}</h6>
                                    </div>
                                    <button class="pull-right btn btn-link" data-toggle="collapse" data-target="#details{{sectionEntry.section}}{{noteIndex}}" aria-expanded="false" aria-controls="details{{sectionEntry.section}}{{noteIndex}}" >
                                    <span><i class="fa fa-ellipsis-h"></i> Entry</span>
                                    </button>
                                </div>
                                <div class="col-sm-12" >
                                    <!--Record detail pane.-->
                                    <div role="tabpanel" class="collapse" id="details{{sectionEntry.section}}{{noteIndex}}">
                                        <div class="sub-entry">
                                            <h3>Entry Details</h3>
                                            <a ng-hide="sectionEntry.section === 'claims' || sectionEntry.section === 'insurance'" href="#/record/{{sectionEntry.section}}"><h5>{{noteEntry.entryTitle}}</h5></a>
                                            <a ng-show="sectionEntry.section === 'claims' || sectionEntry.section === 'insurance'" href="#/billing/{{sectionEntry.section}}"><h5>{{noteEntry.entryTitle}}</h5></a>
                                            <h5>{{noteEntry.entrySubTitleOne}}</h5>
                                            <h5>{{noteEntry.entrySubTitleTwo}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<pre>{{notes | json}}</pre>-->
                </div>
            </div>
        </div>