<div class="row" style="margin: 20px;">
	<!--Profile-->
	<div class="col-sm-3" style="padding-right: 20px; height: 100%;">
		<div profile></div>
		<div record-navigation></div>
	</div>

	<!--Body-->
	<div class="col-sm-9">
		<div class="panel">
			<div class="panel-body">

				<!--Header Items-->
				<div class="col-sm-12">
					<div class="row col-sm-12" breadcrumb></div>
					<div class="col-sm-12">
						
						<div class="col-sm-8">
							<div>
								<h1>Suzie's Record Overview</h1>
								<p>This page gives an overview of your health record activity.</p>
								<p>Last updated:  July 31, 2014</p>
							</div>
							
						</div>
						<div class="col-sm-3 pull-right" style="position: relative; min-height: 150px;">
							<div class="col-sm-12">
								<a href="#/record/download"><button class="btn btn-link">
									<div class="col-sm-3 pull-left" style="position: relative; top: 5px;">
										<i class="fa fa-download fa-2x"></i>
									</div>
									<div class="col-sm-8 col-sm-offset-1 pull-right">
									Download</br>My Record 
									</div>
									
								</button></a>
							</div>
						</div>
						
					</div>
				</div>			
			</div>
		</div>

		<!--d3.-->
		<div class="col-sm-12">

			<div class="col-sm-6" style="padding-right: 20px;">
				<div class="panel">
					<div class="panel-body">
						<div class="col-sm-12">
							<h4>Measurements</h4>
						</div>
						<div class="col-sm-6">
							<h5>Height</h5>
							<h3>{{dashMetrics.height.disp}}</h3>
							<h5>Weight</h5>
							<h3>{{dashMetrics.weight.disp}}</h3>
							<h5>BMI</h5>
							<h3>{{dashMetrics.bmi}}</h3>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-12 text-center">
								2014
							</div>
							<div measurements svg-width="200" svg-height="200" graph-type="weight" class="pull-right"></div>
							<div class="col-sm-12 text-center">
								Weight (lbs)
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-6">
				<div class="panel">
					<div class="panel-body">
						<div class="col-sm-12">
							<h4>Blood Pressure</h4>
						</div>
						<div class="col-sm-6">
							<h5>Systolic</h5>
							<h3>{{dashMetrics.systolic.value}}</h3>
							<h5>Diastolic</h5>
							<h3>{{dashMetrics.diastolic.value}}</h3>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-12 text-center">
								2014
							</div>
							<div measurements svg-width="200" svg-height="200" graph-type="bloodPressure" class="pull-right" id="graphOne"></div>
							<div class="col-sm-12 text-center">
								Blood Pressure
							</div>

						</div>

					</div>
				</div>
			</div>
		</div><!--end d3-->

		<!--Timeline View-->
		<div class="col-sm-12">
		<h4 class="text-center">Record History</h4>
		<div class="panel">
			<div class="panel-body">
				<div>
					<p>Timeline</p>
				</div>
				<div timeline chart-data="entryList" class="timeline-graph" inactive-flag="{{inactiveFlag}}"></div>

				<div ng-repeat="(recordIndex, recordEntry) in entryList" class="col-sm-12 row" id="record{{recordIndex}}">

					<div class="col-sm-12 row timeline-side" style="padding-top: 20px;">

						<!--Timeline Icon-->
						<div class="col-sm-2">
							<a href="#/record/{{recordEntry.category}}" class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{recordEntry.category}}" timeline-index="{{recordIndex}}"></a>
						</div>


						<div class="col-sm-10">
							<div class="panel timeline-entry">
								<div class="panel-body" id="accordian">

									<div class="timeline-entry-header col-sm-12">
										<div class="col-sm-6">
											<h4 class="text-left">{{recordEntry.category}} Added</h4>
											<h5 class="text-left">{{recordEntry.date_time.displayDate}}</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-2 center-block text-center timeline-footer">
					<svg width="30" height="30">
						<circle cx="15" cy="15" r="15"></circle>
					</svg>
				</div>
			</div>
		</div><!--end timeline-->
		</div>

	</div>


	<pre>{{masterRecord | json}}</pre>

</div>