<div class="col-sm-2">
    <a class="timeline-entry-icon text-center center-block" timeline-icon timeline-icon-type="{{entryType}}" timeline-index="{{recordIndex}}" data-toggle="collapse" data-target="#history{{recordIndex}}" aria-expanded="false" aria-controls="history{{recordIndex}}" ng-click="swapTabs('history', recordIndex)"></a>
</div>
<div class="col-sm-10">
    <div class="panel timeline-entry">
        <div class="panel-body" id="accordian">
            <div class="timeline-entry-header col-sm-12">
                <div class="col-sm-6">
                    <h4 class="text-left">{{entryTitle}}</h4>
                    <h5 class="text-left">{{entrySubTitleOne}}</h5>
                    <h5 class="text-left">{{entrySubTitleTwo}}</h5>
                </div>
                <div class="col-sm-6 text-right">
                <!-- only one match example per entry for now -->
                    <div ng-show="entryTitle === 'ALLERGENIC EXTRACT, PENICILLIN'">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#match{{recordIndex}}" aria-expanded="false" aria-controls="match{{recordIndex}}" ng-click="swapTabs('match', recordIndex)"><i class="fa fa-flag fa-inline"></i>1 pending update</button>
                    </div>
                    <div ng-show="recordEntry.metadata.starred_comments > 0">
                        <button class="pull-right btn btn-link" data-toggle="collapse" data-target="#comments{{recordIndex}}" aria-expanded="false" aria-controls="comments{{recordIndex}}" ng-click="swapTabs('comments', recordIndex)"><i class="fa fa-star fa-inline"></i>{{recordEntry.metadata.starred_comments}} starred note<span ng-show="recordEntry.metadata.starred_comments > 1">s</span></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <!--Tab nav-->
                <div class="col-sm-12">
                    <button class="pull-right btn btn-link" data-toggle="collapse" data-target="#history{{recordIndex}}" aria-expanded="false" aria-controls="history{{recordIndex}}" ng-click="swapTabs('history', recordIndex)">
                    <span><i class="fa fa-clock-o"></i> History</span>
                    </button>
                    <button class="pull-right btn btn-link" data-toggle="collapse" data-target="#comments{{recordIndex}}" aria-expanded="false" aria-controls="comments{{recordIndex}}" ng-click="swapTabs('comments', recordIndex)">
                    <span><i class="fa fa-comment"></i> Notes</span>
                    </button>
                    <button class="pull-right btn btn-link" data-toggle="collapse" data-target="#details{{recordIndex}}" aria-expanded="false" aria-controls="details{{recordIndex}}" ng-click="swapTabs('details', recordIndex)">
                    <span><i class="fa fa-ellipsis-h"></i> Details</span>
                    </button>
                </div>
                <!--Tab panes-->
                <div class="col-sm-12" >
                    <!--Match detail pane.-->
                    <div role="tabpanel" class="collapse" id="match{{recordIndex}}">
                        <div class="sub-entry">
                            <div entry-details details="allergyMatch" category="allergies" tab="swapTabs(class,index)"></div>
                        </div>
                    </div>
                    <!--Record detail pane.-->
                    <div role="tabpanel" class="collapse" id="details{{recordIndex}}">
                        <div class="sub-entry">
                            <div ng-include="entryTemplatePath"></div>
                        </div>
                    </div>
                    <!--Record history pane.-->
                    <div role="tabpanel" class="collapse" id="history{{recordIndex}}">
                        <div class="sub-entry">
                            <h3>Entry History</h3>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <td>Source</td>
                                        <td>Status</td>
                                        <td>Merged</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(attrIndex, attrEntry) in entryMetaData.attribution">
                                        <td><a href="#/files">{{attrEntry.source}}</a></td>
                                        <td class="capitalize">{{attrEntry.status}}</td>
                                        <td>{{attrEntry.merged | date:'short'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Record comments pane.-->
                    <div role="tabpanel" class="collapse" id="comments{{recordIndex}}" data-parent="#selector">
                        <div class="sub-entry">
                            <h3>Entry Notes</h3>
                            <div class="col-sm-12" ng-repeat="(commentIndex, commentEntry) in entryMetaData.comments">
                                <div class="col-sm-11 col-sm-offset-1"><h5>{{commentEntry.date | date:'short'}}</h5></div>
                                <div class="col-sm-1 panel-body text-center">
                                    <h5 ng-show="commentEntry.starred === true" ng-click="clickStar(true, commentIndex, recordIndex)"><a><i class="fa fa-star"></i></a></h5>
                                    <h5 ng-show="commentEntry.starred === false" ng-click="clickStar(false, commentIndex, recordIndex)"><a><i class="fa fa-star-o"></i></a></h5>
                                </div>
                                <div class="col-sm-10">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <p>{{commentEntry.comment}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <form novalidate role="form" name="commentForm" ng-submit="addNote(recordIndex)">
                                    <div class="col-sm-1 panel-body text-center">
                                        <h5 ng-show="newComment.starred === true" ng-click="newStar(true, recordIndex)"><a><i class="fa fa-star"></i></a></h5>
                                        <h5 ng-show="newComment.starred === false" ng-click="newStar(false, recordIndex)"><a><i class="fa fa-star-o"></i></a></h5>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <label for="commentEntry">New Note:</label>
                                        <textarea class="form-control" placeholder="Enter Note" rows="2" required ng-required="true" ng-minLength="1" ng-model="newComment.comment" name="commentEntry"></textarea>
                                    </div>
                                    <div class="form-group col-sm-10">
                                        <div class="col-sm-2 pull-right">
                                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Add Note</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapse{{recordIndex}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <table class="table table-hover">
                    <tr>
                        <td>Code:</td>
                        <td>{{recordEntry.observation.allergen.code}}</td>
                    </tr>
                    <tr>
                        <td>Code System:</td>
                        <td>{{recordEntry.observation.allergen.code_system_name}}</td>
                    </tr>
                    <tr ng-repeat="(reactionIndex, reactionEntry) in recordEntry.observation.reactions">
                        <td>Reactions:</td>
                        <td>
                            <div class="panel">
                                <table class="table sub-table">
                                    <thead>
                                        <tr>
                                            <td>Reaction:</td>
                                            <td>{{reactionEntry.reaction.name}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Severity:</td>
                                            <td>{{reactionEntry.severity.code.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Code:</td>
                                            <td>{{reactionEntry.reaction.code}}</td>
                                        </tr>
                                        <tr>
                                            <td>Code System:</td>
                                            <td>{{reactionEntry.reaction.code_system_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>