<div class="col-xs-12">
    <div class="panel">
        <div class="panel-body">
            <div >
                <div class="col-xs-3">
                    <h4 class="text-left">{{entryTitle}}</h4>
                    <h5 class="text-left">{{entrySubTitleOne}}</h5>
                    <h5 class="text-left">{{entrySubTitleTwo}}</h5>
                </div>
                <div class="col-xs-9">
                    <!--Record detail pane.-->
                    <div id="details{{recordIndex}}">
                        <div ng-include="entryTemplatePath"></div>
                    </div>
                    <!--Record comments pane.-->
                    <div id="comments{{recordIndex}}" data-parent="#selector" ng-if="entryMetaData.comments">
                        
                        <table class="table">
                            <tr>
                                <td class="col-xs-1">Notes: </td>
                                <td class="col-xs-11">
                                    <div class="panel">
                                        <table class="table table-condensed">
                                            <tbody>
                                                <tr ng-repeat="(commentIndex, commentEntry) in entryMetaData.comments">
                                                    <td class="col-xs-1"><span ng-show="commentEntry.starred === true"><a><i class="fa fa-star"></i></a></span>
                                    <span ng-show="commentEntry.starred === false"><a><i class="fa fa-star-o"></i></a></span>
                                                    </td>
                                                    <td class="col-xs-11">{{commentEntry.comment}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="history{{recordIndex}}">
                        <table class="table">
                            <tr>
                                <td class="col-xs-1">Sources: </td>
                                <td class="col-xs-11">
                                    <div class="panel">
                                        <table class="table table-condensed">
                                            <tbody>
                                                <tr ng-repeat="(attrIndex, attrEntry) in entryData.metadata.attribution">
                                                    <td ><a href="#/files">{{attrEntry.record.filename}}</a>
                                                    </td>
                                                    <td class="capitalize">{{attrEntry.merge_reason}}</td>
                                                    <td>{{attrEntry.merged | date:'short'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!--Tab panes-->
            </div>
        </div>
    </div>
</div>