



<div class="fluid-container col-md-12">
	<div class="row">
		<div ng-include="navPath"></div>
		<div class="col-md-9">
			<div class="col-md-12">
				<br/>
				<span class="lead">New Entries</span>
				<br/>
				<br/>
				
				<!-- All in here. -->
				<div>

					<!-- Left Pane -->
					<div class="col-md-6 panel panel-default" style="padding: 30px;">

						<div class="panel panel-primary">

							<div class="panel-heading">
								<table>
									<tr>
										<td class="col-md-2"><i class="fa fa-leaf fa-2x"></i></td>
										<td>Allergic Reaction:</br>PENICILLIN</td>
									</table>   
								</div>

								<div class="panel-body">

									<div class="btn-group btn-group-justified">
										<div class="btn-group btn-group-sm">
											<button id="btn1" type="button" class="btn btn-default" ng-click="panelSwitch(1)" ng-class="{active: panelId === 1}">Add</button>
										</div>
										<div class="btn-group btn-group-sm">
											<button id="btn2" type="button" class="btn btn-default" ng-click="panelSwitch(2)" ng-class="{active: panelId === 2}">Match</button>
										</div>
										<div class="btn-group btn-group-sm">
											<button id="btn3" type="button" class="btn btn-default"  ng-click="panelSwitch(3)" ng-class="{active: panelId === 3}">Ignore</button>
										</div>
									</div>

									<div class="col-md-12 text-center">
										<h6>Entry Details <span class="caret"></span></h6>
									</div>


								</div>

								<ng-include src="templatePath"></ng-include>

								<div class="panel-body" ng-hide="panelId === 0">
									<div class="col-md-6">
										<button type="button" class="btn btn-primary">Save</button>
										<button type="button" class="btn btn-default" ng-click="panelSwitch(0)">Cancel</button>
									</div>
								</div>

							</div>

							<div class="panel panel-default col-md-10">
								<div class="panel-body">
									New Allergy #2
								</div>
							</div>

							<div class="panel panel-default col-md-10">
								<div class="panel-body">
									New Allergy #3
								</div>
							</div>

						</div>


						<!-- Right Pane -->
						<div class="col-md-6">

							<div class="panel panel-default col-md-10">
								<div class="panel-body">
									My Allergy
								</div>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
