



<div class="fluid-container col-md-12">
	<div class="row">
		<div ng-include="navPath"></div>
		<div class="col-md-9">
			<div class="col-md-12">
				<br/>
				<span class="lead">Allergic Reaction Matches</span>
				<br/>
				<br/>
				
				<!-- All in here. -->
				<div class="panel panel-default col-md-12">

					<!-- Left Pane -->
					<div class="col-md-6" style="padding: 30px;">

						<div class="panel panel-info">

							<div class="panel-heading">
								<table>
									<tr>
										<td class="col-md-2"><i class="fa fa-leaf fa-2x"></i></td>
										<td class="col-md-10 pull-right text-right"><h4>Unmatched Entry</h4></td>
									</tr>
								</table>   
							</div>

							<div class="panel-body text-center"><h6>Select Entry Updates</h6></div>

								<ng-include src="newTemplatePath"></ng-include>

								<div class="panel-body">
									<div class="col-md-12">
										<button type="button" class="btn btn-default" ng-click="panelSwitch(0)">Discard</button>
									</div>
								</div>

							</div>

						</div>


						<!-- Right Pane -->
						<div class="col-md-6" style="padding: 30px;">

							<div class="panel panel-info">

							<div class="panel-heading">
								<table>
									<tr>
										<td class="col-md-2"><i class="fa fa-leaf fa-2x"></i></td>
										<td class="col-md-10 pull-right text-right"><h4>86% Match</h4></td>
									</tr>
									</table>   
								</div>

								<div class="panel-body text-center"><h6>Not a Match?</h6></div>

								<ng-include src="recordTemplatePath"></ng-include>

								<div class="panel-body" ng-hide="panelId === 0">
									<div class="col-md-6">
										<button type="button" class="btn btn-primary">Save</button>
										<button type="button" class="btn btn-default" ng-click="panelSwitch(0)">Cancel</button>
									</div>
								</div>

							</div>


							<div class="panel panel-default col-md-10">
								<div class="panel-body">
									New Allergy #2
								</div>
							</div>

							<div class="panel panel-default col-md-10">
								<div class="panel-body">
									New Allergy #3
								</div>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
