
.landing-advertising {
	margin: 50px;
}

.landing-panel {
	background: #fff;
	padding: 20px;
	background-image: url('../images/hero3-optimized.jpg');
	
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1600px;
	background-color: $gray-dark;
	min-height: 400px;

	h1 {
		color: #fff;
	}
}
.dev-landing-panel {
	background: #fff;
	padding: 20px;
	background-image: url('../images/dev-hero.jpg');
	
	background-repeat: no-repeat;
	background-size: 1600px;
	background-color: $gray-dark;
	min-height: 400px;

	h1 {
		color: #fff;
	}
}

.icon-circle {
    @extend .img-circle;
	background: $brand-blue;
	width: 100px;
	height:100px;
	margin: 0 auto;
	text-align: center;

	i {
	  margin-top: 20px;
	  color: #fff;
	}
}

