<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0">Match #1 out of {{current_queue.length+1}}
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>

                </div>

            </th>
        </tr>
    </thead>


    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('observation.allergen', null, match_diff.observation.allergen)" ng-class="{selected: selectedItems.observation.allergen, disabled: match_diff.observation.allergen}" ng-show="new_entry.observation.allergen">

                <span ng-hide='match_diff.observation.allergen || selectedItems.observation.allergen' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.observation.allergen || selectedItems.observation.allergen'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div coded-entry input-value="new_entry.observation.allergen" input-title="Allergen" select-field="selectedItems.observation.allergen"></div>
            </div>
             <div ng-hide="new_entry.observation.allergen" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('observation.allergen', null, match_diff.observation.allergen)" ng-class="{selected: selectedItems.observation.allergen, disabled: match_diff.observation.allergen}" ng-show="update_entry.observation.allergen">

                <span ng-show='selectedItems.observation.allergen' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.observation.allergen || selectedItems.observation.allergen'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div coded-entry input-value="update_entry.observation.allergen" input-title="Allergen" select-field="selectedItems.observation.allergen"></div>

<!-- encounters and results
                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div> 
-->                

            </div>
             <div ng-hide="update_entry.observation.allergen" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('observation.intolerance', null, match_diff.observation.intolerance)" ng-class="{selected: selectedItems.observation.intolerance, disabled: match_diff.observation.intolerance}" ng-show="new_entry.observation.intolerance">

                <span ng-hide='match_diff.observation.intolerance || selectedItems.observation.intolerance' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.observation.intolerance || selectedItems.observation.intolerance'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div coded-entry input-value="new_entry.observation.intolerance" input-title="Intolerance" select-field="selectedItems.observation.intolerance"></div>
            </div>
             <div ng-hide="new_entry.observation.intolerance" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('observation.intolerance', null, match_diff.observation.intolerance)" ng-class="{selected: selectedItems.observation.intolerance, disabled: match_diff.observation.intolerance}" ng-show="update_entry.observation.intolerance">

                <span ng-show='selectedItems.observation.intolerance' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.observation.intolerance || selectedItems.observation.intolerance'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div coded-entry input-value="update_entry.observation.intolerance" input-title="Intolerance" select-field="selectedItems.observation.intolerance"></div>

<!-- encounters and results
                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div> 
-->                

            </div>
             <div ng-hide="update_entry.observation.intolerance" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('observation.status', null, match_diff.observation.status)" ng-class="{selected: selectedItems.observation.status, disabled: match_diff.observation.status}" ng-show="new_entry.observation.status">

                <span ng-hide='match_diff.observation.status || selectedItems.observation.status' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.observation.status || selectedItems.observation.status'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div coded-entry input-value="new_entry.observation.status" input-title="Status" select-field="selectedItems.observation.status"></div>
            </div>
             <div ng-hide="new_entry.observation.status" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('observation.status', null, match_diff.observation.status)" ng-class="{selected: selectedItems.observation.status, disabled: match_diff.observation.status}" ng-show="update_entry.observation.status">

                <span ng-show='selectedItems.observation.status' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.observation.status || selectedItems.observation.status'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div coded-entry input-value="update_entry.observation.status" input-title="Status" select-field="selectedItems.observation.status"></div>

<!-- encounters and results
                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div> 
-->                

            </div>
             <div ng-hide="update_entry.observation.status" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('observation.severity', null, match_diff.observation.severity)" ng-class="{selected: selectedItems.observation.severity, disabled: match_diff.observation.severity}" ng-show="new_entry.observation.severity">

                <span ng-hide='match_diff.observation.severity || selectedItems.observation.severity' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.observation.severity || selectedItems.observation.severity'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div severity-entry input-value="new_entry.observation.severity" input-title="Severity" select-field="selectedItems.observation.severity"></div>
            </div>
             <div ng-hide="new_entry.observation.severity" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('observation.severity', null, match_diff.observation.severity)" ng-class="{selected: selectedItems.observation.severity, disabled: match_diff.observation.severity}" ng-show="update_entry.observation.severity">

                <span ng-show='selectedItems.observation.severity' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.observation.severity || selectedItems.observation.severity'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div severity-entry input-value="update_entry.observation.severity" input-title="Severity" select-field="selectedItems.observation.severity"></div>

<!-- encounters and results
                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div> 
-->                

            </div>
             <div ng-hide="update_entry.observation.severity" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('observation.date_time', null, match_diff.observation.date_time)" ng-class="{selected: selectedItems.observation.date_time, disabled: match_diff.observation.date_time}" ng-show="new_entry.observation.date_time">

                <span ng-hide='match_diff.observation.date_time || selectedItems.observation.date_time' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.observation.date_time || selectedItems.observation.date_time'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
            
                <div date-entry input-value="new_entry.observation.date_time" input-title="Effective" select-field="selectedItems.observation.date_time"></div>
            </div>
             <div ng-hide="new_entry.observation.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('observation.date_time', null, match_diff.observation.date_time)" ng-class="{selected: selectedItems.observation.date_time, disabled: match_diff.observation.date_time}" ng-show="update_entry.observation.date_time">

                <span ng-show='selectedItems.observation.date_time' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.observation.date_time || selectedItems.observation.date_time'  style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div date-entry input-value="update_entry.observation.date_time" input-title="Effective" select-field="selectedItems.observation.date_time"></div>

<!-- encounters and results
                <div style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div> 
-->                

            </div>
             <div ng-hide="update_entry.observation.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match" valign="top">
            <div class="list-group-item merge-item" ng-repeat="(el_id, el_entry) in new_entry.observation.reactions" 
                ng-class="{selected: selectedItems.observation.reactions[el_id], disabled: match_diff.observation.reactions.src[el_id]}">

                <!-- allergies -->
                
                <span ng-hide='match_diff.observation_reactions || selectedItems.observation_reactions' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span 
                    ng-hide='selectedItems.observation_reactions'  
                    ng-click="selectField('observation.reactions', el_id, match_diff.observation.reactions.src[el_id])"
                    style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import' ></i></span>
                
            
                <!-- results -->
                

                <!--encounters-->
                
            

                <div reaction-entry input-value="el_entry" input-title="Reaction" input-additional="100+el_id" select-field="selectedItems.reaction[el_id]"></div>
            </div>
             <div ng-hide="new_entry.observation.reactions" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>

        <td class="match" valign="top">
            <div class="list-group-item  merge-item" ng-repeat="(el_id, el_entry) in update_entry.observation.reactions"  ng-class="{selected: selectedItems.observation.reactions[el_id], disabled: match_diff.observation.reactions.dest[el_id]}">



                <!-- allergies -->
                
                <span ng-show='selectedItems.observation.reactions[el_id]' class='label label-success' style="position:absolute;right:30px;top:10px;">Updated</span>
                <div 
                    ng-click="removeField('observation.reactions', el_id, match_diff.observation.reactions.src[el_id])"
                    style="position:absolute;right:10px;top:10px;"><span class="glyphicon glyphicon-remove-circle"></span></div>                
                
            
                <!-- results -->
                

                <!--encounters-->
                


                <div reaction-entry input-value="el_entry" input-title="Reaction" input-additional="200+el_id" select-field="selectedItems.Reaction[el_id]"></div>

            </div>
             <div ng-hide="update_entry.observation.reactions" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>

   


    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" class="btn btn-warning ng-scope" ng-click="createMatch()" ng-if="(section !== 'demographics')   && !(current_queue.length > 0) ">
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>

                    <button ng-if="current_queue.length > 0" type="button" class="btn btn-danger ng-scope" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>

                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button ng-show="changed" type="button" class="btn btn-primary btn-block" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary btn-block" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--
    <pre>{{ selectedItems|json}}</pre>
    <pre>{{ match_diff |json }}</pre>
    -->
</table>
