<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0">Match #1 out of {{current_queue.length+1}}
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>

                </div>

            </th>
        </tr>
    </thead>


    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.name || update_entry.name">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('name', null, match_diff.name)" ng-class="{selected: selectedItems.name, disabled: match_diff.name}" ng-show="new_entry.name">

                <span ng-hide='match_diff.name || selectedItems.name' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.name || selectedItems.name'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div name-entry input-value="new_entry.name" input-title="Name" select-field="selectedItems.name"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.name" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('name', null, match_diff.name)" ng-class="{selected: selectedItems.name, disabled: match_diff.name}" ng-show="update_entry.name">

                <span ng-show='selectedItems.name' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.name || selectedItems.name'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div name-entry input-value="update_entry.name" input-title="Name" select-field="selectedItems.name">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.name" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.gender || update_entry.gender">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('gender', null, match_diff.gender)" ng-class="{selected: selectedItems.gender, disabled: match_diff.gender}" ng-show="new_entry.gender">

                <span ng-hide='match_diff.gender || selectedItems.gender' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.gender || selectedItems.gender'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.gender" input-title="Gender" select-field="selectedItems.gender"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.gender" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('gender', null, match_diff.gender)" ng-class="{selected: selectedItems.gender, disabled: match_diff.gender}" ng-show="update_entry.gender">

                <span ng-show='selectedItems.gender' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.gender || selectedItems.gender'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.gender" input-title="Gender" select-field="selectedItems.gender">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.gender" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.dob || update_entry.dob">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('dob', null, match_diff.dob)" ng-class="{selected: selectedItems.dob, disabled: match_diff.dob}" ng-show="new_entry.dob">

                <span ng-hide='match_diff.dob || selectedItems.dob' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.dob || selectedItems.dob'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div date-entry input-value="new_entry.dob" input-title="Birthday" select-field="selectedItems.dob"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.dob" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('dob', null, match_diff.dob)" ng-class="{selected: selectedItems.dob, disabled: match_diff.dob}" ng-show="update_entry.dob">

                <span ng-show='selectedItems.dob' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.dob || selectedItems.dob'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div date-entry input-value="update_entry.dob" input-title="Birthday" select-field="selectedItems.dob">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.dob" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.birthplace || update_entry.birthplace">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('birthplace', null, match_diff.birthplace)" ng-class="{selected: selectedItems.birthplace, disabled: match_diff.birthplace}" ng-show="new_entry.birthplace">

                <span ng-hide='match_diff.birthplace || selectedItems.birthplace' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.birthplace || selectedItems.birthplace'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div address-entry input-value="new_entry.birthplace" input-title="Birthplace" select-field="selectedItems.birthplace"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.birthplace" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('birthplace', null, match_diff.birthplace)" ng-class="{selected: selectedItems.birthplace, disabled: match_diff.birthplace}" ng-show="update_entry.birthplace">

                <span ng-show='selectedItems.birthplace' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.birthplace || selectedItems.birthplace'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div address-entry input-value="update_entry.birthplace" input-title="Birthplace" select-field="selectedItems.birthplace">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.birthplace" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.marital_status || update_entry.marital_status">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('marital_status', null, match_diff.marital_status)" ng-class="{selected: selectedItems.marital_status, disabled: match_diff.marital_status}" ng-show="new_entry.marital_status">

                <span ng-hide='match_diff.marital_status || selectedItems.marital_status' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.marital_status || selectedItems.marital_status'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.marital_status" input-title="Marital Status" select-field="selectedItems.marital_status"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.marital_status" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('marital_status', null, match_diff.marital_status)" ng-class="{selected: selectedItems.marital_status, disabled: match_diff.marital_status}" ng-show="update_entry.marital_status">

                <span ng-show='selectedItems.marital_status' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.marital_status || selectedItems.marital_status'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.marital_status" input-title="Marital Status" select-field="selectedItems.marital_status">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.marital_status" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.religion || update_entry.religion">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('religion', null, match_diff.religion)" ng-class="{selected: selectedItems.religion, disabled: match_diff.religion}" ng-show="new_entry.religion">

                <span ng-hide='match_diff.religion || selectedItems.religion' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.religion || selectedItems.religion'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.religion" input-title="Religion" select-field="selectedItems.religion"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.religion" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('religion', null, match_diff.religion)" ng-class="{selected: selectedItems.religion, disabled: match_diff.religion}" ng-show="update_entry.religion">

                <span ng-show='selectedItems.religion' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.religion || selectedItems.religion'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.religion" input-title="Religion" select-field="selectedItems.religion">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.religion" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.race_ethnicity || update_entry.race_ethnicity">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('race_ethnicity', null, match_diff.race_ethnicity)" ng-class="{selected: selectedItems.race_ethnicity, disabled: match_diff.race_ethnicity}" ng-show="new_entry.race_ethnicity">

                <span ng-hide='match_diff.race_ethnicity || selectedItems.race_ethnicity' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.race_ethnicity || selectedItems.race_ethnicity'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.race_ethnicity" input-title="Race/Ethnicity" select-field="selectedItems.race_ethnicity"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.race_ethnicity" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('race_ethnicity', null, match_diff.race_ethnicity)" ng-class="{selected: selectedItems.race_ethnicity, disabled: match_diff.race_ethnicity}" ng-show="update_entry.race_ethnicity">

                <span ng-show='selectedItems.race_ethnicity' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.race_ethnicity || selectedItems.race_ethnicity'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.race_ethnicity" input-title="Race/Ethnicity" select-field="selectedItems.race_ethnicity">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.race_ethnicity" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.languages || update_entry.languages">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('languages', null, match_diff.languages)" ng-class="{selected: selectedItems.languages, disabled: match_diff.languages}" ng-show="new_entry.languages">

                <span ng-hide='match_diff.languages || selectedItems.languages' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.languages || selectedItems.languages'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div languages-entry input-value="new_entry.languages" input-title="Languages" select-field="selectedItems.languages"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.languages" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('languages', null, match_diff.languages)" ng-class="{selected: selectedItems.languages, disabled: match_diff.languages}" ng-show="update_entry.languages">

                <span ng-show='selectedItems.languages' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.languages || selectedItems.languages'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div languages-entry input-value="update_entry.languages" input-title="Languages" select-field="selectedItems.languages">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.languages" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.addresses || update_entry.addresses">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('addresses', null, match_diff.addresses)" ng-class="{selected: selectedItems.addresses, disabled: match_diff.addresses}" ng-show="new_entry.addresses">

                <span ng-hide='match_diff.addresses || selectedItems.addresses' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.addresses || selectedItems.addresses'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div addresses-entry input-value="new_entry.addresses" input-title="Address" select-field="selectedItems.addresses"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.addresses" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('addresses', null, match_diff.addresses)" ng-class="{selected: selectedItems.addresses, disabled: match_diff.addresses}" ng-show="update_entry.addresses">

                <span ng-show='selectedItems.addresses' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.addresses || selectedItems.addresses'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div addresses-entry input-value="update_entry.addresses" input-title="Address" select-field="selectedItems.addresses">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.addresses" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.phone || update_entry.phone">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('phone', null, match_diff.phone)" ng-class="{selected: selectedItems.phone, disabled: match_diff.phone}" ng-show="new_entry.phone">

                <span ng-hide='match_diff.phone || selectedItems.phone' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.phone || selectedItems.phone'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div phone-entry input-value="new_entry.phone" input-title="Phone" select-field="selectedItems.phone"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.phone" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('phone', null, match_diff.phone)" ng-class="{selected: selectedItems.phone, disabled: match_diff.phone}" ng-show="update_entry.phone">

                <span ng-show='selectedItems.phone' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.phone || selectedItems.phone'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div phone-entry input-value="update_entry.phone" input-title="Phone" select-field="selectedItems.phone">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.phone" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.email || update_entry.email">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('email', null, match_diff.email)" ng-class="{selected: selectedItems.email, disabled: match_diff.email}" ng-show="new_entry.email">

                <span ng-hide='match_diff.email || selectedItems.email' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.email || selectedItems.email'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div email-entry input-value="new_entry.email" input-title="Email" select-field="selectedItems.email"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.email" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('email', null, match_diff.email)" ng-class="{selected: selectedItems.email, disabled: match_diff.email}" ng-show="update_entry.email">

                <span ng-show='selectedItems.email' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.email || selectedItems.email'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div email-entry input-value="update_entry.email" input-title="Email" select-field="selectedItems.email">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.email" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.guardians || update_entry.guardians">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('guardians', null, match_diff.guardians)" ng-class="{selected: selectedItems.guardians, disabled: match_diff.guardians}" ng-show="new_entry.guardians">

                <span ng-hide='match_diff.guardians || selectedItems.guardians' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.guardians || selectedItems.guardians'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div guardians-entry input-value="new_entry.guardians" input-title="Guardians" select-field="selectedItems.guardians"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.guardians" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('guardians', null, match_diff.guardians)" ng-class="{selected: selectedItems.guardians, disabled: match_diff.guardians}" ng-show="update_entry.guardians">

                <span ng-show='selectedItems.guardians' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.guardians || selectedItems.guardians'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div guardians-entry input-value="update_entry.guardians" input-title="Guardians" select-field="selectedItems.guardians">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.guardians" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>



   


    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" ng-class="{disabled:changed}" class="btn btn-warning ng-scope pull-right" ng-click="createMatch()" ng-if="(section !== 'demographics')   && !(current_queue.length > 0) ">
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>


                    <div ng-hide="changed">
                    <button ng-if="current_queue.length > 0" type="button " class="btn btn-danger ng-scope pull-right" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>
                    </div>

                    <div ng-show="changed">
                    <button ng-if="current_queue.length > 0" type="button " class="btn btn-danger ng-scope pull-right disabled" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>
                    </div>


                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-10 col-md-offset-2">
                    <button ng-show="changed" type="button" class="btn btn-primary pull-left" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-show="changed" type="button" class="btn btn-default pull-right col-md-offset-2" ng-click="reset()"><i class="glyphicon glyphicon-repeat fa-1x"></i> Undo All</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary pull-left" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--
    <pre>{{ selectedItems|json}}</pre>
    <pre>{{ match_diff |json }}</pre>
    -->
</table>
