<ul class="list-group list-matching">

    <li class="list-group-item" ng-click="selectField('name', null, match_diff.name)" ng-class="{selected: selectedItems.name, disabled: match_diff.name}">
        <div name-entry input-value="new_entry.name" input-title="Name" select-field="selectedItems.name"></div>
    </li>


    <li class="list-group-item" ng-click="selectField('gender', null, match_diff.gender)" ng-class="{selected: selectedItems.gender, disabled: match_diff.gender}" ng-show="new_entry.gender">
        <div single-entry input-value="new_entry.gender" input-title="Gender" select-field="selectedItems.gender"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('dob', null, match_diff.dob)" ng-class="{selected: selectedItems.dob, disabled: match_diff.dob}" ng-show="new_entry.dob">
        <div date-entry input-value="new_entry.dob" input-title="Birthday" select-field="selectedItems.dob"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('birthplace', null, match_diff.birthplace)" ng-class="{selected: selectedItems.birthplace, disabled: match_diff.birthplace}" ng-show="new_entry.birthplace">
        <div address-entry input-value="new_entry.birthplace" input-title="Birthplace" select-field="selectedItems.birthplace"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('marital_status', null, match_diff.marital_status)" ng-class="{selected: selectedItems.marital_status, disabled: match_diff.marital_status}" ng-show="new_entry.marital_status">
        <div single-entry input-value="new_entry.marital_status" input-title="Marital Status" select-field="selectedItems.marital_status"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('religion', null, match_diff.religion)" ng-class="{selected: selectedItems.religion, disabled: match_diff.religion}" ng-show="new_entry.religion">
        <div single-entry input-value="new_entry.religion" input-title="Religion" select-field="selectedItems.religion"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('race_ethnicity', null, match_diff.race_ethnicity)" ng-class="{selected: selectedItems.race_ethnicity, disabled: match_diff.race_ethnicity}" ng-show="new_entry.race_ethnicity">
        <div single-entry input-value="new_entry.race_ethnicity" input-title="Race/Ethnicity" select-field="selectedItems.race_ethnicity"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('languages', null, match_diff.languages)" ng-class="{selected: selectedItems.languages, disabled: match_diff.languages}" ng-show="new_entry.languages">
        <div languages-entry input-value="new_entry.languages" input-title="Languages" select-field="selectedItems.languages"></div>
    </li>


    <li class="list-group-item" ng-click="selectField('addresses', null, match_diff.addresses)" ng-class="{selected: selectedItems.addresses, disabled: match_diff.addresses}" ng-show="new_entry.addresses">
        <div addresses-entry input-value="new_entry.addresses" input-title="Address" select-field="selectedItems.addresses"></div>
    </li>


    <li class="list-group-item" ng-click="selectField('phone', null, match_diff.phone)" ng-class="{selected: selectedItems.phone, disabled: match_diff.phone}" ng-show="new_entry.phone">
        <div phone-entry input-value="new_entry.phone" input-title="Phone" select-field="selectedItems.phone"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('email', null, match_diff.email)" ng-show="new_entry.email" ng-class="{selected: selectedItems.email, disabled: match_diff.email}" ng-show="new_entry.email">
        <div email-entry input-value="new_entry.email" input-title="Email" select-field="selectedItems.email"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('guardians', null, match_diff.guardians)" ng-show="new_entry.guardians" ng-class="{selected: selectedItems.guardians, disabled: match_diff.guardians}" ng-show="new_entry.guardians">
        <div guardians-entry input-value="new_entry.guardians" input-title="Guardians" select-field="selectedItems.guardians"></div>
    </li>

</ul>
