<ul class="list-group list-matching">

    <li class="list-group-item" ng-click="selectField('encounter', null, match_diff.encounter)" ng-class="{selected: selectedItems.encounter, disabled: match_diff.encounter}">
        <div coded-entry input-value="new_entry.encounter" input-title="Encounter" select-field="selectedItems.encounter"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}">
        <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
    </li>    

    <li class="list-group-item" ng-click="selectField('performers', null, match_diff.performers)" ng-class="{selected: selectedItems.performers, disabled: match_diff.performers}">
        <div performers-entry input-value="new_entry.performers" input-title="Performers" select-field="selectedItems.performers"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('locations', null, match_diff.locations)" ng-class="{selected: selectedItems.locations, disabled: match_diff.locations}">
        <div encounterlocations-entry input-value="new_entry.locations" input-title="Locations" select-field="selectedItems.locations"></div>
    </li>

    <li class="list-group-item" ng-repeat="(finding_id, finding_entry) in new_entry.findings" ng-click="selectField('findings', finding_id, match_diff.findings.src[finding_id])" ng-class="{selected: selectedItems.findings[finding_id], disabled: match_diff.findings.src[finding_id]}">
        <div finding-entry input-value="finding_entry" input-title="Finding" input-additional="finding_entry" select-field="selectedItems.findings[finding_id]"></div>
    </li>

</ul>
