<ul class="list-group list-matching">

    <li class="list-group-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}">
        <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('status', null, match_diff.status)" ng-class="{selected: selectedItems.status, disabled: match_diff.status}">
        <div single-entry input-value="new_entry.status" input-title="Status" select-field="selectedItems.status"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('product', null, match_diff.product)" ng-class="{selected: selectedItems.product, disabled: match_diff.product}">
        <div product-entry input-value="new_entry.product" input-title="Product" select-field="selectedItems.product"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('product.manufacturer', null, match_diff.product.manufacturer)" ng-class="{selected: selectedItems.product.manufacturer, disabled: match_diff.product.manufacturer}">
        <div single-entry input-value="new_entry.product.manufacturer" input-title="Manufacturer" select-field="selectedItems.product.manufacturer"></div>
    </li>    

    <li class="list-group-item" ng-click="selectField('birthplace', null, match_diff.birthplace)" ng-class="{selected: selectedItems.birthplace, disabled: match_diff.birthplace}">
        <div address-entry input-value="new_entry.birthplace" input-title="Birthplace" select-field="selectedItems.birthplace"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('marital_status', null, match_diff.marital_status)" ng-class="{selected: selectedItems.marital_status, disabled: match_diff.marital_status}">
        <div single-entry input-value="new_entry.marital_status" input-title="Marital Status" select-field="selectedItems.marital_status"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('religion', null, match_diff.religion)" ng-class="{selected: selectedItems.religion, disabled: match_diff.religion}">
        <div single-entry input-value="new_entry.religion" input-title="Religion" select-field="selectedItems.religion"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('race_ethnicity', null, match_diff.race_ethnicity)" ng-class="{selected: selectedItems.race_ethnicity, disabled: match_diff.race_ethnicity}">
        <div single-entry input-value="new_entry.race_ethnicity" input-title="Race/Ethnicity" select-field="selectedItems.race_ethnicity"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('religion', null, match_diff.religion)" ng-class="{selected: selectedItems.religion, disabled: match_diff.religion}">
        <div single-entry input-value="new_entry.religion" input-title="Address" select-field="selectedItems.religion"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('phone', null, match_diff.phone)" ng-class="{selected: selectedItems.phone, disabled: match_diff.phone}">
        <div phone-entry input-value="new_entry.phone" input-title="Phone" select-field="selectedItems.phone"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('email', null, match_diff.email)" ng-show="selectedItems.email" ng-class="{selected: selectedItems.email, disabled: match_diff.email}">
        <div single-entry input-value="new_entry.email" input-title="Email" select-field="selectedItems.email"></div>
    </li>


    <li class="list-group-item" ng-repeat="(reaction_id, reaction_entry) in new_entry.reaction" ng-click="selectField('reaction', reaction_id, match_diff.reaction)" ng-class="{selected: selectedItems.reaction[reaction_id], disabled: match_diff.reaction}">
        <div coded-entry input-value="reaction_entry.reaction" input-title="Reaction" input-additional="reaction_entry" select-field="selectedItems.reaction[reaction_id]"></div>
    </li>

</ul>
