<table class="col-md-12">
    <thead>
        <tr>
            <th class='col-md-6'>
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-leaf fa-2x"></i>
                            </td>
                            <td class="col-md-10 pull-right text-right">
                                <h4>Entry Update</h4>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-leaf fa-2x"></i>
                            </td>
                            <td class="col-md-10 pull-right text-right">
                                <h4>{{match_percent}}% Match</h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0"><a style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Updating the wrong entry?</a>
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>
                </div>
            </th>
        </tr>
    </thead>

    <tr>
        <td>
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="discardMatch()">Discard this Update</a>
                            </li>
                            <li ng-if="section !== 'demographics'"><a href="#" ng-click="createMatch()">Make Update a New Entry</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
        <td>


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" ng-click="saveMatch()">Save Changes</button>
                </div>
            </div>
        </td>
    </tr>



    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('payer_name', null, match_diff.payer_name)" ng-class="{selected: selectedItems.payer_name, disabled: match_diff.payer_name}" ng-show="new_entry.payer_name">
                <div single-entry input-value="new_entry.payer_name" input-title="Payer" select-field="selectedItems.payer_name"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('payer_name', null, match_diff.payer_name)" ng-class="{selected: selectedItems.payer_name, disabled: match_diff.payer_name}" ng-show="update_entry.payer_name">
                <div single-entry input-value="update_entry.payer_name" input-title="Payer" select-field="selectedItems.payer_name"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('name', null, match_diff.name)" ng-class="{selected: selectedItems.name, disabled: match_diff.name}" ng-show="new_entry.name">
                <div single-entry input-value="new_entry.name" input-title="Name" select-field="selectedItems.name"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('name', null, match_diff.name)" ng-class="{selected: selectedItems.name, disabled: match_diff.name}" ng-show="update_entry.name">
                <div single-entry input-value="update_entry.name" input-title="Name" select-field="selectedItems.name"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('plan_id', null, match_diff.plan_id)" ng-class="{selected: selectedItems.plan_id, disabled: match_diff.plan_id}" ng-show="new_entry.plan_id">
                <div single-entry input-value="new_entry.plan_id" input-title="Plan ID" select-field="selectedItems.plan_id"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('plan_id', null, match_diff.plan_id)" ng-class="{selected: selectedItems.plan_id, disabled: match_diff.plan_id}" ng-show="update_entry.plan_id">
                <div single-entry input-value="update_entry.plan_id" input-title="Plan ID" select-field="selectedItems.plan_id"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">
                <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="update_entry.date_time">
                <div date-entry input-value="update_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('addresses', null, match_diff.addresses)" ng-class="{selected: selectedItems.addresses, disabled: match_diff.addresses}" ng-show="new_entry.addresses">
                <div addresses-entry input-value="new_entry.addresses" input-title="Address" select-field="selectedItems.addresses"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('addresses', null, match_diff.addresses)" ng-class="{selected: selectedItems.addresses, disabled: match_diff.addresses}" ng-show="update_entry.addresses">
                <div addresses-entry input-value="update_entry.addresses" input-title="Address" select-field="selectedItems.addresses"></div>
            </div>

        </td>
    </tr>

    <tr class="list-group list-matching">
        <td>
            <div class="list-group-item" ng-click="selectField('type', null, match_diff.type)" ng-class="{selected: selectedItems.type, disabled: match_diff.type}" ng-show="new_entry.type">
                <div multisingle-entry input-value="new_entry.type" input-title="Type" select-field="selectedItems.type"></div>
            </div>
        </td>
        <td>
            <div class="list-group-item" ng-click="removeField('type', null, match_diff.type)" ng-class="{selected: selectedItems.type, disabled: match_diff.type}" ng-show="update_entry.type">
                <div multisingle-entry input-value="update_entry.type" input-title="Type" select-field="selectedItems.type"></div>
            </div>

        </td>
    </tr>
   


    <tr>
        <td>
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="discardMatch()">Discard this Update</a>
                            </li>
                            <li ng-if="section !== 'demographics'"><a href="#" ng-click="createMatch()">Make Update a New Entry</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
        <td>


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" ng-click="saveMatch()">Save Changes</button>
                </div>
            </div>
        </td>
    </tr>
</table>