<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0">Match #1 out of {{current_queue.length+1}}
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>

                </div>

            </th>
        </tr>
    </thead>


    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.date_time || update_entry.date_time">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">

                <span ng-hide='match_diff.date_time || selectedItems.date_time' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.date_time || selectedItems.date_time'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="update_entry.date_time">

                <span ng-show='selectedItems.date_time' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.date_time || selectedItems.date_time'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div date-entry input-value="update_entry.date_time" input-title="Date" select-field="selectedItems.date_time">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.status || update_entry.status">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('status', null, match_diff.status)" ng-class="{selected: selectedItems.status, disabled: match_diff.status}" ng-show="new_entry.status">

                <span ng-hide='match_diff.status || selectedItems.status' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.status || selectedItems.status'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.status" input-title="Status" select-field="selectedItems.status"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.status" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('status', null, match_diff.status)" ng-class="{selected: selectedItems.status, disabled: match_diff.status}" ng-show="update_entry.status">

                <span ng-show='selectedItems.status' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.status || selectedItems.status'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.status" input-title="Status" select-field="selectedItems.status">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.status" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.sig || update_entry.sig">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('sig', null, match_diff.sig)" ng-class="{selected: selectedItems.sig, disabled: match_diff.sig}" ng-show="new_entry.sig">

                <span ng-hide='match_diff.sig || selectedItems.sig' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.sig || selectedItems.sig'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.sig" input-title="Signature" select-field="selectedItems.sig"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.sig" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('sig', null, match_diff.sig)" ng-class="{selected: selectedItems.sig, disabled: match_diff.sig}" ng-show="update_entry.sig">

                <span ng-show='selectedItems.sig' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.sig || selectedItems.sig'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.sig" input-title="Signature" select-field="selectedItems.sig">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.sig" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.product || update_entry.product">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('product', null, match_diff.product)" ng-class="{selected: selectedItems.product, disabled: match_diff.product}" ng-show="new_entry.product">

                <span ng-hide='match_diff.product || selectedItems.product' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.product || selectedItems.product'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div medsproduct-entry input-value="new_entry.product" input-title="Product" select-field="selectedItems.product"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.product" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('product', null, match_diff.product)" ng-class="{selected: selectedItems.product, disabled: match_diff.product}" ng-show="update_entry.product">

                <span ng-show='selectedItems.product' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.product || selectedItems.product'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div medsproduct-entry input-value="update_entry.product" input-title="Product" select-field="selectedItems.product">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.product" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.administration || update_entry.administration">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('administration', null, match_diff.administration)" ng-class="{selected: selectedItems.administration, disabled: match_diff.administration}" ng-show="new_entry.administration">

                <span ng-hide='match_diff.administration || selectedItems.administration' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.administration || selectedItems.administration'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div medsadministration-entry input-value="new_entry.administration" input-title="Administration" select-field="selectedItems.administration"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.administration" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('administration', null, match_diff.administration)" ng-class="{selected: selectedItems.administration, disabled: match_diff.administration}" ng-show="update_entry.administration">

                <span ng-show='selectedItems.administration' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.administration || selectedItems.administration'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div medsadministration-entry input-value="update_entry.administration" input-title="Administration" select-field="selectedItems.administration">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.administration" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.dispense.performer || update_entry.dispense.performer">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('dispense.performer', null, match_diff.dispense.performer)" ng-class="{selected: selectedItems.dispense.performer, disabled: match_diff.dispense.performer}" ng-show="new_entry.dispense.performer">

                <span ng-hide='match_diff.dispense.performer || selectedItems.dispense.performer' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.dispense.performer || selectedItems.dispense.performer'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div performer-entry input-value="new_entry.dispense.performer" input-title="Dispense" select-field="selectedItems.dispense.performer"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.dispense.performer" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('dispense.performer', null, match_diff.dispense.performer)" ng-class="{selected: selectedItems.dispense.performer, disabled: match_diff.dispense.performer}" ng-show="update_entry.dispense.performer">

                <span ng-show='selectedItems.dispense.performer' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.dispense.performer || selectedItems.dispense.performer'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div performer-entry input-value="update_entry.dispense.performer" input-title="Dispense" select-field="selectedItems.dispense.performer">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.dispense.performer" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.supply || update_entry.supply">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('supply', null, match_diff.supply)" ng-class="{selected: selectedItems.supply, disabled: match_diff.supply}" ng-show="new_entry.supply">

                <span ng-hide='match_diff.supply || selectedItems.supply' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.supply || selectedItems.supply'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div medssuply-entry input-value="new_entry.supply" input-title="Supply" select-field="selectedItems.supply"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.supply" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('supply', null, match_diff.supply)" ng-class="{selected: selectedItems.supply, disabled: match_diff.supply}" ng-show="update_entry.supply">

                <span ng-show='selectedItems.supply' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.supply || selectedItems.supply'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div medssuply-entry input-value="update_entry.supply" input-title="Supply" select-field="selectedItems.supply">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.supply" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.drug_vehicle || update_entry.drug_vehicle">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('drug_vehicle', null, match_diff.drug_vehicle)" ng-class="{selected: selectedItems.drug_vehicle, disabled: match_diff.drug_vehicle}" ng-show="new_entry.drug_vehicle">

                <span ng-hide='match_diff.drug_vehicle || selectedItems.drug_vehicle' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.drug_vehicle || selectedItems.drug_vehicle'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div coded-entry input-value="new_entry.drug_vehicle" input-title="Drug Vehicle" select-field="selectedItems.drug_vehicle"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.drug_vehicle" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('drug_vehicle', null, match_diff.drug_vehicle)" ng-class="{selected: selectedItems.drug_vehicle, disabled: match_diff.drug_vehicle}" ng-show="update_entry.drug_vehicle">

                <span ng-show='selectedItems.drug_vehicle' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.drug_vehicle || selectedItems.drug_vehicle'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div coded-entry input-value="update_entry.drug_vehicle" input-title="Drug Vehicle" select-field="selectedItems.drug_vehicle">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.drug_vehicle" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.precondition.value || update_entry.precondition.value">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('precondition.value', null, match_diff.precondition.value)" ng-class="{selected: selectedItems.precondition.value, disabled: match_diff.precondition.value}" ng-show="new_entry.precondition.value">

                <span ng-hide='match_diff.precondition.value || selectedItems.precondition.value' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.precondition.value || selectedItems.precondition.value'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div coded-entry input-value="new_entry.precondition.value" input-title="Precondition" select-field="selectedItems.precondition.value"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.precondition.value" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('precondition.value', null, match_diff.precondition.value)" ng-class="{selected: selectedItems.precondition.value, disabled: match_diff.precondition.value}" ng-show="update_entry.precondition.value">

                <span ng-show='selectedItems.precondition.value' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.precondition.value || selectedItems.precondition.value'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div coded-entry input-value="update_entry.precondition.value" input-title="Precondition" select-field="selectedItems.precondition.value">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.precondition.value" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.indication || update_entry.indication">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('indication', null, match_diff.indication)" ng-class="{selected: selectedItems.indication, disabled: match_diff.indication}" ng-show="new_entry.indication">

                <span ng-hide='match_diff.indication || selectedItems.indication' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.indication || selectedItems.indication'  style="position:absolute;right:10px;bottom:5px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div medindication-entry input-value="new_entry.indication" input-title="Indication" select-field="selectedItems.indication"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.indication" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('indication', null, match_diff.indication)" ng-class="{selected: selectedItems.indication, disabled: match_diff.indication}" ng-show="update_entry.indication">

                <span ng-show='selectedItems.indication' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.indication || selectedItems.indication'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div medindication-entry input-value="update_entry.indication" input-title="Indication" select-field="selectedItems.indication">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.indication" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>



   


    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" ng-class="{disabled:changed}" class="btn btn-warning ng-scope pull-right" ng-click="createMatch()" ng-if="(section !== 'demographics')   && !(current_queue.length > 0) ">
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>


                    <div ng-hide="changed">
                    <button ng-if="current_queue.length > 0" type="button " class="btn btn-danger ng-scope pull-right" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>
                    </div>

                    <div ng-show="changed">
                    <button ng-if="current_queue.length > 0" type="button " class="btn btn-danger ng-scope pull-right disabled" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>
                    </div>


                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-2 col-md-offset-7">
                    <button ng-show="changed" type="button" class="btn btn-primary pull-right" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary pull-right" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--
    <pre>{{ selectedItems|json}}</pre>
    <pre>{{ match_diff |json }}</pre>
    -->
</table>
