<ul class="list-group list-matching">

    <li class="list-group-item" ng-click="selectField('negation_indicator', null, match_diff.negation_indicator)" ng-class="{selected: selectedItems.negation_indicator, disabled: match_diff.negation_indicator}" >
        <div single-entry input-value="new_entry.negation_indicator" input-title="Negation Indicator" select-field="selectedItems.negation_indicator"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">
        <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('problem', null, match_diff.problem)" ng-class="{selected: selectedItems.problem, disabled: match_diff.problem}" ng-show="new_entry.problem">
        <div problem-entry input-value="new_entry.problem" input-title="Problem" select-field="selectedItems.problem"></div>
    </li>


    <li class="list-group-item" ng-click="selectField('status', null, match_diff.status)" ng-class="{selected: selectedItems.status, disabled: match_diff.status}" ng-show="new_entry.status">
        <div problemstatus-entry input-value="new_entry.status" input-title="Status" select-field="selectedItems.status"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('patient_status', null, match_diff.patient_status)" ng-class="{selected: selectedItems.patient_status, disabled: match_diff.patient_status}" ng-show="new_entry.patient_status">
        <div single-entry input-value="new_entry.patient_status" input-title="Patient Status" select-field="selectedItems.patient_status"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('onset_age', null, match_diff.onset_age)" ng-class="{selected: selectedItems.onset_age, disabled: match_diff.onset_age}" ng-show="new_entry.onset_age">
        <div single-entry input-value="new_entry.onset_age" input-title="Onset Age" select-field="selectedItems.onset_age"></div>
    </li>

    <li class="list-group-item" ng-click="selectField('onset_age_unit', null, match_diff.onset_age_unit)" ng-class="{selected: selectedItems.onset_age_unit, disabled: match_diff.onset_age_unit}" ng-show="new_entry.onset_age_unit">
        <div single-entry input-value="new_entry.onset_age_unit" input-title="Onset Age Unit" select-field="selectedItems.onset_age_unit"></div>
    </li>

</ul>
