<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0">Match #1 out of {{current_queue.length+1}}
                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>

                </div>

            </th>
        </tr>
    </thead>


    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.negation_indicator || update_entry.negation_indicator">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('negation_indicator', null, match_diff.negation_indicator)" ng-class="{selected: selectedItems.negation_indicator, disabled: match_diff.negation_indicator}" ng-show="new_entry.negation_indicator">

                <span ng-hide='match_diff.negation_indicator || selectedItems.negation_indicator' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.negation_indicator || selectedItems.negation_indicator'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.negation_indicator" input-title="Negation Indicator" select-field="selectedItems.negation_indicator"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.negation_indicator" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('negation_indicator', null, match_diff.negation_indicator)" ng-class="{selected: selectedItems.negation_indicator, disabled: match_diff.negation_indicator}" ng-show="update_entry.negation_indicator">

                <span ng-show='selectedItems.negation_indicator' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.negation_indicator || selectedItems.negation_indicator'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.negation_indicator" input-title="Negation Indicator" select-field="selectedItems.negation_indicator">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.negation_indicator" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.date_time || update_entry.date_time">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">

                <span ng-hide='match_diff.date_time || selectedItems.date_time' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.date_time || selectedItems.date_time'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div date-entry input-value="new_entry.date_time" input-title="Date" select-field="selectedItems.date_time"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="update_entry.date_time">

                <span ng-show='selectedItems.date_time' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.date_time || selectedItems.date_time'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div date-entry input-value="update_entry.date_time" input-title="Date" select-field="selectedItems.date_time">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.date_time" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.problem || update_entry.problem">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('problem', null, match_diff.problem)" ng-class="{selected: selectedItems.problem, disabled: match_diff.problem}" ng-show="new_entry.problem">

                <span ng-hide='match_diff.problem || selectedItems.problem' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.problem || selectedItems.problem'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div problem-entry input-value="new_entry.problem" input-title="Problem" select-field="selectedItems.problem"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.problem" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('problem', null, match_diff.problem)" ng-class="{selected: selectedItems.problem, disabled: match_diff.problem}" ng-show="update_entry.problem">

                <span ng-show='selectedItems.problem' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.problem || selectedItems.problem'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div problem-entry input-value="update_entry.problem" input-title="Problem" select-field="selectedItems.problem">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.problem" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.status || update_entry.status">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('status', null, match_diff.status)" ng-class="{selected: selectedItems.status, disabled: match_diff.status}" ng-show="new_entry.status">

                <span ng-hide='match_diff.status || selectedItems.status' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.status || selectedItems.status'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div problemstatus-entry input-value="new_entry.status" input-title="Status" select-field="selectedItems.status"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.status" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('status', null, match_diff.status)" ng-class="{selected: selectedItems.status, disabled: match_diff.status}" ng-show="update_entry.status">

                <span ng-show='selectedItems.status' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.status || selectedItems.status'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div problemstatus-entry input-value="update_entry.status" input-title="Status" select-field="selectedItems.status">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.status" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.patient_status || update_entry.patient_status">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('patient_status', null, match_diff.patient_status)" ng-class="{selected: selectedItems.patient_status, disabled: match_diff.patient_status}" ng-show="new_entry.patient_status">

                <span ng-hide='match_diff.patient_status || selectedItems.patient_status' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.patient_status || selectedItems.patient_status'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.patient_status" input-title="Patient Status" select-field="selectedItems.patient_status"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.patient_status" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('patient_status', null, match_diff.patient_status)" ng-class="{selected: selectedItems.patient_status, disabled: match_diff.patient_status}" ng-show="update_entry.patient_status">

                <span ng-show='selectedItems.patient_status' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.patient_status || selectedItems.patient_status'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.patient_status" input-title="Patient Status" select-field="selectedItems.patient_status">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.patient_status" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.onset_age || update_entry.onset_age">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('onset_age', null, match_diff.onset_age)" ng-class="{selected: selectedItems.onset_age, disabled: match_diff.onset_age}" ng-show="new_entry.onset_age">

                <span ng-hide='match_diff.onset_age || selectedItems.onset_age' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.onset_age || selectedItems.onset_age'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.onset_age" input-title="Onset Age" select-field="selectedItems.onset_age"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.onset_age" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('onset_age', null, match_diff.onset_age)" ng-class="{selected: selectedItems.onset_age, disabled: match_diff.onset_age}" ng-show="update_entry.onset_age">

                <span ng-show='selectedItems.onset_age' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.onset_age || selectedItems.onset_age'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.onset_age" input-title="Onset Age" select-field="selectedItems.onset_age">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.onset_age" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching" ng-show="new_entry.onset_age_unit || update_entry.onset_age_unit">
        <td class="match" >
            <div class="list-group-item merge-item" ng-click="selectField('onset_age_unit', null, match_diff.onset_age_unit)" ng-class="{selected: selectedItems.onset_age_unit, disabled: match_diff.onset_age_unit}" ng-show="new_entry.onset_age_unit">

                <span ng-hide='match_diff.onset_age_unit || selectedItems.onset_age_unit' class='label label-info' style="position:absolute;right:95px;top:10px;">Different</span>
  
                <span ng-hide='match_diff.onset_age_unit || selectedItems.onset_age_unit'  style="position:absolute;right:10px;top:8px;">copy over <i class='glyphicon glyphicon-import' > </i></span>
            
                <div single-entry input-value="new_entry.onset_age_unit" input-title="Onset Age Unit" select-field="selectedItems.onset_age_unit"></div>

                <br/>

            </div>
             <div ng-hide="new_entry.onset_age_unit" class="disabled">
                    <div class="text-center">
                        <h4>No Update</h4>
                    </div>
                </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('onset_age_unit', null, match_diff.onset_age_unit)" ng-class="{selected: selectedItems.onset_age_unit, disabled: match_diff.onset_age_unit}" ng-show="update_entry.onset_age_unit">

                <span ng-show='selectedItems.onset_age_unit' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.onset_age_unit || selectedItems.onset_age_unit'  style="position:absolute;right:10px;bottom:10px;">undo <i class='glyphicon glyphicon-refresh' ></i></span>

                

                <div single-entry input-value="update_entry.onset_age_unit" input-title="Onset Age Unit" select-field="selectedItems.onset_age_unit">

                </div>

                <br/>

            </div>
             <div ng-hide="update_entry.onset_age_unit" class="disabled">
                    <div class="text-center">
                        <h4>No Data</h4>
                    </div>
                </div>
        </td>
    </tr>



   


    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" ng-class="{disabled:changed}" class="btn btn-warning ng-scope pull-right" ng-click="createMatch()" ng-if="(section !== 'demographics')   && !(current_queue.length > 0) ">
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>


                    <div ng-hide="changed">
                    <button ng-if="current_queue.length > 0" type="button " class="btn btn-danger ng-scope pull-right" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>
                    </div>

                    <div ng-show="changed">
                    <button ng-if="current_queue.length > 0" type="button " class="btn btn-danger ng-scope pull-right disabled" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>
                    </div>


                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-10 col-md-offset-2">
                    <button ng-show="changed" type="button" class="btn btn-primary pull-left" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-show="changed" type="button" class="btn btn-default pull-right col-md-offset-2" ng-click="reset()"><i class="glyphicon glyphicon-repeat fa-1x"></i> Undo All</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary pull-left" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--
    <pre>{{ selectedItems|json}}</pre>
    <pre>{{ match_diff |json }}</pre>
    -->
</table>
