<table class="col-md-12 table-striped match">
    <thead>
        <tr>
            <th class='col-md-6'>

                <div class="panel-body text-center">
                    <h6>Select Updates</h6>
                </div>


            </th>

            <th class='col-md-6'>
                <div class="panel-body text-center">
                    <h6 ng-if="current_queue.length > 0">Match #1 out of {{current_queue.length+1}}
                        <a ng-click="rotateMatch(current_match_index + 1)">

                    </h6>
                    <h6 ng-if="current_queue.length === 0">Current Record</h6>

                </div>

            </th>
        </tr>
    </thead>


    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match">
            <div class="list-group-item merge-item" ng-click="selectField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="new_entry.date_time">

                <span ng-hide='match_diff.date_time || selectedItems.date_time' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.date_time || selectedItems.date_time' style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import'></i>
                </span>

                <div date-entry input-value="new_entry.date_time" input-title="Effective" select-field="selectedItems.date_time"></div>
            </div>
            <div ng-hide="new_entry.date_time" class="disabled">
                <div class="text-center">
                    <h4>No Update</h4>
                </div>
            </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('date_time', null, match_diff.date_time)" ng-class="{selected: selectedItems.date_time, disabled: match_diff.date_time}" ng-show="update_entry.date_time">

                <span ng-show='selectedItems.date_time' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.date_time || selectedItems.date_time' style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh'></i>
                </span>



                <div date-entry input-value="update_entry.date_time" input-title="Effective" select-field="selectedItems.date_time"></div>
            </div>
            <div ng-hide="update_entry.date_time" class="disabled">
                <div class="text-center">
                    <h4>No Data</h4>
                </div>
            </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match">
            <div class="list-group-item merge-item" ng-click="selectField('code', null, match_diff.code)" ng-class="{selected: selectedItems.code, disabled: match_diff.code}" ng-show="new_entry.code">

                <span ng-hide='match_diff.code || selectedItems.code' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.code || selectedItems.code' style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import'></i>
                </span>

                <div coded-entry input-value="new_entry.code" input-title="Social History of" select-field="selectedItems.code"></div>
            </div>
            <div ng-hide="new_entry.code" class="disabled">
                <div class="text-center">
                    <h4>No Update</h4>
                </div>
            </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('code', null, match_diff.code)" ng-class="{selected: selectedItems.code, disabled: match_diff.code}" ng-show="update_entry.code">

                <span ng-show='selectedItems.code' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.code || selectedItems.code' style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh'></i>
                </span>



                <div coded-entry input-value="update_entry.code" input-title="Social History of" select-field="selectedItems.code"></div>
            </div>
            <div ng-hide="update_entry.code" class="disabled">
                <div class="text-center">
                    <h4>No Data</h4>
                </div>
            </div>
        </td>
    </tr>




    <!--tr><td colspan = "2"><hr></td></tr-->
    <tr class="list-group list-matching">
        <td class="match">
            <div class="list-group-item merge-item" ng-click="selectField('value', null, match_diff.value)" ng-class="{selected: selectedItems.value, disabled: match_diff.value}" ng-show="new_entry.value">

                <span ng-hide='match_diff.value || selectedItems.value' class='label label-info' style="position:absolute;right:10px;top:10px;">Different</span>
                <span ng-hide='match_diff.value || selectedItems.value' style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-import'></i>
                </span>

                <div single-entry input-value="new_entry.value" input-title="Value" select-field="selectedItems.value"></div>
            </div>
            <div ng-hide="new_entry.value" class="disabled">
                <div class="text-center">
                    <h4>No Update</h4>
                </div>
            </div>
        </td>
        <td class="match">
            <div class="list-group-item  merge-item" ng-click="removeField('value', null, match_diff.value)" ng-class="{selected: selectedItems.value, disabled: match_diff.value}" ng-show="update_entry.value">

                <span ng-show='selectedItems.value' class='label label-success' style="position:absolute;right:10px;top:10px;">Updated</span>
                <span ng-show='selectedItems.value || selectedItems.value' style="position:absolute;right:10px;bottom:10px;"><i class='glyphicon glyphicon-refresh'></i>
                </span>



                <div single-entry input-value="update_entry.value" input-title="Value" select-field="selectedItems.value"></div>
            </div>
            <div ng-hide="update_entry.value" class="disabled">
                <div class="text-center">
                    <h4>No Data</h4>
                </div>
            </div>
        </td>
    </tr>







    <tr>
        <td class="match">
            <div class="panel-body">
                <div class="col-md-2 col-md-offset-7">
                    <button type="button" class="btn btn-warning ng-scope" ng-click="createMatch()" ng-if="(section !== 'demographics') && (current_queue.length <= 0)>
                        <i class="glyphicon glyphicon-arrow-down"></i><i class="glyphicon glyphicon-arrow-down"></i> Create New
                    </button>

                    <button ng-if="current_queue.length > 0" type="button" class="btn btn-danger ng-scope" ng-click="rotateMatch(current_match_index + 1)"><i class="glyphicon glyphicon-remove-circle"></i> Not a match</button>

                </div>
            </div>
        </td>
        <td class="match">


            <div class="panel-body" ng-hide="panelId === 0">
                <div class="col-md-12">
                    <button ng-show="changed" type="button" class="btn btn-primary btn-block" ng-click="saveMatch()"><i class="glyphicon glyphicon-save  fa-rotate-270"></i> Save Update</button>

                    <button ng-hide="changed" type="button" class="btn btn-primary btn-block" ng-click="discardMatch()"><i class="glyphicon glyphicon-ban-circle"></i> Ignore Update</button>

                </div>
            </div>
        </td>
    </tr>
    <!--pre>{{ selectedItems|json}}</pre>
    <pre>{{ changed }}</pre-->
</table>
