

<div class="fluid-container col-md-12">
	<div class="row">
		<div ng-include="navPath"></div>
		<div class="col-md-9">
			<div class="col-md-12">
				<h5>
					<br/>
					<span class="lead">Storage</span>
					<button type="button" class="btn btn-info pull-right" data-target="#uploadModal" data-toggle="modal"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>
					<br/>
					<br/>
				</h5>
			</div>

			<div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" type="button" data-dismiss="modal" ara-hidden="true">&times;</button>
							<div class="modal-title">Upload Record</div>
						</div>
						<div class="modal-body">
						<form>
							<div class="form-group">
								<input class="form-control" type="file" id="uploadFile" file-model="myFile"/>
							</div>
						</form>

						<button class="btn btn-primary" type="submit" ng-click="uploadRecord()" data-dismiss="modal">Upload</button>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">	
							<span style="cursor:pointer;" ng-click="nameSort();"><i class="fa fa-sort pull-left" style="margin-right: 10px; line-height: 1.6em;"></i>File Name</span>
							<span style="cursor:pointer;" ng-click="dateSort();" class="pull-right"><i class="fa fa-sort pull-right" style="margin-right: 10px; line-height: 1.6em;"></i>Upload Date</span>
						</div>		
					</div>
					<div class="panel-body">
							<ul class="list-group" ng-repeat="file in file_array | orderBy:predicate">
							<a>
							<li class="list-group-item" style="cursor:pointer;">
								<i class="fa fa-file-o fa-lg pull-left" style="margin-right: 10px;"></i>
								<span style="text-transform:lowercase;">{{file.file_name}}</span>
								<span class="pull-right" style="text-transform:lowercase;">{{file.file_upload_date | date: 'short'}}</span>
							</li>
							</a>
							</ul>
					</div>
				</div>
			</div>

			<!--<div class="panel-group" ng-repeat="file in file_array | orderBy:predicate">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a>
							<div class="panel-title">
								<i class="fa fa-file-o fa-lg pull-left" style="margin-right: 10px;"></i>
								<span style="text-transform:lowercase;">{{file.file_name}}</span>
								<span class="pull-right" style="text-transform:lowercase;">{{file.file_upload_date | date: 'short'}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>-->


		</div>
	</div>